<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point = "org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant name = "WOComponentRename" 
      	class = "org.objectstyle.wolips.refactoring.WOComponentRenameParticipant" 
      	id = "org.objectstyle.wolips.refactoring.WOComponentRenameParticipant">
         <enablement>
            <with variable = "affectedNatures">
               <iterate operator="or">
                  <equals value="org.eclipse.jdt.core.javanature"></equals>
               </iterate>
            </with>
            <with variable="element">
               <instanceof value = "org.eclipse.jdt.core.IType"></instanceof>
            </with>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="org.objectstyle.wolips.refactoring.PrincipalClassRenameParticipant"
            id="org.objectstyle.wolips.refactoring.PrincipalClassRenameParticipant"
            name="PrincipalClassRename">
         <enablement>
            <with variable="affectedNatures">
               <iterate operator="or">
                  <equals value="org.eclipse.jdt.core.javanature"/>
               </iterate>
            </with>
            <with variable="element">
               <instanceof value="org.eclipse.jdt.core.IType"/>
            </with>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="org.objectstyle.wolips.refactoring.PrincipalClassMoveParticipant"
            id="org.objectstyle.wolips.refactoring.PrincipalClassMoveParticipant"
            name="PrincipalClassMove">
         <enablement>
            <with variable="affectedNatures">
               <iterate operator="or">
                  <equals value="org.eclipse.jdt.core.javanature"/>
               </iterate>
            </with>
            <with variable="element">
               <instanceof value="org.eclipse.jdt.core.IType"/>
            </with>
         </enablement>
      </moveParticipant>
   </extension>

</plugin>
