<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.objectstyle.wolips.wodclipse.api.ApiEditor"
            default="true"
            icon="icons/ApiEditor.gif"
            id="org.objectstyle.wolips.wodclipse.api.ApiEditor"
            name="Api Editor">
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.wodclipse.api"
            /> 
      </editor>
      <editor
            class="org.objectstyle.wolips.wodclipse.editors.WODEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/WODEditor.gif"
            id="org.objectstyle.wolips.wodclipse.editors.WODEditor"
            name="WOD Editor">
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.wodclipse.wod"
            /> 
      </editor>
      <editor
            default="true"
            icon="icons/ComponentEditor.gif"
            id="org.objectstyle.wolips.wodclipse.mpe.ComponentEditorLauncher"
            launcher="org.objectstyle.wolips.wodclipse.mpe.ComponentEditorLauncher"
            name="WOComponent Editor">
			<contentTypeBinding
               contentTypeId="org.eclipse.jdt.core.javaSource"
            /> 
      </editor>
      <editor
            class="org.objectstyle.wolips.wodclipse.mpe.ComponentEditor"
            icon="icons/ComponentEditor.gif"
            default="false"
            name="WOComponent Editor internal"
            id="org.objectstyle.wolips.wodclipse.mpe.ComponentEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.objectstyle.wolips.wodclipse.preferences.WODEditorPreferencePage"
            category="org.objectstyle.wolips.preferences.PreferencesPage"
            id="org.objectstyle.wolips.wodclipse.preferences.WODEditorPreferencePage"
            name="WOD Editor Preferences"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.objectstyle.wolips.wodclipse.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="wod"
            id="org.objectstyle.wolips.wodclipse.wod"
            name="wod file of a WOComponent"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="api"
            id="org.objectstyle.wolips.wodclipse.api"
            name="api file of a WOComponent"
            priority="normal"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Editing WOD Files Context"
            id="org.objectstyle.wolips.wodclipse.wodEditorScope"
            name="Editing WOD Files"
            parentId="org.eclipse.ui.textEditorScope"/>
   </extension>
   
   <!-- Templates -->
	<extension point="org.eclipse.ui.editors.templates">
		<include
			file="templates/htmlwo-templates.xml"
			translations="templates/htmlwo-templates.properties">
		</include>
  		<resolver
        		class="org.objectstyle.wolips.wodclipse.html.templates.TemplateVariableWebObjectsName"
        		contextTypeId="html_all"
        		type="wotagnameattribute"
        		name="wotagnameattribute"/>
    </extension>

</plugin>
