<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.objectstyle.wolips.wodclipse.api.ApiEditor"
            default="false"
            extensions="api"
            icon="icons/ApiEditor.gif"
            id="org.objectstyle.wolips.wodclipse.api.ApiEditor"
            name="Api Editor">
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.api"
            /> 
      </editor>
      <editor
            class="org.objectstyle.wolips.wodclipse.wod.WodEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="wod"
            icon="icons/WODEditor.gif"
            id="org.objectstyle.wolips.wodclipse.wod.WodEditor"
            name="Wod Editor">
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.wod"
            /> 
      </editor>
      <editor
            default="true"
            extensions="java,html,wod,woo,api"
            icon="icons/ComponentEditor.gif"
            id="org.objectstyle.wolips.wodclipse.mpe.ComponentEditorLauncher"
            launcher="org.objectstyle.wolips.wodclipse.mpe.ComponentEditorLauncher"
            name="WOComponent Editor">
			<contentTypeBinding
               contentTypeId="org.eclipse.jdt.core.javaSource"
            /> 
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.api"
            />
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.wod"
            /> 
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.woo"
            /> 
			<contentTypeBinding
               contentTypeId="org.eclipse.core.runtime.text"
            /> 
      </editor>
      <editor
            class="org.objectstyle.wolips.wodclipse.mpe.ComponentEditor"
            default="false"
            icon="icons/ComponentEditor.gif"
            id="org.objectstyle.wolips.wodclipse.mpe.ComponentEditor"
            name="WOComponent Editor internal">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.objectstyle.wolips.wodclipse.preferences.WodEditorPreferencePage"
            category="org.objectstyle.wolips.preferences.PreferencesPage"
            id="org.objectstyle.wolips.wodclipse.preferences.WodEditorPreferencePage"
            name="Wod Editor Preferences"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.objectstyle.wolips.wodclipse.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Editing Wod Files Context"
            id="org.objectstyle.wolips.wodclipse.wodEditorScope"
            name="Editing Wod Files"
            parentId="org.eclipse.ui.textEditorScope"/>
   </extension>
   
   <!-- Templates -->
	<extension point="org.eclipse.ui.editors.templates">
		<include
			file="templates/htmlwo-templates.xml"
			translations="templates/htmlwo-templates.properties">
		</include>
  		<resolver
        		class="org.objectstyle.wolips.wodclipse.html.templates.TemplateVariableWebObjectsName"
        		contextTypeId="html_all"
        		type="wotagnameattribute"
        		name="wotagnameattribute"/>
    </extension>
    
    <extension
        point="org.eclipse.ui.commands">
        <category
            name="Component Editor"
            description="Component Editor"
            id="org.objectstyle.wolips.wodclipse.componenteditor">
      </category>
        <command
                name="Switch to Java Editor"
                description="Switch to Java Editor"
                categoryId="org.objectstyle.wolips.wodclipse.componenteditor"
                id="org.objectstyle.wolips.wodclipse.editors.tojava">
        </command>
        <command
                name="Switch to Html Editor"
                description="Switch to Html Editor"
                categoryId="org.objectstyle.wolips.wodclipse.componenteditor"
                id="org.objectstyle.wolips.wodclipse.editors.tohtml">
        </command>
        <command
                name="Switch to Wod Editor"
                description="Switch to Wod Editor"
                categoryId="org.objectstyle.wolips.wodclipse.componenteditor"
                id="org.objectstyle.wolips.wodclipse.editors.towod">
        </command>
        <command
                name="Switch to Api Editor"
                description="Switch to Api Editor"
                categoryId="org.objectstyle.wolips.wodclipse.componenteditor"
                id="org.objectstyle.wolips.wodclipse.editors.toapi">
        </command>
        <command
                name="Save Component"
                description="Save Component"
                categoryId="org.objectstyle.wolips.wodclipse.componenteditor"
                id="org.objectstyle.wolips.wodclipse.editors.savecomponent">
        </command>
    </extension>
    <extension point="org.eclipse.ui.bindings">
		<key
        		commandId="org.objectstyle.wolips.wodclipse.editors.tojava"
        		contextId="org.eclipse.ui.textEditorScope"
        		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        		sequence="M1+M3+1"/>
		<key
        		commandId="org.objectstyle.wolips.wodclipse.editors.tohtml"
        		contextId="org.eclipse.ui.textEditorScope"
        		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        		sequence="M1+M3+2"/>
		<key
        		commandId="org.objectstyle.wolips.wodclipse.editors.towod"
        		contextId="org.eclipse.ui.textEditorScope"
        		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        		sequence="M1+M3+3"/>
		<key
        		commandId="org.objectstyle.wolips.wodclipse.editors.toapi"
        		contextId="org.eclipse.ui.textEditorScope"
        		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        		sequence="M1+M3+4"/>
		<key
        		commandId="org.objectstyle.wolips.wodclipse.editors.savecomponent"
        		contextId="org.eclipse.ui.textEditorScope"
        		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        		sequence="M1+M3+S"/>
	</extension>
	
	<extension point = "org.eclipse.ui.editorActions">
      <editorContribution 
         id="org.objectstyle.wolips.wodclipse.componenteditor.javacontribution" 
         targetID="org.eclipse.jdt.ui.CompilationUnitEditor">        
           <menu id="ComponentEditorJava"
			label="&amp;Component Editor" 
             path="edit/additions">
 				<separator name="group1"/>
 				<separator name="group2"/>
		  </menu>
         <action
               class="org.objectstyle.wolips.wodclipse.editormenu.SwitchToApiEditorActionDelegate"
               definitionId="org.objectstyle.wolips.wodclipse.editors.toapi"
               id="org.objectstyle.wolips.wodclipse.editors.switchfromjavatoapi"
               label="Switch to Api Editor"
               menubarPath="edit/ComponentEditorJava/group1"/>
         <action
               class="org.objectstyle.wolips.wodclipse.editormenu.SwitchToWodEditorActionDelegate"
               definitionId="org.objectstyle.wolips.wodclipse.editors.towod"
               id="org.objectstyle.wolips.wodclipse.editors.switchfromjavatowod"
               label="Switch to Wod Editor"
               menubarPath="edit/ComponentEditorJava/group1"/>
         <action
               class="org.objectstyle.wolips.wodclipse.editormenu.SwitchToHtmlEditorActionDelegate"
               definitionId="org.objectstyle.wolips.wodclipse.editors.tohtml"
               id="org.objectstyle.wolips.wodclipse.editors.switchfromjavatohtml"
               label="Switch to Html Editor"
               menubarPath="edit/ComponentEditorJava/group1"/> 
         <action
               class="org.objectstyle.wolips.wodclipse.editormenu.SwitchToJavaEditorActionDelegate"
               definitionId="org.objectstyle.wolips.wodclipse.editors.tojava"
               id="org.objectstyle.wolips.wodclipse.editors.switchfromjavatojava"
               label="Switch to Java Editor"
               menubarPath="edit/ComponentEditorJava/group1"/>
         <action
               class="org.objectstyle.wolips.wodclipse.editormenu.SaveComponentEditorActionDelegate"
               definitionId="org.objectstyle.wolips.wodclipse.editors.savecomponent"
               id="org.objectstyle.wolips.wodclipse.editors.savecomponentinjava"
               label="Save Component"
               menubarPath="edit/ComponentEditorJava/group2"/> 
      </editorContribution>
      <editorContribution 
         id="org.objectstyle.wolips.wodclipse.componenteditor.htmlcontribution" 
         targetID="org.eclipse.wst.html.core.htmlsource.source">        
           <menu id="ComponentEditorHtml"
			label="&amp;Component Editor" 
             path="edit/additions">
 				<separator name="group1"/>
 				<separator name="group2"/>
		  </menu>
         <action
               class="org.objectstyle.wolips.wodclipse.editormenu.SwitchToApiEditorActionDelegate"
               definitionId="org.objectstyle.wolips.wodclipse.editors.toapi"
               id="org.objectstyle.wolips.wodclipse.editors.switchfromhtmltoapi"
               label="Switch to Api Editor"
               menubarPath="edit/ComponentEditorHtml/group1"/>
         <action
               class="org.objectstyle.wolips.wodclipse.editormenu.SwitchToWodEditorActionDelegate"
               definitionId="org.objectstyle.wolips.wodclipse.editors.towod"
               id="org.objectstyle.wolips.wodclipse.editors.switchfromhtmltowod"
               label="Switch to Wod Editor"
               menubarPath="edit/ComponentEditorHtml/group1"/>
         <action
               class="org.objectstyle.wolips.wodclipse.editormenu.SwitchToHtmlEditorActionDelegate"
               definitionId="org.objectstyle.wolips.wodclipse.editors.tohtml"
               id="org.objectstyle.wolips.wodclipse.editors.switchfromhtmltohtml"
               label="Switch to HTML Editor"
               menubarPath="edit/ComponentEditorHtml/group1"/>
         <action
               class="org.objectstyle.wolips.wodclipse.editormenu.SwitchToJavaEditorActionDelegate"
               definitionId="org.objectstyle.wolips.wodclipse.editors.tojava"
               id="org.objectstyle.wolips.wodclipse.editors.switchfromhtmltojava"
               label="Switch to Java Editor"
               menubarPath="edit/ComponentEditorHtml/group1"/>
         <action
               class="org.objectstyle.wolips.wodclipse.editormenu.SaveComponentEditorActionDelegate"
               definitionId="org.objectstyle.wolips.wodclipse.editors.savecomponent"
               id="org.objectstyle.wolips.wodclipse.editors.savecomponentinhtml"
               label="Save Component"
               menubarPath="edit/ComponentEditorHtml/group2"/>  
      </editorContribution>
      <editorContribution 
         id="org.objectstyle.wolips.wodclipse.componenteditor.wodcontribution" 
         targetID="org.objectstyle.wolips.wodclipse.wod.WodEditor">        
           <menu id="ComponentEditorWod"
			label="&amp;Component Editor" 
             path="edit/additions">
 				<separator name="group1"/>
 				<separator name="group2"/>
		  </menu>
         <action
               class="org.objectstyle.wolips.wodclipse.editormenu.SwitchToApiEditorActionDelegate"
               definitionId="org.objectstyle.wolips.wodclipse.editors.toapi"
               id="org.objectstyle.wolips.wodclipse.editors.switchfromwodtoapi"
               label="Switch to Api Editor"
               menubarPath="edit/ComponentEditorWod/group1"/> 
         <action
               class="org.objectstyle.wolips.wodclipse.editormenu.SwitchToWodEditorActionDelegate"
               definitionId="org.objectstyle.wolips.wodclipse.editors.towod"
               id="org.objectstyle.wolips.wodclipse.editors.switchfromwodtowod"
               label="Switch to Wod Editor"
               menubarPath="edit/ComponentEditorWod/group1"/> 
         <action
               class="org.objectstyle.wolips.wodclipse.editormenu.SwitchToHtmlEditorActionDelegate"
               definitionId="org.objectstyle.wolips.wodclipse.editors.tohtml"
               id="org.objectstyle.wolips.wodclipse.editors.switchfromwodtohtml"
               label="Switch to Html Editor"
               menubarPath="edit/ComponentEditorWod/group1"/> 
         <action
               class="org.objectstyle.wolips.wodclipse.editormenu.SwitchToJavaEditorActionDelegate"
               definitionId="org.objectstyle.wolips.wodclipse.editors.tojava"
               id="org.objectstyle.wolips.wodclipse.editors.switchfromwodtojava"
               label="Switch to Java Editor"
               menubarPath="edit/ComponentEditorWod/group1"/>
         <action
               class="org.objectstyle.wolips.wodclipse.editormenu.SaveComponentEditorActionDelegate"
               definitionId="org.objectstyle.wolips.wodclipse.editors.savecomponent"
               id="org.objectstyle.wolips.wodclipse.editors.savecomponentinwod"
               label="Save Component"
               menubarPath="edit/ComponentEditorWod/group2"/> 
      </editorContribution>
 	  <editorContribution 
         id="org.objectstyle.wolips.wodclipse.componenteditor.apicontribution" 
         targetID="org.objectstyle.wolips.wodclipse.api.ApiEditor">        
           <menu id="ComponentEditorApi"
			label="&amp;Component Editor" 
             path="edit/additions">
 				<separator name="group1"/>
 				<separator name="group2"/>
		  </menu>
         <action
               class="org.objectstyle.wolips.wodclipse.editormenu.SwitchToApiEditorActionDelegate"
               definitionId="org.objectstyle.wolips.wodclipse.editors.toapi"
               id="org.objectstyle.wolips.wodclipse.editors.switchfromapitoapi"
               label="Switch to Api Editor"
               menubarPath="edit/ComponentEditorApi/group1"/> 
         <action
               class="org.objectstyle.wolips.wodclipse.editormenu.SwitchToWodEditorActionDelegate"
               definitionId="org.objectstyle.wolips.wodclipse.editors.towod"
               id="org.objectstyle.wolips.wodclipse.editors.switchfromapitowod"
               label="Switch to Wod Editor"
               menubarPath="edit/ComponentEditorApi/group1"/> 
         <action
               class="org.objectstyle.wolips.wodclipse.editormenu.SwitchToHtmlEditorActionDelegate"
               definitionId="org.objectstyle.wolips.wodclipse.editors.tohtml"
               id="org.objectstyle.wolips.wodclipse.editors.switchfromapitohtml"
               label="Switch to Html Editor"
               menubarPath="edit/ComponentEditorApi/group1"/> 
         <action
               class="org.objectstyle.wolips.wodclipse.editormenu.SwitchToJavaEditorActionDelegate"
               definitionId="org.objectstyle.wolips.wodclipse.editors.tojava"
               id="org.objectstyle.wolips.wodclipse.editors.switchfromapitojava"
               label="Switch to Java Editor"
               menubarPath="edit/ComponentEditorApi/group1"/>
         <action
               class="org.objectstyle.wolips.wodclipse.editormenu.SaveComponentEditorActionDelegate"
               definitionId="org.objectstyle.wolips.wodclipse.editors.savecomponent"
               id="org.objectstyle.wolips.wodclipse.editors.savecomponentinapi"
               label="Save Component"
               menubarPath="edit/ComponentEditorApi/group2"/> 
      </editorContribution>
 	</extension>
</plugin>
