<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.objectstyle.wolips.wodclipse"
   name="WOLips WOD Editor Plug-in"
   version="1.0.6"
   provider-name="objectstyle.org"
   class="org.objectstyle.wolips.wodclipse.WodclipsePlugin">
   <runtime>
      <library name="lib/wolips-wodclipse.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.objectstyle.wolips.workbenchutilities"/>
   </requires>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.objectstyle.wolips.wodclipse.editors.WODEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="wod"
            icon="icons/WODEditor.gif"
            id="org.objectstyle.wolips.wodclipse.editors.WODEditor"
            name="WOD Editor">
      </editor>
      <editor
            default="true"
            icon="icons/ComponentEditor.gif"
            id="org.objectstyle.wolips.wodclipse.mpe.ComponentEditorLauncher"
            launcher="org.objectstyle.wolips.wodclipse.mpe.ComponentEditorLauncher"
            name="WOComponent Editor">
			<contentTypeBinding
               contentTypeId="org.eclipse.jdt.core.javaSource"
            /> 
      </editor>
      <editor
            class="org.objectstyle.wolips.wodclipse.mpe.ComponentEditor"
            icon="icons/ComponentEditor.gif"
            default="false"
            name="WOComponent Editor internal"
            id="org.objectstyle.wolips.wodclipse.mpe.ComponentEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.objectstyle.wolips.wodclipse.preferences.WODEditorPreferencePage"
            category="org.objectstyle.wolips.preferences.PreferencesPage"
            id="org.objectstyle.wolips.wodclipse.preferences.WODEditorPreferencePage"
            name="WOD Editor Preferences"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.objectstyle.wolips.wodclipse.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="wod"
            id="org.objectstyle.wolips.wodclipse.wod"
            name="org.objectstyle.wolips.wodclipse.wod"
            priority="normal"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Editing WOD Files Context"
            id="org.objectstyle.wolips.wodclipse.wodEditorScope"
            name="Editing WOD Files"
            parentId="org.eclipse.ui.textEditorScope"/>
   </extension>
   
   <!-- Templates -->
	<extension point="org.eclipse.ui.editors.templates">
		<include
			file="templates/htmlwo-templates.xml"
			translations="templates/htmlwo-templates.properties">
		</include>
  		<resolver
        		class="org.objectstyle.wolips.wodclipse.html.templates.TemplateVariableWebObjectsName"
        		contextTypeId="html_all"
        		type="wotagnameattribute"
        		name="wotagnameattribute"/>
    </extension>
   
</plugin>
