<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.objectstyle.woproject.wolips"
   name="WOLips Plug-in"
   version="1.0.0"
   provider-name="objectstyle.org parts Assense Software Solutions GmbH"
   class="org.objectstyle.woproject.wolips.WOLipsPlugin">

   <runtime>
      <library name="lib/woproject-wolips.jar">
      	<export name="*"/>
      </library>
   </runtime>
   
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.apache.ant"/>
      <import plugin="org.eclipse.ant.core"/>
   </requires>

   <!-- help -->
   <extension point="org.eclipse.help.toc">
      <toc
            file="oc.xml"
            primary="true">
      </toc>
   </extension>

 	<!-- Project Wizard -->
	<extension 
		point="org.eclipse.ui.newWizards">
		<category
	   		id = "org.objectstyle.woproject.wolips.projects"
	   		name="%WOLips.categoryName">
		</category>

		<wizard 
			id="org.objectstyle.woproject.wolips.projects.woframework.WOFrameworkProjectCreationWizard"
			name="%WOFrameworkProjectCreationWizard.title"
			class="org.objectstyle.woproject.wolips.projects.woframework.WOFrameworkProjectCreationWizard"
			category="org.objectstyle.woproject.wolips.projects"
			project="true"
			finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
			icon="icons/full/ctool16/newjprjex_wiz.gif"
			banner="icons/full/wizban/newjprjex_wiz.gif">
			<description>%WOFrameworkProjectCreationWizard.description</description>
	    	<projectsetup
        		pagetitle="%WOFrameworkProjectCreationWizard.pagetitle"
        		pagedescription="%WOFrameworkProjectCreationWizard.pagedescription"
         		label="%WOFrameworkProjectCreationWizard.label"
        		name="WOFramework">
           		<nature id="org.eclipse.jdt.core.javanature"/>
           		<import dest="" src="templates/woframework"/>
        	</projectsetup>
      	</wizard>
      	
      	<wizard 
			id="org.objectstyle.woproject.wolips.projects.woapplication.WOApplicationProjectCreationWizard"
			name="%WOApplicationProjectCreationWizard.title"
			class="org.objectstyle.woproject.wolips.projects.woapplication.WOApplicationProjectCreationWizard"
			category="org.objectstyle.woproject.wolips.projects"
			project="true"
			finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
			icon="icons/full/ctool16/newjprjex_wiz.gif"
			banner="icons/full/wizban/newjprjex_wiz.gif">
			<description>%WOApplicationProjectCreationWizard.description</description>
	    	<projectsetup
        		pagetitle="%WOApplicationProjectCreationWizard.pagetitle"
        		pagedescription="%WOApplicationProjectCreationWizard.pagedescription"
         		label="%WOApplicationProjectCreationWizard.label"
        		name="WOApplication">
           		<nature id="org.eclipse.jdt.core.javanature"/>
           		<import dest="" src="templates/woapplication"/>
        	</projectsetup>
      	</wizard>	
	</extension>  

	<!-- ant -->
     
	<extension point="org.eclipse.ant.core.extraClasspathEntries">
		<extraClasspathEntry library="lib/woproject.jar">
		</extraClasspathEntry>
		<extraClasspathEntry library="lib/cayenne.jar">
		</extraClasspathEntry>
		<extraClasspathEntry library="lib/log4j-1.2beta4.jar">
		</extraClasspathEntry>
	</extension>
	
   	<extension point="org.eclipse.ant.core.antTasks">
      	<antTask
         	name="woapplication"
         	class="org.objectstyle.woproject.ant.WOApplication"
         	library="lib/woproject.jar">
      	</antTask>
      	
     	<antTask
         	name="woframework"
         	class="org.objectstyle.woproject.ant.WOFramework"
         	library="lib/woproject.jar">
      	</antTask>

      	<antTask
         	name="wogenerator"
         	class="org.objectstyle.woproject.ant.WOGenerator"
         	library="lib/woproject.jar">
      	</antTask>
   	</extension>

</plugin>
