<webobject name="EntitiesForm">
   <table border="0" cellpadding="4" cellspacing="0">
      <tr>
         <td valign="middle" align="center"><webobject name="AppleLogo"></webobject></td>
      </tr>
      <webobject name="HasValidSession">
         <tr valign="middle" align="center">
            <td valign="middle" align="center"><b><font color=white>Entities</font></b><br>
               <webobject name="EntitiesPopup"></webobject>
            </td>
         </tr>
         <tr valign="middle" align="center">
            <td valign="middle" align="center">
               <webobject name="FindButton"></webobject>
            </td>
         </tr>
         <tr valign="middle" align="center">
            <td valign="middle" align="center">
               <webobject name="NewButton"></webobject>
            </td>
         </tr>
         <tr valign="middle" align="center">
            <td align="center" valign="middle">
               <webobject name="HomeLink"><webobject name="HomeButton"></webobject></webobject></td>
         </tr>
         <tr>
            <td align="center" valign="middle"><webobject name="LoginLink"><webobject name="LoginButton"></webobject></webobject></td>
         </tr>
         <webobject name="LAEnabledConditional">
            <tr>
               <td align="center" valign="middle"><webobject name="CustomizeLink"><webobject name="CustomizeButton"></webobject></webobject></td>
            </tr>
         </webobject>
         <tr>
            <td>&nbsp;</td>
         </tr>
         <tr>
            <td>&nbsp;</td>
         </tr>
         <tr>
            <td align="bottom" valign="middle" heigth="40%"><webobject name="D2WLink2"><webobject name="D2WLogo2"></webobject></webobject></td>
         </tr>
      </webobject>
      <webobject name="NoValidSession">
         <tr valign="middle">
            <td align="center" valign="middle" height="80%"><webobject name="D2WLink"><webobject name="D2WLogo"></webobject></webobject></td>
         </tr>
      </webobject>
   </table>
</webobject>
<webobject name="RemoteControl"></webobject>