Body: WOComponentContent {
	_unroll = true;
}

BodyContainer: WOBody {
	bgcolor="#000000";
	filename="fuzzyGreyStripe.gif";
	framework="JavaDirectToWeb";
	style = "font-family:lucida grande, helvetica, arial, sans-serif; font-size:11px; color:white;";
	link = "white";
	vlink = "white";
	onload = "fixStuff();";
}

Head: D2WHead {
}

//MenuHeader is resolved at runtime
Header: MenuHeader {
}

DarwinShadow1: DarwinShadow {
  elementID="theHeaderTable";
}

DarwinShadow2: DarwinShadow {
}


