<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!-- =================================================================================== -->
<!-- Extension: Classpath variables initializer                                          -->
<!-- =================================================================================== -->
<extension point="org.eclipse.jdt.core.classpathVariableInitializer">
	<classpathVariableInitializer
		variable="NEXT_LOCAL_ROOT"
		class="org.objectstyle.wolips.jdt.classpath.NextLocalRootInitializer"/>
	<classpathVariableInitializer
		variable="NEXT_SYSTEM_ROOT"
		class="org.objectstyle.wolips.jdt.classpath.NextSystemRootInitializer"/>
	<classpathVariableInitializer
		variable="NEXT_ROOT"
		class="org.objectstyle.wolips.jdt.classpath.NextRootInitializer"/>
	<classpathVariableInitializer
		variable="EXTERNAL_BUILD_ROOT"
		class="org.objectstyle.wolips.jdt.classpath.ExternalBuildRootInitializer"/>
</extension>
<!-- =================================================================================== -->
<!-- Extension: Classpath container initializer                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.objectstyle.wolips.jdt.classpath.ContainerInitializer"
            id="org.objectstyle.wolips.WO_CLASSPATH">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.objectstyle.wolips.jdt.classpath.ContainerInitializer"
            id="org.objectstyle.wolips.ContainerInitializer">
      </classpathContainerInitializer>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Classpath container page                                                 -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="WebObjects Frameworks"
            class="org.objectstyle.wolips.jdt.ui.ContainerPage"
            id="org.objectstyle.wolips.ContainerInitializer">
      </classpathContainerPage>
   </extension>
<!-- =========================================================================== -->
<!-- Filter Support                                                              -->
<!-- =========================================================================== -->
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
<!-- Package Explorer -->
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            id="org.objectstyle.wolips.ui.javaelementfilters.makefiles"
            name="PB makefiles (WOLips)"
            enabled="true"
            description="Hide the makefiles required by PBWO"
            pattern="Makefil*">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            id="org.objectstyle.wolips.ui.javaelementfilters.antclasspaths"
            name="ant classpath files (WOLips)"
            enabled="true"
            description="Hide the ant classpath files generated by WOLips"
            pattern="ant.classpaths.*">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            id="org.objectstyle.wolips.ui.javaelementfilters.antframeworks"
            name="ant framework files (WOLips)"
            enabled="true"
            description="Hide the ant framework files generated by WOLips"
            pattern="ant.frameworks.*">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            id="org.objectstyle.wolips.ui.javaelementfilters.pbdorproject"
            name="PB.project (WOLips)"
            enabled="true"
            description="Hide the PBWO project file."
            pattern="PB.project">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            id="org.objectstyle.wolips.ui.javaelementfilters.dotapi"
            name="WOComponent api (WOLips)"
            enabled="false"
            description="Hide all *.api files"
            pattern="*.api">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            id="org.objectstyle.wolips.ui.javaelementfilters.dotwoo"
            name="woo (WOLips)"
            enabled="false"
            description="Hide all *.woo files"
            pattern="*.woo">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            id="org.objectstyle.wolips.ui.javaelementfilters.woaicon"
            name="WOA Icon (WOLips)"
            enabled="true"
            description="Hides the WOA Icon"
            pattern="WOAfile.icns">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            id="org.objectstyle.wolips.ui.javaelementfilters.custominfo.plist"
            name="CustomInfo.plist (WOLips)"
            enabled="true"
            description="Hide all CustomInfo.plist files"
            pattern="CustomInfo.Plist">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            id="org.objectstyle.wolips.ui.javaelementfilters.properties"
            name="Properties (WOLips)"
            enabled="false"
            description="Hides files named Properties"
            pattern="Properties">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            id="org.objectstyle.wolips.ui.javaelementfilters.builddotproperties"
            name="build.properties (WOLips)"
            enabled="true"
            description="Hide all build.properties files"
            pattern="build.properties">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            id="org.objectstyle.wolips.ui.javaelementfilters.builddotxml"
            name="build.xml (WOLips)"
            enabled="false"
            description="Hide all build.xml files"
            pattern="build.xml">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            id="org.objectstyle.wolips.ui.javaelementfilters.dotxcode"
            name="Xcode (WOLips)"
            enabled="true"
            description="Hide all *.xcode/*.xcodeproj files"
            pattern="*.xcode*">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            id="org.objectstyle.wolips.ui.javaelementfilters.dist"
            name="dist (WOLips)"
            enabled="false"
            description="Hide all dist files"
            pattern="dist">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            id="org.objectstyle.wolips.ui.javaelementfilters.build"
            name="build (WOLips)"
            enabled="true"
            description="Hide all build files"
            pattern="build">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            id="org.objectstyle.wolips.ui.javaelementfilters.woproject"
            name="woproject (WOLips)"
            enabled="false"
            description="Hide all woproject files"
            class="org.objectstyle.wolips.jdt.javaelementfilters.WoprojectFilter">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
      	   id="org.objectstyle.wolips.ui.javaelementfilters.wocomponent"
            name="WOComponent (WOLips)"
            enabled="false"
            description="Hide all WOComponents"
            class="org.objectstyle.wolips.jdt.javaelementfilters.ComponentFilter">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            description="Hide all EOGenerator underscore files"
            enabled="true"
            id="org.objectstyle.wolips.ui.javaelementfilters.eogeneratedFiles"
            name="EOGenerator _Files"
            pattern="_*.java">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            name="%HideSystemFiles.label"
            enabled="true"
            description="%HideSystemFiles.description"
            pattern=".*">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            name="%HideInnerClassFiles.label"
            enabled="true"
            description="%HideInnerClassFiles.description"
            class="org.eclipse.jdt.internal.ui.filters.InnerClassFilesFilter"
            id="org.objectstyle.wolips.jdt.ui.WOPackageExplorer.HideInnerClassFilesFilter">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            name="%HideEmptyPackages.label"
            enabled="true"
            description="%HideEmptyPackages.description"
            class="org.eclipse.jdt.internal.ui.filters.EmptyPackageFilter"
            id="org.objectstyle.wolips.jdt.ui.WOPackageExplorer.EmptyPackageFilter">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            name="%HideEmptyInnerPackages.label"
            enabled="true"
            description="%HideEmptyInnerPackages.description"
            class="org.eclipse.jdt.internal.ui.filters.EmptyInnerPackageFilter"
            id="org.objectstyle.wolips.jdt.ui.WOPackageExplorer.EmptyInnerPackageFilter">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            name="%HideNonJavaElements.label"
            enabled="false"
            description="%HideNonJavaElements.description"
            class="org.eclipse.jdt.internal.ui.filters.NonJavaElementFilter"
            id="org.objectstyle.wolips.jdt.ui.WOPackageExplorer.NonJavaElementFilter">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            name="%HideReferencedLibraries.label"
            enabled="false"
            description="%HideReferencedLibraries.description"
            class="org.eclipse.jdt.internal.ui.filters.LibraryFilter"
            id="org.objectstyle.wolips.jdt.ui.WOPackageExplorer.LibraryFilter">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            name="%HideContainedLibraries.label"
            enabled="false"
            description="%HideContainedLibraries.description"
            class="org.eclipse.jdt.internal.ui.filters.ContainedLibraryFilter"
            id="org.objectstyle.wolips.jdt.ui.WOPackageExplorer.ContainedLibraryFilter">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            name="%HideJavaFiles.label"
            enabled="false"
            description="%HideJavaFiles.description"
            class="org.eclipse.jdt.internal.ui.filters.JavaFileFilter"
            id="org.objectstyle.wolips.jdt.ui.WOPackageExplorer.CuAndClassFileFilter">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            name="%HidePackageDeclaration.label"
            enabled="true"
            description="%HidePackageDeclaration.description"
            class="org.eclipse.jdt.internal.ui.filters.PackageDeclarationFilter"
            id="org.objectstyle.wolips.jdt.ui.WOPackageExplorer.PackageDeclarationFilter">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            name="%HideImportDeclaration.label"
            enabled="true"
            description="%HideImportDeclaration.description"
            class="org.eclipse.jdt.internal.ui.filters.ImportDeclarationFilter"
            id="org.objectstyle.wolips.jdt.ui.WOPackageExplorer.ImportDeclarationFilter">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            name="%HideSyntheticMembers.label"
            enabled="true"
            description="%HideSyntheticMembers.description"
            class="org.eclipse.jdt.internal.ui.filters.SyntheticMembersFilter"
            id="org.objectstyle.wolips.jdt.ui.WOPackageExplorer.SyntheticMembersFilter">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            name="%HideNonJavaProjects.label"
            enabled="false"
            description="%HideNonJavaProjects.description"
            class="org.eclipse.jdt.internal.ui.filters.NonJavaProjectsFilter"
            id="org.objectstyle.wolips.jdt.ui.WOPackageExplorer.NonJavaProjectsFilter">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            name="%HideNonSharedProjects.label"
            enabled="false"
            description="%HideNonSharedProjects.description"
            class="org.eclipse.jdt.internal.ui.filters.NonSharedProjectFilter"
            id="org.objectstyle.wolips.jdt.ui.WOPackageExplorer.NonSharedProjectsFilter">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            name="%HideClosedProjects.label"
            enabled="false"
            description="%HideClosedProjects.description"
            class="org.eclipse.jdt.internal.ui.filters.ClosedProjectFilter"
            id="org.objectstyle.wolips.jdt.ui.WOPackageExplorer.ClosedProjectsFilter">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            name="%HideFields.label"
            enabled="false"
            description="%HideFields.description"
            class="org.eclipse.jdt.internal.ui.filters.FieldsFilter"
            id="org.objectstyle.wolips.jdt.ui.WOPackageExplorer.FieldsFilter">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            name="%HideStatics.label"
            enabled="false"
            description="%HideStatics.description"
            class="org.eclipse.jdt.internal.ui.filters.StaticsFilter"
            id="org.objectstyle.wolips.jdt.ui.WOPackageExplorer.StaticsFilter">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            name="%HideNonPublic.label"
            enabled="false"
            description="%HideNonPublic.description"
            class="org.eclipse.jdt.internal.ui.filters.NonPublicFilter"
            id="org.objectstyle.wolips.jdt.ui.WOPackageExplorer.NonPublicFilter">
      </filter>
      <filter
            targetId="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
            name="%HideLocalTypes.label"
            enabled="false"
            description="%HideLocalTypes.description"
            class="org.eclipse.jdt.internal.ui.filters.LocalTypesFilter"
            id="org.objectstyle.wolips.jdt.ui.WOPackageExplorer.LocalTypesFilter">
      </filter>
   </extension>
<!-- =========================================================================== -->
<!-- Decorators                                                                  -->
<!-- =========================================================================== -->
	<extension point="org.eclipse.ui.decorators">
		<decorator
			label="Action"
			lightweight="true"
			location="BOTTOM_RIGHT"		
			state="true"
			class="org.objectstyle.wolips.jdt.decorator.ActionMethodDecorator"
			id="org.objectstyle.wolips.jdt.decorator.action">
			<description>
				Action
			</description>
			<enablement>
				<objectClass
					name="org.eclipse.jdt.core.IMethod">
				</objectClass>
			</enablement>
		</decorator>
      <decorator
            class="org.objectstyle.wolips.jdt.decorator.EOModelDecorator"
            id="org.objectstyle.wolips.jdt.decorator.EOModelDecorator"
            label="EOModel Decorator"
            lightweight="false"
            state="true">
         <enablement>
            <and>
               <objectClass name="org.eclipse.core.resources.IFolder"/>
               <objectState
                     name="extension"
                     value="eomodeld"/>
            </and>
         </enablement>
      </decorator>
      <decorator
            class="org.objectstyle.wolips.jdt.decorator.WOComponentDecorator"
            id="org.objectstyle.wolips.jdt.decorator.WOComponentDecorator"
            label="WOComponent Decorator"
            lightweight="false"
            state="true">
         <enablement>
            <and>
               <objectClass name="org.eclipse.core.resources.IFolder"/>
               <objectState
                     name="extension"
                     value="wo"/>
            </and>
         </enablement>
      </decorator>
      <decorator
            class="org.objectstyle.wolips.jdt.decorator.APIDecorator"
            id="org.objectstyle.wolips.jdt.decorator.APIDecorator"
            label="API Decorator"
            lightweight="false"
            state="true">
         <enablement>
            <and>
               <objectClass name="org.eclipse.core.resources.IFile"/>
               <objectState
                     name="extension"
                     value="api"/>
            </and>
         </enablement>
      </decorator>
   </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          allowMultiple="false"
          category="org.objectstyle.wolips.ui"
          class="org.objectstyle.wolips.jdt.ui.WOPackageExplorerPart"
          icon="icons/WOLips16-16.png"
          id="org.objectstyle.wolips.jdt.ui.WOPackageExplorer"
          name="WO Package Explorer">
    </view>
 </extension>
 
 


<!-- =================================================================================== -->
<!-- Extension: Popup menus                                                              -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="org.objectstyle.wolips.jdt.ui.tags.actions">
         <action
               label="Tag Components"
               class="org.objectstyle.wolips.jdt.ui.tags.actions.TagResourcesAction"
               menubarPath="org.objectstyle.wolips.ui.ResourceContributions/group4"
               id="org.objectstyle.wolips.jdt.ui.tags.actions.TagResourcesAction">
         </action>
      </objectContribution>

   </extension>
</plugin>
