<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!-- =================================================================================== -->
<!-- Extension: Classpath variables initializer                                          -->
<!-- =================================================================================== -->
<extension point="org.eclipse.jdt.core.classpathVariableInitializer">
	<classpathVariableInitializer
		variable="NEXT_LOCAL_ROOT"
		class="org.objectstyle.wolips.jdt.classpath.NextLocalRootInitializer"/>
</extension>
<extension point="org.eclipse.jdt.core.classpathVariableInitializer">
	<classpathVariableInitializer
		variable="NEXT_SYSTEM_ROOT"
		class="org.objectstyle.wolips.jdt.classpath.NextSystemRootInitializer"/>
</extension>
<extension point="org.eclipse.jdt.core.classpathVariableInitializer">
	<classpathVariableInitializer
		variable="NEXT_ROOT"
		class="org.objectstyle.wolips.jdt.classpath.NextRootInitializer"/>
</extension>
<extension point="org.eclipse.jdt.core.classpathVariableInitializer">
	<classpathVariableInitializer
		variable="EXTERNAL_BUILD_ROOT"
		class="org.objectstyle.wolips.jdt.classpath.ExternalBuildRootInitializer"/>
</extension>
<!-- =================================================================================== -->
<!-- Extension: Classpath container initializer                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.objectstyle.wolips.jdt.classpath.WOClasspathContainerInitializer"
            id="org.objectstyle.wolips.WO_CLASSPATH">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.objectstyle.wolips.jdt.classpath.ContainerInitializer"
            id="org.objectstyle.wolips.ContainerInitializer">
      </classpathContainerInitializer>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Classpath container page                                                 -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="WebObjects Frameworks old"
            class="org.objectstyle.wolips.jdt.ui.WOClassPathContainerPage"
            id="org.objectstyle.wolips.WO_CLASSPATH">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="WebObjects Frameworks"
            class="org.objectstyle.wolips.jdt.ui.ContainerPage"
            id="org.objectstyle.wolips.ContainerInitializer">
      </classpathContainerPage>
   </extension>
  
</plugin>