<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point = "org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant name = "WOComponentRename" 
      	class = "org.objectstyle.wolips.refactoring.RenameWOComponentParticipant" 
      	id = "org.objectstyle.wolips.refactoring.RenameWOComponentParticipant">
         <enablement>
            <with variable = "affectedNatures">
               <iterate operator="or">
                  <equals value="org.eclipse.jdt.core.javanature"></equals>
               </iterate>
            </with>
            <with variable="element">
               <instanceof value = "org.eclipse.jdt.core.IType"></instanceof>
            </with>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="org.objectstyle.wolips.refactoring.PrincipalClassRenameParticipant"
            id="org.objectstyle.wolips.refactoring.PrincipalClassRenameParticipant"
            name="PrincipalClassRename">
         <enablement>
            <with variable="affectedNatures">
               <iterate operator="or">
                  <equals value="org.eclipse.jdt.core.javanature"/>
               </iterate>
            </with>
            <with variable="element">
               <or>
                  <instanceof
                        value="org.eclipse.jdt.core.IType">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.jdt.core.IPackageFragment">
                  </instanceof>
               </or>
            </with>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="org.objectstyle.wolips.refactoring.PrincipalClassMoveParticipant"
            id="org.objectstyle.wolips.refactoring.PrincipalClassMoveParticipant"
            name="PrincipalClassMove">
         <enablement>
            <with variable="affectedNatures">
               <iterate operator="or">
                  <equals value="org.eclipse.jdt.core.javanature"/>
               </iterate>
            </with>
            <with variable="element">
               <or>
                  <instanceof
                        value="org.eclipse.jdt.core.IType">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.jdt.core.IPackageFragment">
                  </instanceof>
               </or>
            </with>
         </enablement>
      </moveParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.objectstyle.wolips.refactoring.wocomponent"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="org.eclipse.jdt.ui.refactoring.menu"
               label=" Refac&amp;tor"
               path="edit">
            <separator
                  name="reorgGroup">
            </separator>
         </menu>
         <action
               class="org.objectstyle.wolips.refactoring.actions.RenameWOComponentAction"
               enablesFor="1"
               id="org.objectstyle.wolips.refactoring.wocomponent.rename"
               label="Re&amp;name WOComponent..."
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/reorgGroup">
         </action>
         <visibility>
            <or>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <objectState
                        name="extension"
                        value="api">
                  </objectState>
               </and>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IFolder">
                  </objectClass>
                  <objectState
                        name="extension"
                        value="wo">
                  </objectState>
               </and>
            </or>
         </visibility>
      </objectContribution>
   </extension>
</plugin>
