<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.objectstyle.wolips.pbserver.PBServerStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.objectstyle.wolips.pbserver.preferences.PBServerPreferencePage"
            category="org.objectstyle.wolips.preferences.PreferencesPage"
            id="org.objectstyle.wolips.pbserver.preferences.PBServerPreferencePage"
            name="ProjectBuilder Server"/>
   </extension>
</plugin>
