#if( ${WOLipsContext.createPackageDeclaration} )
package ${WOLipsContext.packageName};
#end

import com.webobjects.appserver.WOContext;
#if (${WOLipsContext.superclassImportRequired})
import ${WOLipsContext.superclassName};
#end

public class ${WOLipsContext.componentName} extends ${WOLipsContext.superclassShortName} {
    public ${WOLipsContext.componentName}(WOContext context) {
        super(context);
    }
}