<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


<!-- =================================================================================== -->
<!-- Extension: Popup menus                                                              -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.popupMenus">
<!-- =================================================================================== -->
<!-- menu                                                                                -->
<!-- =================================================================================== -->
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IResource"
            id="org.objectstyle.wolips.goodies.ui.mac.ResourceContributions">
         <menu
               label="&amp;Mac Goodies"
               path="additions"
               id="org.objectstyle.wolips.goodies.ui.mac.ResourceContributions">
            <separator
                  name="group1">
            </separator>
            <separator
                  name="group2">
            </separator>
            <separator
                  name="group3">
            </separator>
         </menu>
      </objectContribution>
<!-- =================================================================================== -->
<!-- actions                                                                             -->
<!-- =================================================================================== -->
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="org.objectstyle.wolips.goodies.ui.mac.actions.RevealInFinderAction">
         <action
               label="Reveal in Finder"
               class="org.objectstyle.wolips.goodies.ui.mac.actions.RevealInFinderAction"
               menubarPath="org.objectstyle.wolips.goodies.ui.mac.ResourceContributions/group1"
               enablesFor="1"
               id="org.objectstyle.wolips.goodies.ui.mac.actions.RevealInFinderAction">
         </action>
      </objectContribution>
         <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="org.objectstyle.wolips.goodies.ui.mac.actions.CdInTerminalAction">
         <action
               label="Cd in Terminal"
               class="org.objectstyle.wolips.goodies.ui.mac.actions.CdInTerminalAction"
               menubarPath="org.objectstyle.wolips.goodies.ui.mac.ResourceContributions/group1"
               enablesFor="1"
               id="org.objectstyle.wolips.goodies.ui.mac.actions.CdInTerminalAction">
         </action>
      </objectContribution>
   </extension>
   
</plugin>
