<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.objectstyle.wolips.targetbuilder"
   name="WOLips TargetBuilde"
   version="1.0.6"
   provider-name="objectstyle.org"
   class="org.objectstyle.wolips.target.TargetBuilderPlugin">

   <runtime>
      <library name="lib/wolips-targetbuilder.jar">
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.objectstyle.wolips.cayenne"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.objectstyle.wolips.datasets"/>
   </requires>


<!-- =================================================================================== -->
<!-- Extension: TargetBuilder                                                      -->
<!-- =================================================================================== -->
   <extension
         id="targetbuilder"
         name="Target Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.objectstyle.wolips.target.TargetBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="targetbuildernature"
         name="TargetBuilderNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.objectstyle.wolips.target.TargetBuilderNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>

</plugin>
