<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<!-- This web.xml file by itself will allow you to run the corresponding
     WebObjects application in a Servlet container. If you would like to
     merge the WebObjects application with your existing JSP/Servlet
     application, you have to merge this web.xml with your existing web.xml.

     NOTE: This file is normally included as the template file 'web.xml.template'.
     During the build process, the placeholders for WOROOT, LOCALROOT, WOAINSTALLROOT,
     WOAppMode, WOClassPath, WOApplicationClass and WOtaglib will be replaced
     with the appropriate values. Other parts of the template file may be
     customized as required.
     
     NOTE: WEBINFROOT is added to the WOClassPath at build time, but the replacement
     value is replaced at runtime to be the path to the WEB-INF directory. 
-->

<web-app>
  <!-- Indicates the root where WebObjects frameworks are installed. In Mac OS X,
       for example, WO frameworks are located in the "/System/Library/Frameworks"
       directory; keeping in tradition, WOROOT is set to "/System". On Windows,
       it could be "c:\Apple", on Solaris, it could be "/opt/Apple".
       If "-DWOROOT=/path/to/somewhere" is defined (in the container startup script,
       for example), the value indicated here is ignored. -->
  <context-param>
    <param-name>WOROOT</param-name>
    <param-value>@WOROOT@</param-value>
  </context-param>

  <!-- Indicates the root where local frameworks are installed. In Mac OS X,
       for example, these frameworks are located in the "/Library/Frameworks"
       directory; keeping in tradition, LOCALROOT is set to "/". On Windows,
       it could be "c:\Apple\Local", on Solaris, it could be "/opt/Apple/Local".
       If "-DLOCALROOT=/path/to/somewhere" is defined (in the container startup script,
       for example), the value indicated here is ignored. -->
  <context-param>
    <param-name>LOCALROOT</param-name>
    <param-value>@LOCALROOT@</param-value>
  </context-param>

  <!-- Indicates the root where WebObjects applications are installed. In Mac OS X
       deployment, for example, WO applications are usually deployed in the
       "/Library/WebObjects/Applications" directory and WOAINSTALLROOT is set to
       "/Library/WebObjects/Applications". If "-DWOAINSTALLROOT=/path/to/somewhere"
       is defined (in the container startup script, for example), the value
       indicated here is ignored. -->
  <context-param>
    <param-name>WOAINSTALLROOT</param-name>
    <param-value>@WOAINSTALLROOT@</param-value>
  </context-param>

  <!-- Indicates if application is development or deployment mode. In development
       mode, images are vended by the application directly from frameworks. In
       deployment mode, images are vended by the webserver. -->
  <context-param>
    <param-name>WOAppMode</param-name>
    <param-value>@WOAppMode@</param-value>
  </context-param>
  
  <!-- This parameter points to the WebObjects directories required for
       this application. If a directory contains resources, they will be
       picked up; as well, if a directory contains JARs, they will be
       picked up. WOROOT, LOCALROOT or WOAINSTALLROOT placeholders here
       will be replaced at runtime with the appropriate values (Java System
       Properties if defined, the context-param values located above 
       otherwise). WEBINFROOT placeholders will be replaced at runtime 
       with the full path to the WEB-INF directory. -->
  <context-param>
    <param-name>WOClasspath</param-name>
    <param-value>
    @WOClasspath@</param-value>
  </context-param>

  <!-- Class name of the WOApplication subclass that defines the
       WebObjects application. -->
  <context-param>
    <param-name>WOApplicationClass</param-name>
    <param-value>@WOApplicationClass@</param-value>
  </context-param>

  <context-param> 
    <param-name>WEBINFROOT</param-name> 
    <param-value>%WEBINFROOT%</param-value> 
  </context-param>

  <!-- The WebObjects Servlet that interfaces between the Servlet container
       world and the WebObjects world. -->
  <servlet>
    <servlet-name>WOServletAdaptor</servlet-name>
    <servlet-class>@WOServletAdaptor@</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>

  <!-- URLs starting with 'WebObjects' use the WebObjects Servlet adaptor. --> 
  <servlet-mapping>
    <servlet-name>WOServletAdaptor</servlet-name>
    <url-pattern>/WebObjects/*</url-pattern>
  </servlet-mapping>
  
  <!-- Session timeout in minutes. This is for both JSP/Servlet and 
       WOSessions. Note this overrides the WebObjects session timeout
       settings. Uncomment to use. --> 
  <!--
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  -->


  <!-- This tag library allows the use of WOComponents within JSPs. -->
  <taglib>
    <taglib-uri>/WOtaglib</taglib-uri>
    <taglib-location>/WEB-INF/tlds/@WOTagLib@</taglib-location>
  </taglib>

@CustomContent@

</web-app>
