<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

 	<extension
         point="org.eclipse.ui.editors">
	 <editor
            class="org.objectstyle.wolips.apieditor.editor.ApiEditor"
            default="false"
            extensions="api"
            icon="icons/file-api.png"
            id="org.objectstyle.wolips.wodclipse.api.ApiEditor"
            name="Api Editor">
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.api"
            /> 
      </editor>
   </extension>
   
</plugin>
