classes.dir = bin
project.name = ${WOLipsContext.getProjectName()}
project.name.lowercase = ${WOLipsContext.getProjectName().toLowerCase()}
principalClass = Application
customInfoPListContent =
embed.Local=true
embed.System=true
webXML = false
webXML_CustomContent =
cfBundleVersion =
cfBundleShortVersion =
cfBundleID = org.mywoapp
javaVersion=1.5+