<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${artifactId}</string>
	<key>CFBundleIconFile</key>
	<string>WOAfile.icns</string>
	<key>CFBundleIdentifier</key>
	<string>${artifactId}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${artifactId}</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>${WebObjectsVersion}</string>
	<key>CFBundleSignature</key>
	<string>webo</string>
	<key>CFBundleVersion</key>
	<string>5.4</string>
	<key>Has_WOComponents</key>
	<true/>
	<key>Java</key>
	<dict>
		<key>JVMVersion</key>
		<string>1.4+</string>
	</dict>
	<key>NSExecutable</key>
	<string>${artifactId}</string>
	<key>NSJavaClientRoot</key>
	<string>WebServerResources/Java</string>
	<key>NSJavaNeeded</key>
	<true/>
	<key>NSJavaPath</key>
	<array>
		<string>${artifactId}.jar</string>
	</array>
	<key>NSJavaPathClient</key>
	<string>${artifactId}.jar</string>
	<key>NSJavaRoot</key>
	<string>Resources/Java</string>
	<key>NSPrincipalClass</key>
	<string>${package}.app.Application</string>
</dict>
</plist>
