<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.objectstyle.wolips.tests.core"
   name="WOLips Tests Core"
   version="1.0.6"
   provider-name="objectstyle.org"
   class="org.objectstyle.wolips.tests.core.TestsCorePlugin">

   <runtime>
      <library name="lib/wolips-testscore.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
   </requires>


</plugin>
