classes.dir = bin
framework.name = ${WOLipsContext.getProjectName()}
principalClass =
project.name =
customInfoPListContent =
eoAdaptorClassName =
cfBundleVersion =
cfBundleShortVersion =
cfBundleID = org.mywoapp
javaVersion=1.5+