{
	targets = (
		{
			name = "Server";
			source = (/FBSellfab/src/server, /FBSellfab/src/common);
			projectclasspath = ( 
				/HBFoundation/bin/HBFoundation.framework/Resources/Java, /HBLogin/bin/HBLogin.framework/Resources/Java
			);
			classpath = (
                            /System/Library/Frameworks/JavaFoundation.framework/Resources/Java/javafoundation.jar,
                            /System/Library/Frameworks/JavaEOControl.framework/Resources/Java/javaeocontrol.jar,
                            /System/Library/Frameworks/JavaEOAccess.framework/Resources/Java/javaeoaccess.jar,
                            /System/Library/Frameworks/JavaWebObjects.framework/Resources/Java/javawebobjects.jar,
                            /System/Library/Frameworks/JavaWOExtensions.framework/Resources/Java/javawoextensions.jar,
                            /System/Library/Frameworks/JavaXML.framework/Resources/Java/javaxml.jar,
                            /System/Library/Frameworks/JavaDTWGeneration.framework/Resources/Java/javadtwgeneration.jar,
                            /System/Library/Frameworks/JavaDirectToWeb.framework/Resources/Java/javadirecttoweb.jar,
                            /System/Library/Frameworks/JavaEOApplication.framework/Resources/Java/javaeoapplication.jar,
                            /System/Library/Frameworks/JavaEODistribution.framework/Resources/Java/javaeodistribution.jar,
                            /System/Library/Frameworks/JavaEOGeneration.framework/Resources/Java/javaeogeneration.jar,
                            /System/Library/Frameworks/JavaJDBCAdaptor.framework/Resources/Java/javajdbcadaptor.jar,
			    /usr/local/sxjava/Java/activation.jar,
			    /usr/local/sxjava/Java/BZip2.jar,
			    /usr/local/sxjava/Java/mail.jar,
			    /usr/local/sxjava/Java/aspectjrt.jar,
                            /System/Library/Frameworks/JavaVM.framework/Classes/classes.jar,
                            /System/Library/Frameworks/JavaVM.framework/Classes/ui.jar
			);
			output = /FBSellfab/bin/FBSellfab.framework/Resources/Java;
		},
		{
			name = "Client";
			source = (/FBSellfab/src/client, /FBSellfab/src/common);
			projectclasspath = ( 
				/HBFoundation/bin/HBFoundation.framework/WebServerResources/Java 
			);
			classpath = (
                            /System/Library/Frameworks/JavaFoundation.framework/WebServerResources/Java/JavaFoundation.jar,
                            /System/Library/Frameworks/JavaEOControl.framework/WebServerResources/Java/JavaEOControl.jar,
                            /System/Library/Frameworks/JavaXML.framework/WebServerResources/Java/JavaXML.jar,
                            /Volumes/Daten/usrlocal/sxjava/Java/aspectjrt.jar,
                            /System/Library/Frameworks/JavaVM.framework/Classes/classes.jar,
                            /System/Library/Frameworks/JavaVM.framework/Classes/ui.jar
			);
			output = /FBSellfab/bin/FBSellfab.framework/WebServerResources/Java;
		}
	);
}