<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.objectstyle.wolips.documentation"
   name="WOLips Help"
   version="1.0.6"
   provider-name="objectstyle.org"
   class="org.objectstyle.wolips.launching.DocumentationPlugin">

   <runtime>
      <library name="lib/wolips-documentation.jar">
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.objectstyle.wolips.commons"/>
   </requires>


<!-- ============================================== -->
<!-- Define the main book                           -->
<!-- ============================================== -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc_root.xml"
            primary="true">
      </toc>
   </extension>
</plugin>
