<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="WOLips"
            class="org.objectstyle.wolips.apple.mavenintegration.preferences.AppleMavenPreferencePage"
            id="org.objectstyle.wolips.apple.mavenintegration.preferences.AppleMavenPreferencePage"
            name="Apple Maven">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.objectstyle.wolips.apple.mavenintegration.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.objectstyle.wolips.apple.mavenintegration.properties.AppleMavenPropertyPage"
            id="org.objectstyle.wolips.apple.mavenintegration.properties.AppleMavenPropertyPage"
            name="Apple Maven">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.objectstyle.wolips.apple.mavenintegration.category1"
            name="WOLips">
      </category>
      <wizard
            category="org.objectstyle.wolips.wizards"
            helpHref="http://developer.apple.com/documentation/WebObjects/Web_Applications/index.html"
            icon="icons/woproject/woapplication_wiz.gif"
            id="org.objectstyle.wolips.wizards.new.wo.5.4.application"
            name="WebObjects Maven Application"
            project="true">
            <class class="org.objectstyle.wolips.apple.mavenintegration.wizards.WOMavenApplicationProjectWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
         Build a WebObjects Application that links against the Apple repository.
         </description>
      </wizard>
      <wizard
            category="org.objectstyle.wolips.wizards"
            helpHref="http://developer.apple.com/documentation/WebObjects/Web_Applications/index.html"
            icon="icons/woproject/woapplication_wiz.gif"
            id="org.objectstyle.wolips.wizards.new.wo.5.4.framework"
            name="WebObjects Maven Framework"
            project="true">
            <class class="org.objectstyle.wolips.apple.mavenintegration.wizards.WOMavenFrameworkProjectWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
         Build a WebObjects Framework that links against the Apple repository.
         </description>
      </wizard>
   </extension>

</plugin>
