<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.objectstyle.wolips.profiling"
   name="WOLips Profiling"
   version="1.0.6"
   provider-name="objectstyle.org"
   class="org.objectstyle.wolips.profiling.ProfilingPlugin">

   <runtime>
      <library name="lib/wolips-profiling.jar">
         <packages prefixes="org.objectstyle.wolips.profiling"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.jdt.debug.ui"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.objectstyle.wolips.launching"/>
      <import plugin="jmechanic.eclipse.profiler"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.objectstyle.wolips.commons"/>
      <import plugin="org.eclipse.ui"/>
   </requires>


<!-- =================================================================================== -->
<!-- Extension: Launch configuration types                                                -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="Profiled WOApplication"
            delegate="org.objectstyle.wolips.profiling.ProfiledWOJavaLocalApplicationLaunchConfigurationDelegate"
            modes="run, debug"
            id="org.objectstyle.wolips.profiling.ProfiledWOLocalJavaApplication">
      </launchConfigurationType>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Launch configuration images                                               -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/profiling/WOLips-profiling.gif"
            configTypeID="org.objectstyle.wolips.profiling.ProfiledWOLocalJavaApplication"
            id="org.objectstyle.wolips.profiling.ProfiledWOLocalJavaApplicationImage">
      </launchConfigurationTypeImage>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Launch configuration tab groups                                           -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.objectstyle.wolips.profiling.ProfiledWOLocalJavaApplication"
            class="org.objectstyle.wolips.profiling.ProfiledWOLocalJavaApplicationTabGroup"
            id="org.objectstyle.wolips.profiling.ProfiledWOLocalJavaApplicationTabGroup">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
