<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.objectstyle.wolips.target"
   name="Target Builder Additions for WOLips"
   version="0.9.1"
   provider-name="objectstyle.org"
   class="org.objectstyle.wolips.target.TargetBuilderPlugin">

   <runtime>
      <library name="lib/wolips-targetbuilder.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.apache.ant"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.objectstyle.wolips"/>
   </requires>


<!-- =================================================================================== -->
<!-- Extension: TargetBuilder                                                      -->
<!-- =================================================================================== -->
   <extension
         id="targetbuilder"
         name="%TargetBuilderName"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.objectstyle.wolips.target.TargetBuilder">
         </run>
      </builder>
   </extension>
<!-- project actions -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
         <menu
               label="&amp;WOlips"
               path="additions"
               id="org.objectstyle.wolips">
            <separator
                  name="wobuilder">
            </separator>
         </menu>
         <action
               label="%TargetBuilderNature.Update"
               class="org.objectstyle.wolips.target.TargetBuilderNatureAction"
               menubarPath="org.objectstyle.wolips/wobuilder"
               id="TargetBuilderNatureAction.Update.ID">
         </action>
         <action
               label="%TargetBuilderNature.Remove"
               class="org.objectstyle.wolips.target.TargetBuilderNatureAction"
               menubarPath="org.objectstyle.wolips/wobuilder"
               id="TargetBuilderNatureAction.Remove.ID">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="targetbuildernature"
         name="TargetBuilderNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.objectstyle.wolips.target.TargetBuilderNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>

</plugin>
