<html>
<head>
	<title>$entity.model.name, $entity.name</title>
	<link href = "../../eomodeldoc.css" rel = "stylesheet" type = "text/css">
	<script src = "../../prototype.js"></script>
	<script src = "../../eomodeldoc.js"></script>
</head>
<body>

<div class = "section entity">
	<h1>
	#if ($entity.abstractEntity)
		<span class = "entity abstract"><a href = "../content.html">$entity.model.name</a></span> / <span class = "entity abstract">$entity.name</span>
	#else 
		<a href = "../content.html">$entity.model.name</a> / $entity.name
	#end
	#if ($entity.parent)
	<div class = "parentEntity"> : <a href = "../../$entity.parent.model.name/entities/${entity.parent.name}.html">$entity.parent.name</a></div>
	#end
	#if (!$entity.childrenEntities.empty)
	<div class = "childrenEntities">
		parent of 
		#foreach ($child in $entity.childrenEntities)
			<a href = "../../$child.model.name/entities/${child.name}.html">$child.name</a>,
		#end
	</div>
	#end
	</h1>
	#if ($entity.documentation)
	<div class = "documentation">$entity.documentation</div>
	#end

	<table class = "details">
		#if ($entity.externalName)
		<tr>
			<th>External Name</th>
			<td>$entity.externalName</td>
		</tr>
		#end

		#if ($entity.className)
		<tr>
			<th>Class Name</th>
			<td>$entity.className</td>
		</tr>
		#end
	</table>
</div>

<div class = "section attributes">
	<h2>Attributes</h2>
	<div class = "actions">
		#if (!$entity.attributes.empty)
		<a id = "attribute_details_toggle" href = "javascript:void(0)" onclick = "toggleProperty('attribute', 'details')">show details</a>
		#end
		#if (!$entity.nonClassAttributes.empty)
		<a id = "attribute_nonClassProperty_toggle" href = "javascript:void(0)" onclick = "toggleProperty('attribute', 'nonClassProperty')">hide non-class</a>
		#end
		#if (!$entity.inheritedAttributes.empty)
		<a id = "attribute_inheritedProperty_toggle" href = "javascript:void(0)" onclick = "toggleProperty('attribute', 'inheritedProperty')">hide inherited</a>
		#end
		#if ($entity.attributes.empty)
		no attributes
		#end
	</div>
	#if (!$entity.attributes.empty)
	<ul>
		#foreach ($attribute in $entity.sortedAttributes)
		#if ($attribute.classProperty)
			#if ($attribute.inherited)
		<li class = "attribute classProperty inheritedProperty">
			#else
		<li class = "attribute classProperty nonInheritedProperty">
			#end
		#else
			#if ($attribute.inherited)
		<li class = "attribute nonClassProperty inheritedProperty">
			#else
		<li class = "attribute nonClassProperty nonInheritedProperty">
			#end
		#end
		
			<div class = "name">$attribute.name</div>
			#if ($attribute.columnName)
				<div class = "mainDetail">
				$attribute.columnName
				</div>
			#end
			
			#if ($attribute.documentation)
			<div class = "documentation">$attribute.documentation</div>
			#end
			<table class = "details" style = "display: none">
				#if ($attribute.externalType)
				<tr>
					<th>External Type</th>
					#if ($attribute.prototype)
					<td>$attribute.prototype.name ($attribute.externalType)</td>
					#else
					<td>$attribute.externalType</td>
					#end
				</tr>
				#end
				#if ($attribute.definition)
				<tr>
					<th>Definition</th>
					<td>$attribute.definition</td>
				</tr>
				#end
				#if ($attribute.width)
				<tr>
					<th>Width</th>
					<td>$attribute.width</td>
				</tr>
				#end
				#if ($attribute.scale)
				<tr>
					<th>Scale</th>
					<td>$attribute.scale</td>
				</tr>
				#end
				#if ($attribute.precision)
				<tr>
					<th>Precision</th>
					<td>$attribute.precision</td>
				</tr>
				#end
			</table>
		</li>
		#end
	</ul>
	#end
</div>

<div class = "section relationships">
	<h2>Relationships</h2>
	<div class = "actions">
		#if (!$entity.relationships.empty)
		<a id = "relationship_details_toggle" href = "javascript:void(0)" onclick = "toggleProperty('relationship', 'details')">show details</a>
		#end
		#if (!$entity.nonClassRelationships.empty)
		<a id = "relationship_nonClassProperty_toggle"href = "javascript:void(0)" onclick = "toggleProperty('relationship', 'nonClassProperty')">hide non-class</a>
		#end
		#if (!$entity.inheritedRelationships.empty)
		<a id = "relationship_inheritedProperty_toggle" href = "javascript:void(0)" onclick = "toggleProperty('relationship', 'inheritedProperty')">hide inherited</a>
		#end
		#if ($entity.relationships.empty)
		no relationships
		#end
	</div>
	#if (!$entity.relationships.empty)
	<ul class = "relationships">
		#foreach ($relationship in $entity.sortedRelationships)
		#if ($relationship.classProperty)
			#if ($relationship.inherited)
		<li class = "relationship classProperty inheritedProperty">
			#else
		<li class = "relationship classProperty nonInheritedProperty">
			#end
		#else
			#if ($relationship.inherited)
		<li class = "relationship nonClassProperty inheritedProperty">
			#else
		<li class = "relationship nonClassProperty nonInheritedProperty">
			#end
		#end
		
			<div class = "name">$relationship.name</div>
			#if ($relationship.destination)
			<div class = "mainDetail"><a href = "../../$relationship.destination.model.name/entities/${relationship.destination.name}.html">$relationship.destination.name</a></div>
			#end
			#if ($relationship.documentation)
			<div class = "documentation">$relationship.documentation</div>
			#end
	
			<table class = "details" style = "display: none">
				<tr>
					<th>Cardinality</th>
					<td>
						#if ($relationship.toOne)
							#if ($relationship.mandatory)
								To-One (Required)
							#else
								To-One (Optional)
							#end
						#else
						To-Many
						#end
					</td>
				</tr>
			</table>
		</li>
		#end
	</ul>
	#end
</div>

<div class = "section fetchSpecs">
	<h2>Fetch Specifications</h2>
	<div class = "actions">
		#if (!$entity.fetchSpecs.empty)
		<a id = "fetchSpec_details_toggle" href = "javascript:void(0)" onclick = "toggleProperty('fetchSpec', 'details')">show details</a>
		#end
		#if ($entity.fetchSpecs.empty)
		no fetch specification
		#end
	</div>
	#if (!$entity.fetchSpecs.empty)
	<ul>
		#foreach ($fetchSpec in $entity.sortedFetchSpecs)
		<li class = "fetchSpec">
			<div class = "name">$fetchSpec.name</div>
			#if ($fetchSpec.documentation)
			<div class = "documentation">$fetchSpec.documentation</div>
			#end
	
			<table class = "details" style = "display: none">
				<tr>
					<th>Qualifier</th>
					<td>$fetchSpec.qualifier</td>
				</tr>
				
				#if (!$fetchSpec.sortOrderings.empty)
				<tr>
					<th>Sort Orderings</th>
					<td>
						<ol class = "sortOrderings">
						#foreach ($sortOrdering in $fetchSpec.sortOrderings)
							<li>
							$sortOrdering.key
							#if ($sortOrdering.ascending)
								(asc)
							#else
								(desc)
							#end
							#if ($sortOrdering.caseInsensitive)
								(insensitive)
							#end
							</li>
						#end
						</ol>
					</td>
				</tr>
				#end
				
				#if ($fetchSpec.fetchLimit)
				<tr>
					<th>Fetch Limit</th>
					<td>$fetchSpec.fetchLimit</td>
				</tr>
				#end

				<tr>
					<th>Deep Fetch?</th>
					<td>$fetchSpec.deep</td>
				</tr>
				
				<tr>
					<th>Refreshes Refetched?</th>
					<td>
					#if ($fetchSpec.refreshesRefetchedObjects)
						$fetchSpec.refreshesRefetchedObjects
					#else
						false
					#end
					</td>
				</tr>
			</table>
		</li>
		#end
	</ul>
	#end
</div>

<div class = "section entityIndexes">
	<h2>Entity Indexes</h2>
	<div class = "actions">
		#if ($entity.entityIndexes.empty)
			no entity indexes
		#end
		&nbsp;
	</div>
	#if (!$entity.entityIndexes.empty)
	<ul>
		#foreach ($entityIndex in $entity.sortedEntityIndexes)
		<li class = "entityIndex">
			<div class = "name">$entityIndex.name</div>
			#if ($entityIndex.documentation)
			<div class = "documentation">$entityIndex.documentation</div>
			#end
		</li>
		#end
	</ul>
	#end
</div>

</body>
</html>