<html>
<head>
	<title>$entity.model.name, $entity.name</title>
	<link href = "../../eomodeldoc.css" rel = "stylesheet" type = "text/css">
	<script src = "../../prototype.js"/>
</head>
<body>

<div class = "section entity">
	<h1>
	#if ($entity.abstractEntity)
		<span class = "entity abstract"><a href = "../content.html">$entity.model.name</a></span> / <span class = "entity abstract">$entity.name</span>
	#else 
		<a href = "../content.html">$entity.model.name</a> / $entity.name
	#end
	#if ($entity.parent)
	<div class = "parentEntity"> : <a href = "../../$entity.parent.model.name/content.html">$entity.parent.model.name</a> / <a href = "../../$entity.parent.model.name/entities/${entity.parent.name}.html">$entity.parent.name</a></div>
	#end
	#if (!$entity.childrenEntities.empty)
	<div class = "childrenEntities">
		parent of 
		#foreach ($child in $entity.childrenEntities)
			<a href = "../../$child.model.name/content.html">$child.model.name</a> / <a href = "../../$child.model.name/entities/${child.name}.html">$child.name</a>,
		#end
	</div>
	#end
	</h1>
	#if ($entity.documentation)
	<div class = "documentation">$entity.documentation</div>
	#end

	<a class = "entity" href = "javascript:void(0)" onclick = "$$('.entity .details').each(function(e) { e.toggle() })">toggle details</a>
	<table class = "details" style = "display: none">
		#if ($entity.externalName)
		<tr>
			<th>External Name</th>
			<td>$entity.externalName</td>
		</tr>
		#end

		#if ($entity.className)
		<tr>
			<th>Class Name</th>
			<td>$entity.className</td>
		</tr>
		#end
	</table>
</div>

<div class = "section attributes">
	<h2 class = "attributes">Attributes</h2>
	<a class = "attributes" href = "javascript:void(0)" onclick = "$$('.attribute .details').each(function(e) { e.toggle() })">toggle details</a>
	#if (!$entity.nonClassAttributes.empty)
	<a class = "attributes" href = "javascript:void(0)" onclick = "$$('.attribute.nonClassProperty').each(function(e) { e.toggle() })">toggle non-class</a>
	#end
	#if (!$entity.inheritedAttributes.empty)
	<a class = "attributes" href = "javascript:void(0)" onclick = "$$('.attribute.inheritedProperty').each(function(e) { e.toggle() })">toggle inherited</a>
	#end
	<ul class = "attributes">
		#foreach ($attribute in $entity.sortedAttributes)
		#if ($attribute.classProperty)
			#if ($attribute.inherited)
		<li class = "attribute inheritedProperty">
			#else
		<li class = "attribute">
			#end
		#else
			#if ($attribute.inherited)
		<li class = "attribute nonClassProperty inheritedProperty" style = "display: none">
			#else
		<li class = "attribute nonClassProperty" style = "display: none">
			#end
		#end
		
			<div class = "name">$attribute.name</div>
			#if ($attribute.externalType)
			<div class = "externalType">$attribute.externalType</div>
			#end
			
			#if ($attribute.documentation)
			<div class = "documentation">$attribute.documentation</div>
			#end
			<table class = "details" style = "display: none">
				#if ($attribute.columnName)
				<tr>
					<th>Column Name</th>
					<td>$attribute.columnName</td>
				</tr>
				#end
				#if ($attribute.definition)
				<tr>
					<th>Definition</th>
					<td>$attribute.definition</td>
				</tr>
				#end
				#if ($attribute.width)
				<tr>
					<th>Width</th>
					<td>$attribute.width</td>
				</tr>
				#end
				#if ($attribute.scale)
				<tr>
					<th>Scale</th>
					<td>$attribute.scale</td>
				</tr>
				#end
				#if ($attribute.precision)
				<tr>
					<th>Precision</th>
					<td>$attribute.precision</td>
				</tr>
				#end
			</table>
		</li>
		#end
	</ul>
</div>

<div class = "section relationships">
	<h2 class = "relationships">Relationships</h2>
	<a class = "relationships" href = "javascript:void(0)" onclick = "$$('.relationship .details').each(function(e) { e.toggle() })">toggle details</a>
	#if (!$entity.nonClassRelationships.empty)
	<a class = "relationships" href = "javascript:void(0)" onclick = "$$('.relationship.nonClassProperty').each(function(e) { e.toggle() })">toggle non-class</a>
	#end
	#if (!$entity.inheritedRelationships.empty)
	<a class = "relationships" href = "javascript:void(0)" onclick = "$$('.relationship.inheritedProperty').each(function(e) { e.toggle() })">toggle inherited</a>
	#end
	<ul class = "relationships">
		#foreach ($relationship in $entity.sortedRelationships)
		#if ($relationship.classProperty)
			#if ($relationship.inherited)
		<li class = "relationship inheritedProperty">
			#else
		<li class = "relationship">
			#end
		#else
			#if ($relationship.inherited)
		<li class = "relationship nonClassProperty inheritedProperty" style = "display: none">
			#else
		<li class = "relationship nonClassProperty" style = "display: none">
			#end
		#end
		
			<div class = "name">$relationship.name</div>
			#if ($relationship.destination)
			<div class = "destination"><a href = "../../$relationship.destination.model.name/content.html">$relationship.destination.model.name</a> / <a href = "../../$relationship.destination.model.name/entities/${relationship.destination.name}.html">$relationship.destination.name</a></div>
			#end
			#if ($relationship.documentation)
			<div class = "documentation">$relationship.documentation</div>
			#end
	
			<table class = "details" style = "display: none">
				<tr>
					<th>Cardinality</th>
					<td>
						#if ($relationship.toOne)
							#if ($relationship.mandatory)
								To-One (Required)
							#else
								To-One (Optional)
							#end
						#else
						To-Many
						#end
					</td>
				</tr>
			</table>
		</li>
		#end
	</ul>
</div>

#if (!$entity.sortedFetchSpecs.empty)
<div class = "section fetchSpecs">
	<h2 class = "fetchSpecs">Fetch Specifications</h2>
	<a class = "fetchSpecs" href = "javascript:void(0)" onclick = "$$('.fetchSpec .details').each(function(e) { e.toggle() })">toggle details</a>
	<ul class = "fetchSpecs">
		#foreach ($fetchSpec in $entity.sortedFetchSpecs)
		<li class = "fetchSpec">
			<div class = "name">$fetchSpec.name</div>
			#if ($fetchSpec.documentation)
			<div class = "documentation">$fetchSpec.documentation</div>
			#end
	
			<table class = "details" style = "display: none">
				<tr>
					<th>Qualifier</th>
					<td>$fetchSpec.qualifier</td>
				</tr>
				
				#if (!$fetchSpec.sortOrderings.empty)
				<tr>
					<th>Sort Orderings</th>
					<td>
						<ol class = "sortOrderings">
						#foreach ($sortOrdering in $fetchSpec.sortOrderings)
							<li>
							$sortOrdering.key
							#if ($sortOrdering.ascending)
								(asc)
							#else
								(desc)
							#end
							#if ($sortOrdering.caseInsensitive)
								(insensitive)
							#end
							</li>
						#end
						</ol>
					</td>
				</tr>
				#end
				
				#if ($fetchSpec.fetchLimit)
				<tr>
					<th>Fetch Limit</th>
					<td>$fetchSpec.fetchLimit</td>
				</tr>
				#end

				<tr>
					<th>Deep Fetch?</th>
					<td>$fetchSpec.deep</td>
				</tr>
				
				<tr>
					<th>Refreshes Refetched?</th>
					<td>
					#if ($fetchSpec.refreshesRefetchedObjects)
						$fetchSpec.refreshesRefetchedObjects
					#else
						false
					#end
					</td>
				</tr>
			</table>
		</li>
		#end
	</ul>
</div>
#end

#if (!$entity.sortedEntityIndexes.empty)
<div class = "section entityIndexes">
	<h2 class = "entityIndexes">Indexes</h2>
	<ul class = "entityIndexes">
		#foreach ($entityIndex in $entity.sortedEntityIndexes)
		<li class = "entityIndex>
			<div class = "name">$entityIndex.name</div>
			#if ($entityIndex.documentation)
			<div class = "documentation">$entityIndex.documentation</div>
			#end
		</li>
		#end
	</ul>
</div>
#end

</body>
</html>