<html>
<head>
	<title>Models Overview</title>
	<link href = "eomodeldoc.css" rel = "stylesheet" type = "text/css">
	<script src = "prototype.js"/>
</head>
<body>

<h1>Models</h1>
<ul>
	<li><a href = "overview.html" target = "overview">All Entities</a></li>
	#foreach($model in $modelGroup.sortedModels)
	<li><a href = "$model.name/overview.html" target = "overview">$model.name</a></li>
	#end
</ul>

</body>
</html>