<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

 	<extension
         point="org.eclipse.ui.editors">
	 <editor
            default="false"
            extensions="woo"
            icon="icons/WooEditor.gif"
            id="org.objectstyle.wolips.wooeditor.editor.WooEditor"
            class="org.objectstyle.wolips.wooeditor.editor.WooEditor"
            name="WOO Archive Editor">
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.woo"
            />
      </editor>
   </extension>

</plugin>
