<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<!-- =================================================================================== -->
<!-- Extension: Popup menus                                                              -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.popupMenus">
<!-- =================================================================================== -->
<!-- project actions                                                                     -->
<!-- =================================================================================== -->
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.objectstyle.wolips.maven.ui">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
         <action
               label="Touch project.xml"
               class="org.objectstyle.wolips.maven.ui.actions.TouchProjectXMLAction"
               menubarPath="org.objectstyle.wolips.maven.ui.ResourceContributions/group1"
               id="org.objectstyle.wolips.maven.ui.actions.TouchProjectXMLAction">
         </action>
         <!-- action
               label="jar:install:snapshot"
               class="org.objectstyle.wolips.maven.ui.actions.JarInstallSnapshotAction"
               menubarPath="org.objectstyle.wolips.maven.ui.ResourceContributions/group2"
               id="org.objectstyle.wolips.maven.ui.actions.JarInstallSnapshotAction">
         </action -->
      </objectContribution>
      </extension>
</plugin>
