<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.objectstyle.wolips.eomodeler.editors.EOModelEditor"
            contributorClass="org.objectstyle.wolips.eomodeler.editors.EOModelEditorContributor"
            default="true"
            icon="icons/eoModel.png"
            id="org.objectstyle.wolips.eomodeler.editors.EOModelEditor"
            matchingStrategy="org.objectstyle.wolips.eomodeler.editors.EOModelMatchingStrategy"
            name="Entity Modeler">
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.indexdoteomodeld"
            />
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.fspec"
            />
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.storedProcedure"
            />
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.eomodelgroup"
            />
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.objectstyle.wolips.eomodeler.decorators.EOEntityDecorator"
            id="org.objectstyle.wolips.eomodeler.decorators.EOEntityDecorator"
            label="EOEntity Decorator"
            lightweight="false"
            state="true">
         <enablement>
            <and>
               <objectState
                     name="extension"
                     value="plist"/>
               <objectClass name="org.eclipse.core.resources.IFile"/>
            </and>
         </enablement>
      </decorator>
      <decorator
            class="org.objectstyle.wolips.eomodeler.decorators.EOModelDecorator"
            icon="icons/eoModel.png"
            id="org.objectstyle.wolips.eomodeler.decorators.EOModelDecorator"
            label="EOModel Decorator"
            lightweight="false"
            state="true">
         <enablement>
            <and>
               <objectClass name="org.eclipse.core.resources.IResource"/>
               <objectState
                     name="extension"
                     value="eomodeld"/>
            </and>
         </enablement>
      </decorator>
      <decorator
            icon="icons/eoFetchSpecification.png"
            id="org.objectstyle.wolips.eomodeler.decorators.EOFetchSpecDecorator"
            label="EOFetchSpecification Decorator"
            lightweight="false"
            state="true">
         <enablement>
            <and>
               <objectClass name="org.eclipse.core.resources.IResource"/>
               <objectState
                     name="extension"
                     value="fspec"/>
            </and>
         </enablement>
      </decorator>
      <decorator
            icon="icons/eoStoredProcedure.png"
            id="org.objectstyle.wolips.eomodeler.decorators.EOStoredProcedureDecorator"
            label="EOStoredProcedure Decorator"
            lightweight="false"
            state="true">
         <enablement>
            <and>
               <objectClass name="org.eclipse.core.resources.IResource"/>
               <objectState
                     name="extension"
                     value="storedProcedure"/>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor contributorId="org.objectstyle.wolips.eomodeler.editors.EOModelEditor">
         <propertyCategory category="eomodel"/>
         <propertyCategory category="eorelationship"/>
         <propertyCategory category="eoentity"/>
         <propertyCategory category="eoattribute"/>
         <propertyCategory category="eofetchspec"/>
         <propertyCategory category="eostoredprocedure"/>
         <propertyCategory category="eoargument"/>
         <propertyCategory category="eodatabaseconfig"/>
         <propertyCategory
               category="eoentityIndex">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.objectstyle.wolips.eomodeler.editors.EOModelEditor">
         <propertyTab
               afterTab="org.objectstyle.wolips.eomodeler.tabs.connectionDictionary"
               category="eomodel"
               id="org.objectstyle.wolips.eomodeler.tabs.eomodelUserInfo"
               label="User Info"/>
         <propertyTab
               category="eoentity"
               id="org.objectstyle.wolips.eomodeler.tabs.eoentityBasic"
               label="Basic"/>
         <propertyTab
               afterTab="org.objectstyle.wolips.eomodeler.tabs.eoentityBasic"
               category="eoentity"
               id="org.objectstyle.wolips.eomodeler.tabs.eoentityAdvanced"
               label="Advanced"/>
         <propertyTab
               afterTab="org.objectstyle.wolips.eomodeler.tabs.eoentityAdvanced"
               category="eoentity"
               id="org.objectstyle.wolips.eomodeler.tabs.eoentitySharedObjects"
               label="Shared"/>
         <propertyTab
               afterTab="org.objectstyle.wolips.eomodeler.tabs.eoentitySharedObjects"
               category="eoentity"
               id="org.objectstyle.wolips.eomodeler.tabs.eoentityStoredProcedures"
               label="Procedures"/>
         <propertyTab
               afterTab="org.objectstyle.wolips.eomodeler.tabs.eoentityStoredProcedures"
               category="eoentity"
               id="org.objectstyle.wolips.eomodeler.tabs.eoentityUserInfo"
               label="User Info"/>
         <propertyTab
               category="eoattribute"
               id="org.objectstyle.wolips.eomodeler.tabs.eoattributeBasic"
               label="Basic"/>
         <propertyTab
               afterTab="org.objectstyle.wolips.eomodeler.tabs.eoattributeBasic"
               category="eoattribute"
               id="org.objectstyle.wolips.eomodeler.tabs.eoattributeAdvanced"
               label="Advanced"/>
         <propertyTab
               afterTab="org.objectstyle.wolips.eomodeler.tabs.eoattributeAdvanced"
               category="eoattribute"
               id="org.objectstyle.wolips.eomodeler.tabs.eoattributeUserInfo"
               label="User Info"/>
         <propertyTab
               category="eorelationship"
               id="org.objectstyle.wolips.eomodeler.tabs.eorelationshipBasic"
               label="Basic"/>
         <propertyTab
               afterTab="org.objectstyle.wolips.eomodeler.tabs.eorelationshipBasic"
               category="eorelationship"
               id="org.objectstyle.wolips.eomodeler.tabs.eorelationshipAdvanced"
               label="Advanced"/>
         <propertyTab
               afterTab="org.objectstyle.wolips.eomodeler.tabs.eorelationshipAdvanced"
               category="eorelationship"
               id="org.objectstyle.wolips.eomodeler.tabs.eorelationshipUserInfo"
               label="User Info"/>
         <propertyTab
               category="eofetchspec"
               id="org.objectstyle.wolips.eomodeler.tabs.eofetchspecQualifier"
               label="Qualifier"/>
         <propertyTab
               afterTab="org.objectstyle.wolips.eomodeler.tabs.eofetchspecQualifier"
               category="eofetchspec"
               id="org.objectstyle.wolips.eomodeler.tabs.eofetchspecSortOrderings"
               label="Sort Orderings"/>
         <propertyTab
               afterTab="org.objectstyle.wolips.eomodeler.tabs.eofetchspecSortOrderings"
               category="eofetchspec"
               id="org.objectstyle.wolips.eomodeler.tabs.eofetchspecPrefetching"
               label="Prefetching"/>
         <propertyTab
               afterTab="org.objectstyle.wolips.eomodeler.tabs.eofetchspecPrefetching"
               category="eofetchspec"
               id="org.objectstyle.wolips.eomodeler.tabs.eofetchspecRawFetch"
               label="Raw Fetch"/>
         <propertyTab
               afterTab="org.objectstyle.wolips.eomodeler.tabs.eofetchspecRawFetch"
               category="eofetchspec"
               id="org.objectstyle.wolips.eomodeler.tabs.eofetchspecOptions"
               label="Options"/>
         <propertyTab
               afterTab="org.objectstyle.wolips.eomodeler.tabs.eofetchspecOptions"
               category="eofetchspec"
               id="org.objectstyle.wolips.eomodeler.tabs.eofetchspecSQL"
               label="SQL"/>
         <propertyTab
               afterTab="org.objectstyle.wolips.eomodeler.tabs.eofetchspecSQL"
               category="eofetchspec"
               id="org.objectstyle.wolips.eomodeler.tabs.eofetchspecUserInfo"
               label="User Info"/>
         <propertyTab
               category="eostoredprocedure"
               id="org.objectstyle.wolips.eomodeler.tabs.eostoredprocedureBasic"
               label="Basic"/>
         <propertyTab
               afterTab="org.objectstyle.wolips.eomodeler.tabs.eostoredprocedureBasic"
               category="eostoredprocedure"
               id="org.objectstyle.wolips.eomodeler.tabs.eostoredprocedureUserInfo"
               label="User Info"/>
         <propertyTab
               category="eoargument"
               id="org.objectstyle.wolips.eomodeler.tabs.eoargumentBasic"
               label="Basic"/>
         <propertyTab
               afterTab="org.objectstyle.wolips.eomodeler.tabs.eoargumentBasic"
               category="eoargument"
               id="org.objectstyle.wolips.eomodeler.tabs.eoargumentUserInfo"
               label="User Info"/>
         <propertyTab
               category="eodatabaseconfig"
               id="org.objectstyle.wolips.eomodeler.tabs.eodatabaseconfigBasic"
               label="Config"/>
         <propertyTab
               category="eoentityIndex"
               id="org.objectstyle.wolips.eomodeler.tabs.eoentityIndexBasic"
               label="Basic">
         </propertyTab>
         <propertyTab
               afterTab="org.objectstyle.wolips.eomodeler.tabs.eoentityIndexBasic"
               category="eoentityIndex"
               id="org.objectstyle.wolips.eomodeler.tabs.eoentityIndexUserInfo"
               label="User Info">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.objectstyle.wolips.eomodeler.editors.EOModelEditor">
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.userInfo.UserInfoPropertySection"
               id="org.objectstyle.wolips.eomodeler.sections.eomodelUserInfo"
               tab="org.objectstyle.wolips.eomodeler.tabs.eomodelUserInfo">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOModel"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.entity.EOEntityBasicEditorSection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eoentityBasic"
               tab="org.objectstyle.wolips.eomodeler.tabs.eoentityBasic">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOEntity"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.entity.EOEntityAdvancedEditorSection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eoentityAdvanced"
               tab="org.objectstyle.wolips.eomodeler.tabs.eoentityAdvanced">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOEntity"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.entity.EOEntitySharedObjectsEditorSection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eoentitySharedObjects"
               tab="org.objectstyle.wolips.eomodeler.tabs.eoentitySharedObjects">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOEntity"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.userInfo.UserInfoPropertySection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eoentityUserInfo"
               tab="org.objectstyle.wolips.eomodeler.tabs.eoentityUserInfo">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOEntity"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.attribute.EOAttributeBasicEditorSection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eoattributeBasic"
               tab="org.objectstyle.wolips.eomodeler.tabs.eoattributeBasic">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOAttribute"/>
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOAttributePath"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.attribute.EOAttributeAdvancedEditorSection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eoattributeAdvanced"
               tab="org.objectstyle.wolips.eomodeler.tabs.eoattributeAdvanced">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOAttribute"/>
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOAttributePath"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.userInfo.UserInfoPropertySection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eoattributeUserInfo"
               tab="org.objectstyle.wolips.eomodeler.tabs.eoattributeUserInfo">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOAttribute"/>
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOAttributePath"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.relationship.EORelationshipBasicEditorSection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eorelationshipBasic"
               tab="org.objectstyle.wolips.eomodeler.tabs.eorelationshipBasic">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EORelationship"/>
            <input type="org.objectstyle.wolips.eomodeler.core.model.EORelationshipPath"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.relationship.EORelationshipAdvancedEditorSection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eorelationshipAdvanced"
               tab="org.objectstyle.wolips.eomodeler.tabs.eorelationshipAdvanced">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EORelationship"/>
            <input type="org.objectstyle.wolips.eomodeler.core.model.EORelationshipPath"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.userInfo.UserInfoPropertySection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eorelationshipUserInfo"
               tab="org.objectstyle.wolips.eomodeler.tabs.eorelationshipUserInfo">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EORelationship"/>
            <input type="org.objectstyle.wolips.eomodeler.core.model.EORelationshipPath"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.fetchspec.EOFetchSpecQualifierEditorSection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eofetchspecQualifier"
               tab="org.objectstyle.wolips.eomodeler.tabs.eofetchspecQualifier">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOFetchSpecification"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.fetchspec.EOFetchSpecSortOrderingEditorSection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eofetchspecSortOrderings"
               tab="org.objectstyle.wolips.eomodeler.tabs.eofetchspecSortOrderings">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOFetchSpecification"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.fetchspec.EOFetchSpecPrefetchingEditorSection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eofetchspecPrefetching"
               tab="org.objectstyle.wolips.eomodeler.tabs.eofetchspecPrefetching">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOFetchSpecification"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.fetchspec.EOFetchSpecRawFetchEditorSection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eofetchspecRawFetch"
               tab="org.objectstyle.wolips.eomodeler.tabs.eofetchspecRawFetch">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOFetchSpecification"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.fetchspec.EOFetchSpecOptionsEditorSection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eofetchspecOptions"
               tab="org.objectstyle.wolips.eomodeler.tabs.eofetchspecOptions">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOFetchSpecification"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.fetchspec.EOFetchSpecSQLEditorSection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eofetchspecSQL"
               tab="org.objectstyle.wolips.eomodeler.tabs.eofetchspecSQL">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOFetchSpecification"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.userInfo.UserInfoPropertySection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eofetchspecUserInfo"
               tab="org.objectstyle.wolips.eomodeler.tabs.eofetchspecUserInfo">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOFetchSpecification"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.storedProcedure.EOStoredProcedureBasicEditorSection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eostoredprocedureBasic"
               tab="org.objectstyle.wolips.eomodeler.tabs.eostoredprocedureBasic">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOStoredProcedure"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.userInfo.UserInfoPropertySection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eostoredprocedureUserInfo"
               tab="org.objectstyle.wolips.eomodeler.tabs.eostoredprocedureUserInfo">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOStoredProcedure"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.attribute.EOArgumentBasicEditorSection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eoargumentBasic"
               tab="org.objectstyle.wolips.eomodeler.tabs.eoargumentBasic">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOArgument"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.userInfo.UserInfoPropertySection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eoargumentUserInfo"
               tab="org.objectstyle.wolips.eomodeler.tabs.eoargumentUserInfo">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOArgument"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.entity.EOEntityStoredProceduresEditorSection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eoentityStoredProcedures"
               tab="org.objectstyle.wolips.eomodeler.tabs.eoentityStoredProcedures">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOEntity"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.databaseConfig.DatabaseConfigSection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eodatabaseconfigBasic"
               tab="org.objectstyle.wolips.eomodeler.tabs.eodatabaseconfigBasic">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EODatabaseConfig"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.entityIndex.EOEntityIndexBasicEditorSection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eoentityIndexBasic"
               tab="org.objectstyle.wolips.eomodeler.tabs.eoentityIndexBasic">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOEntityIndex"/>
         </propertySection>
         <propertySection
               class="org.objectstyle.wolips.eomodeler.editors.userInfo.UserInfoPropertySection"
               enablesFor="1"
               id="org.objectstyle.wolips.eomodeler.sections.eoentityIndexUserInfo"
               tab="org.objectstyle.wolips.eomodeler.tabs.eoentityIndexUserInfo">
            <input type="org.objectstyle.wolips.eomodeler.core.model.EOEntityIndex"/>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.objectstyle.wolips.eomodeler.EOModelerPerspectiveFactory"
            icon="icons/eoModel.png"
            id="org.objectstyle.wolips.eomodeler.EOModelerPerspective"
            name="Entity Modeler"/>
   </extension>
   <extension
         id="org.objectstyle.wolips.eomodeler.popupMenus"
         name="Entity Modeler"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.objectstyle.wolips.eomodeler.actions.OpenEntityModelerAction"
            nameFilter="*.eomodeld"
            objectClass="org.eclipse.core.resources.IContainer">
         <action
               class="org.objectstyle.wolips.eomodeler.actions.OpenEntityModelerAction"
               enablesFor="1"
               icon="icons/eoModel.png"
               id="org.objectstyle.wolips.eomodeler.actions.OpenEntityModelerAction"
               label="Open Entity Modeler"
               menubarPath="org.objectstyle.wolips.ui.ResourceContributions/group0"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.objectstyle.wolips.eomodeler.outline.eomodel"
            objectClass="org.objectstyle.wolips.eomodeler.core.model.EOModel">
         <action
               class="org.objectstyle.wolips.eomodeler.actions.NewDatabaseConfigAction"
               enablesFor="1"
               icon="icons/newDatabaseConfig.png"
               id="org.objectstyle.wolips.eomodeler.outline.popup.newDatabaseConfig"
               label="New Database Config"
               menubarPath="group1"/>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.NewStoredProcedureAction"
               enablesFor="1"
               icon="icons/newStoredProcedure.png"
               id="org.objectstyle.wolips.eomodeler.outline.popup.newStoredProcedure"
               label="New Stored Procedure"
               menubarPath="group1"/>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.NewEntityAction"
               enablesFor="1"
               icon="icons/newEntity.png"
               id="org.objectstyle.wolips.eomodeler.outline.popup.newEntity"
               label="New Entity"
               menubarPath="group1"/>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.ReverseEngineerAction"
               enablesFor="1"
               icon="icons/reverseEngineer.png"
               id="org.objectstyle.wolips.eomodeler.outline.popup.reverseEngineer"
               label="Reverse Engineer"
               menubarPath="group2"/>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.VerifyAction"
               enablesFor="1"
               icon="icons/verify.png"
               id="org.objectstyle.wolips.eomodeler.outline.popup.verify"
               label="Verify Model"
               menubarPath="group2"/>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.GenerateSQLAction"
               enablesFor="1"
               icon="icons/sql.png"
               id="org.objectstyle.wolips.eomodeler.outline.popup.generateModelSQL"
               label="Generate SQL"
               menubarPath="group2"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.objectstyle.wolips.eomodeler.outline.eoentity"
            objectClass="org.objectstyle.wolips.eomodeler.core.model.EOEntity">
         <action
               class="org.objectstyle.wolips.eomodeler.actions.NewEntityIndexAction"
               enablesFor="1"
               icon="icons/newEntityIndex.png"
               id="org.objectstyle.wolips.eomodeler.outline.popup.newEntityIndex"
               label="New Entity Index"
               menubarPath="group1"/>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.NewFetchSpecAction"
               enablesFor="1"
               icon="icons/newFetchSpecification.png"
               id="org.objectstyle.wolips.eomodeler.outline.popup.newFetchSpecification"
               label="New Fetch Specification"
               menubarPath="group1"/>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.NewRelationshipAction"
               enablesFor="*"
               icon="icons/newRelationship.png"
               id="org.objectstyle.wolips.eomodeler.outline.popup.newRelationship"
               label="New Relationship"
               menubarPath="group1"/>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.NewAttributeAction"
               enablesFor="1"
               icon="icons/newAttribute.png"
               id="org.objectstyle.wolips.eomodeler.outline.popup.newAttribute"
               label="New Attribute"
               menubarPath="group1"/>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.GenerateSQLAction"
               enablesFor="*"
               icon="icons/sql.png"
               id="org.objectstyle.wolips.eomodeler.outline.popup.generateEntitySQL"
               label="Generate SQL"
               menubarPath="group2"/>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.SubclassEntityAction"
               enablesFor="1"
               icon="icons/subclassEntity.png"
               id="org.objectstyle.wolips.eomodeler.outline.popup.subclassEntity"
               label="Subclass"
               menubarPath="group2"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.objectstyle.wolips.eomodeler.outline.eoattribute"
            objectClass="org.objectstyle.wolips.eomodeler.core.model.EOAttribute">
               <action
               class="org.objectstyle.wolips.eomodeler.actions.NewEntityIndexAction"
               enablesFor="+"
               icon="icons/newEntityIndex.png"
               id="org.objectstyle.wolips.eomodeler.outline.popup.newEntityIndexFromAttribute"
               label="New Entity Index"
               menubarPath="group1"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.objectstyle.wolips.eomodeler.outline.eorelationshippath"
            objectClass="org.objectstyle.wolips.eomodeler.core.model.EORelationshipPath">
         <action
               class="org.objectstyle.wolips.eomodeler.actions.FlattenAction"
               enablesFor="1"
               icon="icons/flattenRelationship.png"
               id="org.objectstyle.wolips.eomodeler.outline.popup.flattenRelationship"
               label="Flatten Relationship"
               menubarPath="group1"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.objectstyle.wolips.eomodeler.outline.eoattributepath"
            objectClass="org.objectstyle.wolips.eomodeler.core.model.EOAttributePath">
         <action
               class="org.objectstyle.wolips.eomodeler.actions.FlattenAction"
               enablesFor="1"
               icon="icons/flattenRelationship.png"
               id="org.objectstyle.wolips.eomodeler.outline.popup.flattenAttribute"
               label="Flatten Attribute"
               menubarPath="group1"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.objectstyle.wolips.eomodeler.outline.eostoredprocedure"
            objectClass="org.objectstyle.wolips.eomodeler.core.model.EOStoredProcedure">
         <action
               class="org.objectstyle.wolips.eomodeler.actions.NewArgumentAction"
               enablesFor="1"
               icon="icons/newArgument.png"
               id="org.objectstyle.wolips.eomodeler.outline.popup.newArgument"
               label="New Argument"
               menubarPath="group1"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.objectstyle.wolips.eomodeler.outline.eomodelobject"
            objectClass="org.objectstyle.wolips.eomodeler.core.model.EOModelObject">
         <action
               class="org.objectstyle.wolips.eomodeler.actions.DeleteAction"
               enablesFor="*"
               icon="icons/delete.gif"
               id="org.objectstyle.wolips.eomodeler.outline.popup.delete"
               label="Delete"
               menubarPath="group4"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.objectstyle.wolips.eomodeler.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.objectstyle.wolips.preferences.PreferencesPage"
            class="org.objectstyle.wolips.eomodeler.preferences.EntityModelerPreferencePage"
            id="org.objectstyle.wolips.eomodeler.preferences.EOModelPreferencePage"
            name="Entity Modeler"/>
   </extension>

</plugin>
