<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample Multi-page Editor"
            extensions="eomodeld"
            icon="icons/sample.gif"
            contributorClass="org.objectstyle.wolips.eomodeler.editors.MultiPageEditorContributor"
            class="org.objectstyle.wolips.eomodeler.editors.MultiPageEditor"
            id="org.objectstyle.wolips.eomodeler.editors.MultiPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="org.objectstyle.wolips.eomodeler">
      </category>
      <wizard
            name="Multi-page Editor file"
            icon="icons/sample.gif"
            category="org.objectstyle.wolips.eomodeler"
            class="org.objectstyle.wolips.eomodeler.wizards.SampleNewWizard"
            id="org.objectstyle.wolips.eomodeler.wizards.SampleNewWizard">
      </wizard>
   </extension>

</plugin>
