Library/Frameworks/JavaWebObjects.framework
Library/Frameworks/JavaFoundation.framework
Library/Frameworks/JavaXML.framework
Library/Frameworks/JavaWOExtensions.framework
Library/Frameworks/JavaEOAccess.framework
Library/Frameworks/JavaEOControl.framework
Library/Frameworks/JavaDTWGeneration.framework
Library/Frameworks/JavaDirectToWeb.framework
Library/Frameworks/JavaEOProject.framework
Library/Frameworks/JavaJDBCAdaptor.framework