<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.objectstyle.wolips.jdom"
   name="%WOLips.jdom.pluginName"
   version="1.0.6"
   provider-name="%WOLips.providerName">

   <runtime>
      <library name="lib/jdom-b9.jar">
         <export name="*"/>
         <packages prefixes="org.jdom"/>
      </library>
   </runtime>

</plugin>
