.medium-menu {
	COLOR: #28314f; FONT-SIZE: 12pt; FONT-FAMILY: arial,helvetica,sanserif;
}
.medium-menu A:link {
	COLOR: #28314f; FONT-SIZE: 12pt; FONT-FAMILY: arial,helvetica,sanserif; TEXT-DECORATION: none
}
.medium-menu A:hover {
	COLOR: #28314f; FONT-SIZE: 12pt; FONT-FAMILY: arial,helvetica,sanserif; TEXT-DECORATION: underline
}
.medium-menu A:active {
	COLOR: #28314f; FONT-SIZE: 12pt; FONT-FAMILY: arial,helvetica,sanserif; TEXT-DECORATION: underline
}
.medium-menu A {
	COLOR: #28314f; FONT-SIZE: 12pt; FONT-FAMILY: arial,helvetica,sanserif; TEXT-DECORATION: none
}
.medium-menu A:unknown {
	COLOR: #28314f; FONT-SIZE: 12pt; FONT-FAMILY: arial,helvetica,sanserif; TEXT-DECORATION: none
}


.normal-menu {
	COLOR: #28314f; FONT-SIZE: 10pt; FONT-FAMILY: arial,helvetica,sanserif;
}
.normal-menu A:link {
	COLOR: #28314f; FONT-SIZE: 10pt; FONT-FAMILY: arial,helvetica,sanserif; TEXT-DECORATION: none
}
.normal-menu A:hover {
	COLOR: #28314f; FONT-SIZE: 10pt; FONT-FAMILY: arial,helvetica,sanserif; TEXT-DECORATION: underline
}
.normal-menu A:active {
	COLOR: #28314f; FONT-SIZE: 10pt; FONT-FAMILY: arial,helvetica,sanserif; TEXT-DECORATION: underline
}
.normal-menu A:visited {
	COLOR: #28314f; FONT-SIZE: 10pt; FONT-FAMILY: arial,helvetica,sanserif; TEXT-DECORATION: none
}

.section-title {
	COLOR: black; FONT-FAMILY: arial,helvetica,sanserif; FONT-SIZE: 12pt; FONT-WEIGHT: bold
}
.subsection-title {
	COLOR: black; FONT-FAMILY: arial,helvetica,sanserif; FONT-SIZE: 11pt; FONT-WEIGHT: bold 
}

.large-dkblue {
	COLOR: #28314f; FONT-SIZE: 14pt; FONT-FAMILY: arial,helvetica,sanserif; LINE-HEIGHT: 15pt; 
}

.medium-dkblue {
	COLOR: #28314f; FONT-SIZE: 12pt; FONT-FAMILY: arial,helvetica,sanserif;
}


.normal-black {
	COLOR: black; FONT-SIZE: 10pt; LINE-HEIGHT: 11pt; 
}
.normal-dkblue {
	COLOR: #28314f; FONT-SIZE: 10pt; FONT-FAMILY: arial,helvetica,sanserif; LINE-HEIGHT: 11pt; 
}



.small-dkblue {
	COLOR: #28314f; FONT-SIZE: 8pt; FONT-FAMILY: arial,helvetica,sanserif; LINE-HEIGHT: 9pt;
}
.small-black {
	COLOR: black; FONT-SIZE: 8pt; LINE-HEIGHT: 9pt;
}
