<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<!-- =================================================================================== -->
<!-- Extension: Launch configuration types                                               -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="Profiled WOApplication (JProfiler)"
            delegate="org.objectstyle.wolips.jprofiler.launching.JProfilerWOJavaLocalApplicationLaunchConfigurationDelegate"
            modes="profile"
            id="org.objectstyle.wolips.jprofiler.launching.JProfilerWOLocalJavaApplication"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Launch delegates                                                         -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            type="org.objectstyle.wolips.launching.WOLocalJavaApplication"
            delegate="org.objectstyle.wolips.jprofiler.launching.JProfilerWOJavaLocalApplicationLaunchConfigurationDelegate"
            modes="profile"
            id="org.objectstyle.wolips.jprofiler.launching.JProfilerWOLocalJavaApplicationDelegate">
      </launchDelegate>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Launch configuration images                                              -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/WOLips16-16.png"
            configTypeID="org.objectstyle.wolips.jprofiler.launching.JProfilerWOLocalJavaApplication"
            id="org.objectstyle.wolips.jprofiler.launching.JProfilerWOLocalJavaApplicationImage">
      </launchConfigurationTypeImage>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Launch configuration tab groups                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.objectstyle.wolips.jprofiler.launching.JProfilerWOLocalJavaApplication"
            class="org.objectstyle.wolips.jprofiler.launching.JProfilerWOLocalJavaApplicationTabGroup"
            id="org.objectstyle.wolips.jprofiler.launching.JProfilerWOLocalJavaApplicationTabGroup">
      </launchConfigurationTabGroup>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Launch shortcuts                                                         -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="Profiled WOApplication (JProfiler)"
            icon="icons/WOLips16-16.png"
            modes="profile"
            class="org.objectstyle.wolips.jprofiler.launching.JProfilerWOJavaApplicationLaunchShortcut"
            id="org.objectstyle.wolips.jprofiler.launching.JProfilerWOJavaApplicationLaunchShortcut">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.java"/>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.class"/>
                   <instanceof value="org.eclipse.jdt.core.IJavaElement"/>
                 </or>
                 <test property="org.eclipse.jdt.debug.ui.hasMainType"/>
               </iterate>
             </with>
           </enablement>
  		 </contextualLaunch>
         <perspective
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         </perspective>
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
         <perspective
               id="org.eclipse.pde.PDEPerspective">
         </perspective>
         <perspective
               id="org.objectstyle.wolips.ui.Perspective">
         </perspective>
      </shortcut>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Perspective                                                              -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.objectstyle.wolips.ui.Perspective">
         <actionSet
               id="org.eclipse.debug.ui.profileActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   
</plugin>
