<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.objectstyle.wolips.doctor.core"
   name="WOLips Doctor Core Plug-in"
   version="1.0.6"
   provider-name="objectstyle.org"
   class="org.objectstyle.wolips.doctor.core.DoctorCorePlugin">

   <runtime>
      <library name="lib/wolips-doctor-core.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.objectstyle.wolips.commons"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>
   <extension-point id="doctor" name="doctor" schema="schema/doctor.exsd"/>
   <extension point="org.objectstyle.wolips.doctor.core.doctor">
   	<doctor id="Test"
   		name="Test"
   		class="org.objectstyle.wolips.doctor.core.doctor.TestDoctor">
   	</doctor>
   </extension>

</plugin>
