<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


<!-- =================================================================================== -->
<!-- Extension: Project Wizards                                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="WOLips"
            id="org.objectstyle.wolips.wizards">
      </category>
      <wizard
            name="WOComponent"
            icon="icons/wobuilder/WOComponentBundle.png"
            category="org.objectstyle.wolips.wizards"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.component">
            <class class="org.objectstyle.wolips.wizards.WOComponentCreationWizard">
              <parameter name="javatype" value="true"/>
            </class>
         <description>
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="WOComponent Controller/View"
            icon="icons/action/new-component-controller.png"
            category="org.objectstyle.wolips.wizards"
            id="org.objectstyle.wolips.wizards.new.wo.5.2.wocomponentview">
            <class class="org.objectstyle.wolips.wizards.NewComponentCreationWizard">
              <parameter name="javatype" value="true"/>
            </class>
         <description>
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.objectstyle.wolips.wizards"
            helpHref="http://developer.apple.com/documentation/WebObjects/Web_Applications/index.html"
            icon="icons/woproject/woapplication_wiz.gif"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.application"
            name="WebObjects Application"
            project="true">
            <class class="org.objectstyle.wolips.wizards.WOApplicationWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
            Build a basic WebObjects Application.
         </description>
      </wizard>
      <wizard
            name="WebObjects Framework"
            icon="icons/woproject/woframework_wiz.gif"
            category="org.objectstyle.wolips.wizards"
            project="true"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.framework">
            <class class="org.objectstyle.wolips.wizards.WOFrameworkWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
         </description>
      </wizard>
      <wizard
            category="org.objectstyle.wolips.wizards"
            helpHref="http://developer.apple.com/documentation/WebObjects/Developing_With_D2W/Introduction/chapter_1_section_1.html"
            icon="icons/woproject/d2wapplication_wiz.gif"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.d2wapplication"
            name="Direct To Web Application"
            project="true">
            <class class="org.objectstyle.wolips.wizards.D2WApplicationWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
            Build a Direct To Web Application
         </description>
      </wizard>
            <wizard
            category="org.objectstyle.wolips.wizards"
            helpHref="http://developer.apple.com/DOCUMENTATION/WebObjects/Web_Services/index.html?http://developer.apple.com/DOCUMENTATION/WebObjects/Web_Services/About/chapter_1_section_1.html"
            icon="icons/woproject/d2wapplication_wiz.gif"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.d2wsapplication"
            name="Direct To WebService Application"
            project="true">
            <class class="org.objectstyle.wolips.wizards.D2WebServiceApplicationWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
            Build a Direct To WebService Application
         </description>
      </wizard>
      <wizard
            name="WO Project from Template"
            icon="icons/woproject/woapplication_wiz.gif"
            category="org.objectstyle.wolips.wizards"
            project="true"
            id="org.objectstyle.wolips.wizards.new.projectFromTemplate">
            <class class="org.objectstyle.wolips.wizards.template.NewProjectFromTemplateWizard">
              <parameter name = "wotype" value = "true"/>
            </class>
         <description>
         </description>
      </wizard>
      <wizard
            name="Wonder Application"
            icon="icons/woproject/woapplication_wiz.gif"
            category="org.objectstyle.wolips.wizards"
            project="true"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.wonderapplication">
            <class class="org.objectstyle.wolips.wizards.WOnderApplicationWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
         </description>
      </wizard>
      <wizard
            name="Wonder Framework"
            icon="icons/woproject/woframework_wiz.gif"
            category="org.objectstyle.wolips.wizards"
            project="true"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.wonderframework">
            <class class="org.objectstyle.wolips.wizards.WOnderFrameworkWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
         </description>
      </wizard>
      <wizard
            name="Wonder D2W Application"
            icon="icons/woproject/d2wapplication_wiz.gif"
            category="org.objectstyle.wolips.wizards"
            project="true"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.wonderd2wapplication">
            <class class="org.objectstyle.wolips.wizards.WOnderD2WApplicationWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
         </description>
      </wizard>
      <wizard
            name="D2JC Application"
            icon="icons/woproject/d2wapplication_wiz.gif"
            category="org.objectstyle.wolips.wizards"
            project="true"
            id="org.objectstyle.wolips.wizards.d2jcapplication">
            <class class="org.objectstyle.wolips.wizards.D2JCApplicationWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
         </description>
      </wizard>
      <wizard
            name="Jar Project"
            icon="icons/woproject/jar_project_wiz.gif"
            category="org.objectstyle.wolips.wizards"
            project="true"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.jarproject">
            <class class="org.objectstyle.wolips.wizards.JarProjectWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
         </description>
      </wizard>
      <wizard
            name="Subproject"
            icon="icons/woproject/wosubproject_wiz.gif"
            category="org.objectstyle.wolips.wizards"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.subproject">
            <class class="org.objectstyle.wolips.wizards.WOSubprojectCreationWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="EOModel"
            icon="icons/woproject/EOModelBundle.png"
            category="org.objectstyle.wolips.wizards"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.eomodel">
            <class class="org.objectstyle.wolips.wizards.EOModelCreationWizard">
              <parameter name="eotype" value="true"/>
            </class>
         <description>
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.objectstyle.wolips.wizards"
            icon="icons/woproject/eogenerator_wiz.gif"
            id="org.objectstyle.wolips.wizards.new.eogen"
            name="EOGenerator">
            <class class="org.objectstyle.wolips.wizards.EOGeneratorWizard">
              <parameter name="eotype" value="true"/>
            </class>
         <description/>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      <wizard
            category="org.objectstyle.wolips.wizards"
            icon="icons/woproject/eomodelGroup_wiz.gif"
            id="org.objectstyle.wolips.wizards.new.eomodelgroup"
            name="EOModelGroup">
            <class class="org.objectstyle.wolips.wizards.EOModelGroupWizard">
              <parameter name="eotype" value="true"/>
            </class>
         <description/>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Action set in the perspective                                            -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="WOLips Wizards"
            description="WOLips Wizards"
            visible="false"
            id="org.objectstyle.wolips.wizards.ElementCreationActionSet">
        <action
              class="org.objectstyle.wolips.wizards.actions.NewWODropDown"
              icon="icons/wolips/WOLips16-16.png"
              id="org.objectstyle.wolips.wizards.actions.NewWODropDown"
              label="WO"
              style="pulldown"
              toolbarPath="Normal/WOLipsWizards"
              tooltip="Create new project">
         </action>
        <action
              class="org.objectstyle.wolips.wizards.actions.NewEODropDown"
              icon="icons/woproject/eomodelGroup_wiz.gif"
              id="org.objectstyle.wolips.wizards.actions.NewEODropDown"
              label="EO"
              style="pulldown"
              toolbarPath="Normal/WOLipsWizards"
              tooltip="Entity Modeler actions">
         </action>
      </actionSet>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Popup menus                                                              -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.objectstyle.wolips.wizards.actions.eogenFromEOModel"
            nameFilter="*.eomodeld"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="org.objectstyle.wolips.wizards.actions.CreateEOGenFromEOModelAction"
               icon="icons/woproject/eogenerator_wiz.gif"
               id="org.objectstyle.wolips.wizards.actions.eogenFromEOModel"
               label="Create EOGenerator File"
               menubarPath="org.objectstyle.wolips.ui.ResourceContributions/group0"/>
         <action
               class="org.objectstyle.wolips.wizards.actions.CreateEOModelGroupFromEOModelAction"
               icon="icons/woproject/eomodelGroup_wiz.gif"
               id="org.objectstyle.wolips.wizards.actions.eomodelgroupFromEOModel"
               label="Create EOModelGroup File"
               menubarPath="org.objectstyle.wolips.ui.ResourceContributions/group0"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.objectstyle.wolips.wizards.actions.importEOModelCategory"
            name="WOLips">
      </category>
      <wizard
            category="org.objectstyle.wolips.wizards.actions.importEOModelCategory"
            class="org.objectstyle.wolips.wizards.actions.NewEOModelImportWizard"
            icon="icons/woproject/eomodel_wiz.gif"
            id="org.objectstyle.wolips.wizards.actions.NewEOModelImportWizard"
            name="Import EOModels">
      </wizard>
   </extension>
</plugin>
