<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.objectstyle.wolips.ant"
   name="WOLips Ant Plug-in"
   version="1.0.6"
   provider-name="objectstyle.org"
   class="org.objectstyle.wolips.ant.AntPlugin">

   <runtime>
      <library name="lib/wolips-ant.jar">
         <export name="*"/>
         <packages prefixes="org.objectstyle.wolips.ant,org.objectstyle.wolips.ant.runner"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>


</plugin>
