<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.objectstyle.wolips.ant"
   name="%WOLips.ant.pluginName"
   version="1.0.6"
   provider-name="%WOLips.providerName">

   <runtime>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ant.core"/>
   </requires>


<!-- =================================================================================== -->
<!-- Extension: Ant                                                                      -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="lib/log4j.jar">
      </extraClasspathEntry>
   </extension>

</plugin>
