<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<!-- =================================================================================== -->
<!-- Extension: Content types                                                            -->
<!-- =================================================================================== -->
	<extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="wod"
            id="wod"
            name="WOComponent wod part"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="api"
            id="api"
            name="WOComponent api part"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="woo"
            id="woo"
            name="WOComponent woo part"
            priority="normal"/>
      <content-type
            file-names="index.eomodeld"
            id="indexdoteomodeld"
            name="EOModel"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-names="PB.project"
            id="pbdotproject"
            name="ProjectBuilder"
            priority="normal"/>
      <content-type
            file-extensions="d2wmodel"
            id="d2wmodel"
            name="RuleEditor"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="Makefile"
            id="makefile"
            name="ProjectBuilder make file"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="postamble"
            id="postamble"
            name="ProjectBuilder postamble"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="preamble"
            id="preamble"
            name="ProjectBuilder preamble"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="home,wosystemroot,wolocalroot"
            id="antincludefile"
            name="Ant include file"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="patternset"
            id="patternset"
            name="Ant Patternset file"
            priority="normal"/>
      <content-type
            base-type="org.eclipse.wst.html.core.htmlsource"
            describer="org.objectstyle.wolips.editors.contentdescriber.ContentDescriberWO"
            file-extensions="html"
            id="wohtml"
            name="Html with WO tags"
            priority="high"/>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Editors                                                                  -->
<!-- =================================================================================== -->   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="WOBuilder"
            icon="icons/editors/wobuilder.gif"
            launcher="org.objectstyle.wolips.editors.launcher.SystemEditorLauncher"
            id="org.objectstyle.wolips.editors.editor.wobuilder">
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.api"
            />
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.wod"
            />
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.woo"
            />
      </editor>
   	  <editor
            default="true"
            icon="icons/editors/eomodeler.gif"
            id="org.objectstyle.wolips.editors.editor.eomodeld"
            launcher="org.objectstyle.wolips.editors.launcher.SystemEditorLauncher"
            name="EOModeler">
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.indexdoteomodeld"
            />
      </editor>
      <editor
            default="true"
            icon="icons/editors/projectbuilder.gif"
            id="org.objectstyle.wolips.editors.editor.projectbuilder"
            launcher="org.objectstyle.wolips.editors.launcher.SystemEditorLauncher"
            name="ProjectBuilder">
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.pbdotproject"
            />
      </editor>
      <editor
            default="true"
            icon="icons/editors/ruleeditor.gif"
            id="org.objectstyle.wolips.editors.editor.d2wmodel"
            launcher="org.objectstyle.wolips.editors.launcher.SystemEditorLauncher"
            name="RuleEditor (external)">
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.d2wmodel"
            />
      </editor>
      <editor
            name="GraphicEditor"
            default="true"
            icon="icons/editors/icns.gif"
            extensions="icns"
            launcher="org.objectstyle.wolips.editors.launcher.SystemEditorLauncher"
            id="org.objectstyle.wolips.editors.editor.graphiceditor">
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.icns"
            />
      </editor>
         <editor
            default="true"
            name="Pattern Set Editor"
            icon="icons/editors/ant_buildfile.gif"
            class="org.objectstyle.wolips.editors.patterset.PatternsetEditor"
            id="org.objectstyle.wolips.ui.editor.PatternsetEditor">
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.patternset"
            />
      </editor>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Templates                                                                -->
<!-- =================================================================================== -->   
   <extension point="org.eclipse.ui.editors.templates">
		<include
			file="templates/java-templates.xml"
			translations="templates/java-templates.properties">
		</include>
    </extension>
</plugin>
