<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.objectstyle.wolips.eomodeler.eomodelGroupFactory.eclipse"
         name="Eclipse EOModel Group Factories"
         point="org.objectstyle.wolips.eomodeler.eomodelGroupFactory">
      <modelGroupFactory
            class="org.objectstyle.wolips.eomodeler.eclipse.EclipseEOModelGroupFactory"
            id="org.objectstyle.wolips.eomodeler.eclipse.modelGroupFactory"
            name="Eclipse EOModel Group Factory">
      </modelGroupFactory>
   </extension>
   <extension
         id="org.objectstyle.wolips.eomodeler.eoclassLoaderFactory.eclipse"
         name="Eclipse EOClassLoader Factory"
         point="org.objectstyle.wolips.eomodeler.eoclassLoaderFactory">
      <eoclassLoaderFactory
            class="org.objectstyle.wolips.eomodeler.eclipse.EclipseEOModelGroupFactory"
            id="org.objectstyle.wolips.eomodeler.eclipse.eoclassLoaderFactory"
            name="Eclipse EOClassLoader Factory">
      </eoclassLoaderFactory>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.objectstyle.wolips.eomodeler.eclipse.EntityModelerStartup">
      </startup>
   </extension>
   <extension
         id="org.objectstyle.wolips.eomodeler.sqlGeneratorFactory.eclipse"
         name="Eclipse SQL Generator Factories"
         point="org.objectstyle.wolips.eomodeler.sqlGeneratorFactory">
      <sqlGeneratorFactory
            class="org.objectstyle.wolips.eomodeler.core.sql.EOFSQLGeneratorFactory"
            id="org.objectstyle.wolips.eomodeler.eclipse.sqlGeneratorFactory"
            name="Eclipse SQL Generator Factory">
      </sqlGeneratorFactory>
   </extension>
   <extension
         id="org.objectstyle.wolips.eomodeler.sqlReverseEngineerFactory.eclipse"
         name="Eclipse SQL Reverse Engineer Factories"
         point="org.objectstyle.wolips.eomodeler.sqlReverseEngineerFactory">
      <sqlReverseEngineerFactory
            class="org.objectstyle.wolips.eomodeler.core.sql.EOFSQLReverseEngineerFactory"
            id="org.objectstyle.wolips.eomodeler.eclipse.sqlReverseEngineerFactory"
            name="Eclipse SQL Reverse Engineer Factory">
      </sqlReverseEngineerFactory>
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Entity Modeler Actions"
            id="org.objectstyle.wolips.eomodeler.actionSet"
            label="Entity Modeler"
            >
         <action
               class="org.objectstyle.wolips.eomodeler.actions.NewDatabaseConfigAction"
               icon="icons/newDatabaseConfig.png"
               id="org.objectstyle.wolips.eomodeler.actions.newDatabaseConfig"
               label="New Database Config"
               style="push"
               toolbarPath="/Normal"
               tooltip="New Database Config">
         </action>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.GenerateMigrationAction"
               icon="icons/migration.png"
               id="org.objectstyle.wolips.eomodeler.actions.generateMigratin"
               label="Generate Migration"
               style="push"
               toolbarPath="/Normal"
               tooltip="Generate Migration">
         </action>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.GenerateSQLAction"
               icon="icons/sql.png"
               id="org.objectstyle.wolips.eomodeler.actions.generateSQL"
               label="Generate SQL"
               style="push"
               toolbarPath="/Normal"
               tooltip="Generate SQL">
         </action>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.ReverseEngineerAction"
               icon="icons/reverseEngineer.png"
               id="org.objectstyle.wolips.eomodeler.actions.reverseEngineer"
               label="Reverse Engineer"
               style="push"
               toolbarPath="/Normal"
               tooltip="Reverse Engineer">
         </action>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.VerifyAction"
               icon="icons/verify.png"
               id="org.objectstyle.wolips.eomodeler.actions.verify"
               label="Verify Model"
               style="push"
               toolbarPath="/Normal"
               tooltip="Verify Model">
         </action>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.SubclassEntityAction"
               icon="icons/subclassEntity.png"
               id="org.objectstyle.wolips.eomodeler.actions.subclassEntity"
               label="Subclass Entity"
               style="push"
               toolbarPath="/Normal"
               tooltip="Subclass Entity">
         </action>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.FlattenAction"
               icon="icons/flattenRelationship.png"
               id="org.objectstyle.wolips.eomodeler.actions.flatten"
               label="Flatten"
               style="push"
               toolbarPath="/Normal"
               tooltip="Flatten">
         </action>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.NewEntityIndexAction"
               icon="icons/newEntityIndex.png"
               id="org.objectstyle.wolips.eomodeler.actions.newEntityIndex"
               label="New Entity Index"
               style="push"
               toolbarPath="/Normal"
               tooltip="New Entity Index">
         </action>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.NewArgumentAction"
               icon="icons/newArgument.png"
               id="org.objectstyle.wolips.eomodeler.actions.newArgument"
               label="New Argument"
               style="push"
               toolbarPath="/Normal"
               tooltip="New Argument">
         </action>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.NewStoredProcedureAction"
               icon="icons/newStoredProcedure.png"
               id="org.objectstyle.wolips.eomodeler.actions.newStoredProcedure"
               label="New Stored Procedure"
               style="push"
               toolbarPath="/Normal"
               tooltip="New Stored Procedure">
         </action>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.NewFetchSpecAction"
               icon="icons/newFetchSpecification.png"
               id="org.objectstyle.wolips.eomodeler.actions.newFetchSpec"
               label="New Fetch Specification"
               style="push"
               toolbarPath="/Normal"
               tooltip="New Fetch Specification">
         </action>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.NewRelationshipAction"
               icon="icons/newRelationship.png"
               id="org.objectstyle.wolips.eomodeler.actions.newRelationship"
               label="New Relationship"
               style="push"
               toolbarPath="/Normal"
               tooltip="New Relationship">
         </action>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.NewAttributeAction"
               icon="icons/newAttribute.png"
               id="org.objectstyle.wolips.eomodeler.actions.newAttribute"
               label="New Attribute"
               style="push"
               toolbarPath="/Normal"
               tooltip="New Attribute">
         </action>
         <action
               class="org.objectstyle.wolips.eomodeler.actions.NewEntityAction"
               icon="icons/newEntity.png"
               id="org.objectstyle.wolips.eomodeler.actions.newEntity"
               label="New Entity"
               style="push"
               toolbarPath="/Normal"
               tooltip="New Entity">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="org.objectstyle.wolips.eomodeler.actionSet">
         <part id="org.objectstyle.wolips.eomodeler.editors.EOModelEditor"/>
         <part id="org.eclipse.ui.views.PropertySheet"/>
      </actionSetPartAssociation>
   </extension>
</plugin>
