<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.objectstyle.wolips.jdt"
   name="WOLips Jdt Plug-in"
   version="1.0.6"
   provider-name="objectstyle.org"
   class="org.objectstyle.wolips.jdt.JdtPlugin">

   <runtime>
      <library name="lib/wolips-jdt.jar">
         <export name="*"/>
         <packages prefixes="org.objectstyle.wolips.jdt,org.objectstyle.wolips.jdt.classpath,org.objectstyle.wolips.jdt.ui,org.objectstyle.wolips.jdt.ant,org.objectstyle.wolips.jdt.listener"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.objectstyle.wolips.variables"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.objectstyle.wolips.datasets"/>
   </requires>


<!-- =================================================================================== -->
<!-- Extension: Classpath container initializer                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.objectstyle.wolips.jdt.classpath.WOClasspathContainerInitializer"
            id="org.objectstyle.wolips.WO_CLASSPATH">
      </classpathContainerInitializer>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Classpath container page                                                 -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="WO Frameworks"
            class="org.objectstyle.wolips.jdt.ui.WOClassPathContainerPage"
            id="org.objectstyle.wolips.WO_CLASSPATH">
      </classpathContainerPage>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: templates                                                                  -->
<!-- =================================================================================== -->
    <extension point="org.eclipse.ui.editors.templates">
		<template
    			name="action"
        		icon="icons/template.gif"
        		description="action to return a page"
        		contextTypeId="java"
        		id="org.objectstyle.wolips.jdt.ui.templates.action">
        		<pattern>
        		public ${return_type} ${name}() {
				${return_type} page = (${return_type})this.pageWithName(${return_type}.class.getName());
				${cursor}
			return page;
			}
			</pattern>
		</template>
		<template
    			name="action.this"
        		icon="icons/template.gif"
        		description="action to return this page"
        		contextTypeId="java"
        		id="org.objectstyle.wolips.jdt.ui.templates.action.this">
        		<pattern>
        		public ${primary_type_name} ${name}() {
        		${cursor}
			return (${primary_type_name})this.context().page();
			}
			</pattern>${primary_type_name}
		</template>
	</extension>

</plugin>