<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.objectstyle.wolips.woproject.ant"
   name="%WOLips.woproject.ant.pluginName"
   version="1.0.1"
   provider-name="%WOLips.providerName">

   <runtime>
   </runtime>

<!-- =================================================================================== -->
<!-- Required Plugins                                                                    -->
<!-- =================================================================================== -->   
   <requires>
      <import plugin="org.apache.ant"/>
   </requires>

<!-- =================================================================================== -->
<!-- Extension: Ant                                                                      -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="lib/woproject.jar">
      </extraClasspathEntry>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            library="lib/woproject.jar"
            name="woapplication"
            class="org.objectstyle.woproject.ant.WOApplication">
      </antTask>
      <antTask
            library="lib/woproject.jar"
            name="woframework"
            class="org.objectstyle.woproject.ant.WOFramework">
      </antTask>
      <antTask
            library="lib/woproject.jar"
            name="wogen"
            class="org.objectstyle.woproject.ant.WOGenerator">
      </antTask>
   </extension>
</plugin>
