<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="EOModel Editor"
            extensions="eomodeld"
            icon="icons/webobjects_eomodeler.gif"
            contributorClass="org.objectstyle.wolips.eomodeler.editors.EOModelEditorContributor"
            class="org.objectstyle.wolips.eomodeler.editors.EOModelEditor"
            id="org.objectstyle.wolips.eomodeler.editors.EOModelEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="EOModel (Experimental)"
            icon="icons/webobjects_eomodeler.gif"
            category="org.objectstyle.wolips.wizards"
            class="org.objectstyle.wolips.eomodeler.wizards.SampleNewWizard"
            id="org.objectstyle.wolips.eomodeler.wizards.SampleNewWizard">
      </wizard>
   </extension>

</plugin>
