<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.objectstyle.wolips.tests"
   name="%WOLipsTestsName"
   version="1.0.2"
   provider-name="www.objectstyle.org"
   class="org.objectstyle.wolips.tests.WOLipsTestsPlugin">

   <runtime>
      <library name="lib/wolips-tests.jar">
         <packages prefixes="org.objectstyle.wolips.tests"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.objectstyle.wolips"/>
      <import plugin="org.junit"/>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.search"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jdt.debug.ui"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.apache.ant"/>

   </requires>

</plugin>
