<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.objectstyle.wolips"
   name="WOLips Core"
   version="1.0.6"
   provider-name="objectstyle.org"
   class="org.objectstyle.wolips.core.plugin.WOLipsPlugin">

   <runtime>
      <library name="lib/wolips.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.objectstyle.wolips.commons"/>
      <import plugin="org.objectstyle.wolips.projectbuild"/>
   </requires>

<!-- =================================================================================== -->
<!-- Extension: WOProject Builder                                                      -->
<!-- =================================================================================== -->
   <extension
         id="incrementalbuilder"
         name="WOLips Incremental Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.objectstyle.wolips.projectbuild.builder.WOIncrementalBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="antbuilder"
         name="WOLips Ant Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.objectstyle.wolips.projectbuild.builder.WOAntBuilder">
         </run>
      </builder>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Project Natures                                                          -->
<!-- =================================================================================== -->
   <extension
         id="incrementalframeworknature"
         name="org.objectstyle.wolips.projectbuild.WOIncrementalNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.objectstyle.wolips.projectbuild.natures.IncrementalNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         id="incrementalapplicationnature"
         name="org.objectstyle.wolips.projectbuild.WOIncrementalNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.objectstyle.wolips.projectbuild.natures.IncrementalNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
<!-- Simple nature that runs ant -->
   <extension
         id="antnature"
         name="org.objectstyle.wolips.projectbuild.wolipsantnature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.objectstyle.wolips.projectbuild.natures.AntNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         id="antframeworknature"
         name="org.objectstyle.wolips.projectbuild.wolipsantnature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.objectstyle.wolips.projectbuild.natures.AntNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         id="antapplicationnature"
         name="org.objectstyle.wolips.projectbuild.wolipsantnature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.objectstyle.wolips.projectbuild.natures.AntNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>

</plugin>
