<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.objectstyle.wolips"
   name="%WOLips.pluginName"
   version="1.0.6"
   provider-name="%WOLips.providerName"
   class="org.objectstyle.wolips.core.plugin.WOLipsPlugin">

   <runtime>
      <library name="lib/wolips.jar">
         <export name="*"/>
         <packages prefixes="org.objectstyle.wolips.core"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.apache.ant"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.objectstyle.wolips.woproject"/>
   </requires>

<!-- =================================================================================== -->
<!-- Extension: Startup                                                                  -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.startup">
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Resource filter                                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.resourceFilters">
      <filter
            selected="false"
            pattern="*.woa">
      </filter>
      <filter
            selected="false"
            pattern="*.framework">
      </filter>
      <filter
            selected="false"
            pattern="*.java">
      </filter>
      <filter
            selected="false"
            pattern="*.wod">
      </filter>
      <filter
            selected="false"
            pattern="*.woo">
      </filter>
      <filter
            selected="false"
            pattern="*.html">
      </filter>
      <filter
            selected="false"
            pattern="*.api">
      </filter>
      <filter
            selected="false"
            pattern="*.wo">
      </filter>
      <filter
            selected="false"
            pattern="*.plist">
      </filter>
      <filter
            selected="false"
            pattern="*.eomodeld">
      </filter>
      <filter
            selected="false"
            pattern="*.d2wmodel">
      </filter>
      <filter
            selected="false"
            pattern="*.pbxuser">
      </filter>
      <filter
            selected="false"
            pattern="PB.project">
      </filter>
      <filter
            selected="false"
            pattern="*.postamble">
      </filter>
      <filter
            selected="false"
            pattern="*.preamble">
      </filter>
      <filter
            selected="false"
            pattern="makefile">
      </filter>
      <filter
            selected="false"
            pattern="build.xml">
      </filter>
      <filter
            selected="false"
            pattern="*.subproj">
      </filter>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Classpath container initializer                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.objectstyle.wolips.core.classpath.WOClasspathContainerInitializer"
            id="org.objectstyle.wolips.WO_CLASSPATH">
      </classpathContainerInitializer>
   </extension>

</plugin>
