<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.objectstyle.wolips"
   name="WOLips Core"
   version="1.0.6"
   provider-name="objectstyle.org"
   class="org.objectstyle.wolips.core.plugin.WOLipsPlugin">

   <runtime>
      <library name="lib/wolips.jar">
         <export name="*"/>
         <packages prefixes="org.objectstyle.wolips.core.plugin,org.objectstyle.wolips.core.preferences,org.objectstyle.wolips.core.util"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.objectstyle.wolips.commons"/>
   </requires>


</plugin>
