<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

 	<extension point="org.eclipse.wst.sse.ui.extendedconfiguration">
		<configuration
			type="textviewerconfiguration"
			class="org.objectstyle.wolips.htmleditor.editor.StructuredTextViewerConfigurationHTMLWithWebObjectTags"
			target="org.objectstyle.wolips.editors.wohtml" />
 	</extension>
 	
   <extension
         point="org.eclipse.ui.editors">
		<editor
        class="org.objectstyle.wolips.htmleditor.editor.StructuredTextEditorHTMLWithWebObjectTags"
        contributorClass="org.objectstyle.wolips.wodclipse.html.ActionContributorHTMLWithWebObjectTags"
        default="false"
        icon="icons/HTMLEditor.gif"
        id="org.objectstyle.wolips.wodclipse.html.HtmlEditor"
        name="HTML Editor with WO tags"
        symbolicFontName="org.eclipse.wst.sse.ui.textfont">
			<contentTypeBinding
				contentTypeId="org.objectstyle.wolips.editors.wohtml" />
		</editor>
   </extension>
   
   <!-- Templates -->
	<extension point="org.eclipse.ui.editors.templates">
		<include
			file="templates/htmlwo-templates.xml"
			translations="templates/htmlwo-templates.properties">
		</include>
  		<resolver
        		class="org.objectstyle.wolips.htmleditor.templates.TemplateVariableWebObjectsName"
        		contextTypeId="html_all"
        		type="wotagnameattribute"
        		name="wotagnameattribute"/>
    </extension>
</plugin>
