#if( $classGen.isUsingPackage() )
package $classGen.packageName;
#end

import java.util.List;
import org.objectstyle.cayenne.*;

public class $classGen.className extends CayenneDataObject {

## Create attribute set/get methods
#foreach( $attr in ${classGen.Entity.AttributeList} )
#set( $classGen.Prop = $attr.Name )## let controller know about current property
    public void set${classGen.cappedProp}(${attr.Type} ${attr.Name}) {
        writeProperty("${attr.Name}", ${attr.Name});
    }
    public ${attr.Type} get${classGen.cappedProp}() {
        return (${attr.Type})readProperty("${attr.Name}");
    }
    
    
#end
##
## Create list add/remove/get methods
#foreach( $rel in ${classGen.Entity.RelationshipList} )
#set( $classGen.Prop = $rel.Name )## let controller know about current property
#if( $rel.ToMany )
    public void addTo${classGen.cappedProp}(${rel.TargetEntity.ClassName} obj) {
        addToManyTarget("${rel.name}", obj, true);
    }
    public void removeFrom${classGen.cappedProp}(${rel.TargetEntity.ClassName} obj) {
        removeToManyTarget("${rel.name}", obj, true);
    }
    public List get${classGen.cappedProp}() {
        return (List)readProperty("${rel.name}");
    }
#else
    public void set${classGen.cappedProp}(${rel.TargetEntity.ClassName} ${rel.name}) {
        setToOneTarget("${rel.name}", ${rel.name}, true);
    }
    
    public ${rel.TargetEntity.ClassName} get${classGen.cappedProp}() {
        return (${rel.TargetEntity.ClassName})readProperty("${rel.name}");
    } 
#end
    
    
#end
}



