#if( ${classGen.isUsingPackage()} )
package ${classGen.packageName};
#end

import org.objectstyle.cayenne.*;

public class ${classGen.className} extends ${classGen.superPrefix}${classGen.className} {

}



