<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.objectstyle.wolips.cayenne.ant"
   name="WOLips Cayenne Ant"
   version="1.0.6"
   provider-name="objectstyle.org">

   <runtime>
   </runtime>

<!-- =================================================================================== -->
<!-- Extension: Ant                                                                      -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="lib/cayenne.jar"
            eclipseRuntime="false">
      </extraClasspathEntry>
   </extension>

</plugin>
