<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!-- =================================================================================== -->
<!-- Extension: Classpath variables initializer                                          -->
<!-- =================================================================================== -->
<extension point="org.eclipse.jdt.core.classpathVariableInitializer">
	<classpathVariableInitializer
		variable="NEXT_LOCAL_ROOT"
		class="org.objectstyle.wolips.jdt.classpath.NextLocalRootInitializer"/>
	<classpathVariableInitializer
		variable="NEXT_SYSTEM_ROOT"
		class="org.objectstyle.wolips.jdt.classpath.NextSystemRootInitializer"/>
	<classpathVariableInitializer
		variable="NEXT_ROOT"
		class="org.objectstyle.wolips.jdt.classpath.NextRootInitializer"/>
	<classpathVariableInitializer
		variable="EXTERNAL_BUILD_ROOT"
		class="org.objectstyle.wolips.jdt.classpath.ExternalBuildRootInitializer"/>
</extension>
<!-- =================================================================================== -->
<!-- Extension: Classpath container initializer                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.objectstyle.wolips.jdt.classpath.WOClasspathContainerInitializer"
            id="org.objectstyle.wolips.WO_CLASSPATH">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.objectstyle.wolips.jdt.classpath.ContainerInitializer"
            id="org.objectstyle.wolips.ContainerInitializer">
      </classpathContainerInitializer>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Classpath container page                                                 -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="WebObjects Frameworks old"
            class="org.objectstyle.wolips.jdt.ui.WOClassPathContainerPage"
            id="org.objectstyle.wolips.WO_CLASSPATH">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="WebObjects Frameworks"
            class="org.objectstyle.wolips.jdt.ui.ContainerPage"
            id="org.objectstyle.wolips.ContainerInitializer">
      </classpathContainerPage>
   </extension>
<!-- =========================================================================== -->
<!-- Filter Support                                                              -->
<!-- =========================================================================== -->
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
<!-- Package Explorer -->
      <filter
            id="org.objectstyle.wolips.ui.javaelementfilters.makefiles"
            name="PB makefiles (WOLips)"
            enabled="true"
            description="Hide the makefiles required by PBWO"
            pattern="Makefil*">
      </filter>
      <filter
            id="org.objectstyle.wolips.ui.javaelementfilters.antclasspaths"
            name="ant classpath files (WOLips)"
            enabled="true"
            description="Hide the ant classpath files generated by WOLips"
            pattern="ant.classpaths.*">
      </filter>
      <filter
            id="org.objectstyle.wolips.ui.javaelementfilters.antframeworks"
            name="ant framework files (WOLips)"
            enabled="true"
            description="Hide the ant framework files generated by WOLips"
            pattern="ant.frameworks.*">
      </filter>
      <filter
            id="org.objectstyle.wolips.ui.javaelementfilters.pbdorproject"
            name="PB.project (WOLips)"
            enabled="true"
            description="Hide the PBWO project file."
            pattern="PB.project">
      </filter>
      <filter
            id="org.objectstyle.wolips.ui.javaelementfilters.dotapi"
            name="WOComponent api (WOLips)"
            enabled="false"
            description="Hide all *.api files"
            pattern="*.api">
      </filter>
      <filter
            id="org.objectstyle.wolips.ui.javaelementfilters.dotwoo"
            name="woo (WOLips)"
            enabled="false"
            description="Hide all *.woo files"
            pattern="*.woo">
      </filter>
      <filter
            id="org.objectstyle.wolips.ui.javaelementfilters.woaicon"
            name="WOA Icon (WOLips)"
            enabled="true"
            description="Hides the WOA Icon"
            pattern="WOAfile.icns">
      </filter>
      <filter
            id="org.objectstyle.wolips.ui.javaelementfilters.custominfo.plist"
            name="CustomInfo.plist (WOLips)"
            enabled="true"
            description="Hide all CustomInfo.plist files"
            pattern="CustomInfo.Plist">
      </filter>
      <filter
            id="org.objectstyle.wolips.ui.javaelementfilters.properties"
            name="Properties (WOLips)"
            enabled="true"
            description="Hides files named Properties"
            pattern="Properties">
      </filter>
      <filter
            id="org.objectstyle.wolips.ui.javaelementfilters.builddotproperties"
            name="build.properties (WOLips)"
            enabled="true"
            description="Hide all build.properties files"
            pattern="build.properties">
      </filter>
      <filter
            id="org.objectstyle.wolips.ui.javaelementfilters.builddotxml"
            name="build.xml (WOLips)"
            enabled="true"
            description="Hide all build.xml files"
            pattern="build.xml">
      </filter>
      <filter
            id="org.objectstyle.wolips.ui.javaelementfilters.dotxcode"
            name="Xcode (WOLips)"
            enabled="true"
            description="Hide all *.xcode/*.xcodeproj files"
            pattern="*.xcode*">
      </filter>
      <filter
            id="org.objectstyle.wolips.ui.javaelementfilters.dist"
            name="dist (WOLips)"
            enabled="false"
            description="Hide all dist files"
            pattern="dist">
      </filter>
      <filter
            id="org.objectstyle.wolips.ui.javaelementfilters.build"
            name="build (WOLips)"
            enabled="false"
            description="Hide all build files"
            pattern="build">
      </filter>
      <filter
            id="org.objectstyle.wolips.ui.javaelementfilters.woproject"
            name="woproject (WOLips)"
            enabled="true"
            description="Hide all woproject files"
            class="org.objectstyle.wolips.jdt.javaelementfilters.WoprojectFilter">
      </filter>
      <filter
      	   id="org.objectstyle.wolips.ui.javaelementfilters.wocomponent"
            name="WOComponent (WOLips)"
            enabled="false"
            description="Hide all WOComponents"
            class="org.objectstyle.wolips.jdt.javaelementfilters.ComponentFilter">
      </filter>
      <filter
            description="Hide all EOGenerator underscore files"
            enabled="false"
            id="org.objectstyle.wolips.ui.javaelementfilters.eogeneratedFiles"
            name="EOGenerator _Files"
            pattern="_*.java">
      </filter>
   </extension>
<!-- =========================================================================== -->
<!-- Decorators                                                                  -->
<!-- =========================================================================== -->
	<extension point="org.eclipse.ui.decorators">
		<decorator
			label="Action"
			lightweight="true"
			location="BOTTOM_RIGHT"		
			state="true"
			class="org.objectstyle.wolips.jdt.decorator.ActionMethodDecorator"
			id="org.objectstyle.wolips.jdt.decorator.action">
			<description>
				Action
			</description>
			<enablement>
				<objectClass
					name="org.eclipse.jdt.core.IMethod">
				</objectClass>
			</enablement>
		</decorator>
   </extension>
</plugin>
