<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

 	<extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="java,html,wod,woo,api"
            icon="icons/ComponentEditor.gif"
            id="org.objectstyle.wolips.wodclipse.mpe.ComponentEditorLauncher"
            launcher="org.objectstyle.wolips.componenteditor.editor.ComponentEditorLauncher"
            name="WOComponent Editor">
			<contentTypeBinding
               contentTypeId="org.eclipse.jdt.core.javaSource"
            /> 
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.api"
            />
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.wod"
            /> 
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.woo"
            /> 
			<contentTypeBinding
               contentTypeId="org.eclipse.core.runtime.text"
            /> 
      </editor>
      <editor
            class="org.objectstyle.wolips.componenteditor.editor.ComponentEditor"
            default="false"
            icon="icons/ComponentEditor.gif"
            id="org.objectstyle.wolips.wodclipse.mpe.ComponentEditor"
            name="WOComponent Editor internal">
      </editor>
   </extension>
   
   <extension
        point="org.eclipse.ui.commands">
        <category
            name="Component Editor"
            description="Component Editor"
            id="org.objectstyle.wolips.componenteditor.componenteditor">
      </category>
        <command
                name="Switch to Java Editor"
                description="Switch to Java Editor"
                categoryId="org.objectstyle.wolips.componenteditor.componenteditor"
                id="org.objectstyle.wolips.componenteditor.editors.tojava">
        </command>
        <command
                name="Switch to Html Editor"
                description="Switch to Html Editor"
                categoryId="org.objectstyle.wolips.componenteditor.componenteditor"
                id="org.objectstyle.wolips.componenteditor.editors.tohtml">
        </command>
        <command
                name="Switch to Wod Editor"
                description="Switch to Wod Editor"
                categoryId="org.objectstyle.wolips.componenteditor.componenteditor"
                id="org.objectstyle.wolips.componenteditor.editors.towod">
        </command>
        <command
                name="Switch to Api Editor"
                description="Switch to Api Editor"
                categoryId="org.objectstyle.wolips.componenteditor.componenteditor"
                id="org.objectstyle.wolips.componenteditor.editors.toapi">
        </command>
    </extension>
    <extension point="org.eclipse.ui.bindings">
		<key
        		commandId="org.objectstyle.wolips.componenteditor.editors.tojava"
        		contextId="org.eclipse.ui.textEditorScope"
        		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        		sequence="M1+M3+1"/>
		<key
        		commandId="org.objectstyle.wolips.componenteditor.editors.tohtml"
        		contextId="org.eclipse.ui.textEditorScope"
        		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        		sequence="M1+M3+2"/>
		<key
        		commandId="org.objectstyle.wolips.componenteditor.editors.towod"
        		contextId="org.eclipse.ui.textEditorScope"
        		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        		sequence="M1+M3+3"/>
		<key
        		commandId="org.objectstyle.wolips.componenteditor.editors.toapi"
        		contextId="org.eclipse.ui.textEditorScope"
        		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        		sequence="M1+M3+4"/>
	</extension>
	
	<extension point = "org.eclipse.ui.editorActions">
      <editorContribution 
         id="org.objectstyle.wolips.componenteditor.componenteditor.javacontribution" 
         targetID="org.eclipse.jdt.ui.CompilationUnitEditor">        
           <menu id="ComponentEditorJava"
			label="&amp;Component Editor" 
             path="edit/additions">
 				<separator name="group1"/>
 				<separator name="group2"/>
		  </menu>
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToApiEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.toapi"
               id="org.objectstyle.wolips.componenteditor.editors.switchfromjavatoapi"
               label="Switch to Api Editor"
               menubarPath="edit/ComponentEditorJava/group1"/>
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToWodEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.towod"
               id="org.objectstyle.wolips.componenteditor.editors.switchfromjavatowod"
               label="Switch to Wod Editor"
               menubarPath="edit/ComponentEditorJava/group1"/>
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToHtmlEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.tohtml"
               id="org.objectstyle.wolips.componenteditor.editors.switchfromjavatohtml"
               label="Switch to Html Editor"
               menubarPath="edit/ComponentEditorJava/group1"/> 
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToJavaEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.tojava"
               id="org.objectstyle.wolips.componenteditor.editors.switchfromjavatojava"
               label="Switch to Java Editor"
               menubarPath="edit/ComponentEditorJava/group1"/>
      </editorContribution>
      <editorContribution 
         id="org.objectstyle.wolips.componenteditor.componenteditor.htmlcontribution" 
         targetID="org.objectstyle.wolips.wodclipse.html.HtmlEditor">        
           <menu id="ComponentEditorHtml"
			label="&amp;Component Editor" 
             path="edit/additions">
 				<separator name="group1"/>
 				<separator name="group2"/>
		  </menu>
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToApiEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.toapi"
               id="org.objectstyle.wolips.componenteditor.editors.switchfromhtmltoapi"
               label="Switch to Api Editor"
               menubarPath="edit/ComponentEditorHtml/group1"/>
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToWodEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.towod"
               id="org.objectstyle.wolips.componenteditor.editors.switchfromhtmltowod"
               label="Switch to Wod Editor"
               menubarPath="edit/ComponentEditorHtml/group1"/>
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToHtmlEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.tohtml"
               id="org.objectstyle.wolips.componenteditor.editors.switchfromhtmltohtml"
               label="Switch to HTML Editor"
               menubarPath="edit/ComponentEditorHtml/group1"/>
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToJavaEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.tojava"
               id="org.objectstyle.wolips.componenteditor.editors.switchfromhtmltojava"
               label="Switch to Java Editor"
               menubarPath="edit/ComponentEditorHtml/group1"/>
      </editorContribution>
      <editorContribution 
         id="org.objectstyle.wolips.componenteditor.componenteditor.wodcontribution" 
         targetID="org.objectstyle.wolips.wodclipse.wod.WodEditor">        
           <menu id="ComponentEditorWod"
			label="&amp;Component Editor" 
             path="edit/additions">
 				<separator name="group1"/>
 				<separator name="group2"/>
		  </menu>
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToApiEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.toapi"
               id="org.objectstyle.wolips.componenteditor.editors.switchfromwodtoapi"
               label="Switch to Api Editor"
               menubarPath="edit/ComponentEditorWod/group1"/> 
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToWodEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.towod"
               id="org.objectstyle.wolips.componenteditor.editors.switchfromwodtowod"
               label="Switch to Wod Editor"
               menubarPath="edit/ComponentEditorWod/group1"/> 
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToHtmlEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.tohtml"
               id="org.objectstyle.wolips.componenteditor.editors.switchfromwodtohtml"
               label="Switch to Html Editor"
               menubarPath="edit/ComponentEditorWod/group1"/> 
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToJavaEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.tojava"
               id="org.objectstyle.wolips.componenteditor.editors.switchfromwodtojava"
               label="Switch to Java Editor"
               menubarPath="edit/ComponentEditorWod/group1"/>
      </editorContribution>
 	  <editorContribution 
         id="org.objectstyle.wolips.componenteditor.componenteditor.apicontribution" 
         targetID="org.objectstyle.wolips.wodclipse.api.ApiEditor">        
           <menu id="ComponentEditorApi"
			label="&amp;Component Editor" 
             path="edit/additions">
 				<separator name="group1"/>
 				<separator name="group2"/>
		  </menu>
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToApiEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.toapi"
               id="org.objectstyle.wolips.componenteditor.editors.switchfromapitoapi"
               label="Switch to Api Editor"
               menubarPath="edit/ComponentEditorApi/group1"/> 
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToWodEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.towod"
               id="org.objectstyle.wolips.componenteditor.editors.switchfromapitowod"
               label="Switch to Wod Editor"
               menubarPath="edit/ComponentEditorApi/group1"/> 
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToHtmlEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.tohtml"
               id="org.objectstyle.wolips.componenteditor.editors.switchfromapitohtml"
               label="Switch to Html Editor"
               menubarPath="edit/ComponentEditorApi/group1"/> 
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToJavaEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.tojava"
               id="org.objectstyle.wolips.componenteditor.editors.switchfromapitojava"
               label="Switch to Java Editor"
               menubarPath="edit/ComponentEditorApi/group1"/>
      </editorContribution>
 	</extension>
</plugin>
