<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

 	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.objectstyle.wolips.componenteditor.part.ComponentEditor"
            contributorClass="org.objectstyle.wolips.componenteditor.contributor.ComponentEditorContributor"
            default="true"
            icon="icons/file-wod.png"
            id="org.objectstyle.wolips.componenteditor.ComponentEditor"
            matchingStrategy="org.objectstyle.wolips.componenteditor.launcher.ComponentEditorMatchingStrategy"
            name="WOComponent Editor">
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.api"
            />
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.wod"
            /> 
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.woo"
            />
      </editor>
   </extension>
   
   <extension
        point="org.eclipse.ui.commands">
        <category
            name="Component Editor"
            description="Component Editor"
            id="org.objectstyle.wolips.componenteditor.componenteditorcommands">
      </category>
        <command
                name="Switch to Java Editor"
                description="Switch to Java Editor"
                categoryId="org.objectstyle.wolips.componenteditor.componenteditorcommands"
                id="org.objectstyle.wolips.componenteditor.editors.tojava">
        </command>
        <command
                name="Switch to Html Editor"
                description="Switch to Html Editor"
                categoryId="org.objectstyle.wolips.componenteditor.componenteditorcommands"
                id="org.objectstyle.wolips.componenteditor.editors.tohtml">
        </command>
        <command
                name="Switch to Wod Editor"
                description="Switch to Wod Editor"
                categoryId="org.objectstyle.wolips.componenteditor.componenteditorcommands"
                id="org.objectstyle.wolips.componenteditor.editors.towod">
        </command>
        <command
                name="Switch to Preview"
                description="Switch to Preview"
                categoryId="org.objectstyle.wolips.componenteditor.componenteditorcommands"
                id="org.objectstyle.wolips.componenteditor.editors.topreview">
        </command>
        <command
                name="Switch to Api Editor"
                description="Switch to Api Editor"
                categoryId="org.objectstyle.wolips.componenteditor.componenteditorcommands"
                id="org.objectstyle.wolips.componenteditor.editors.toapi">
        </command>
        <command
                name="Switch to WOBuilder"
                description="Switch to WOBuilder"
                categoryId="org.objectstyle.wolips.componenteditor.componenteditorcommands"
                id="org.objectstyle.wolips.componenteditor.editors.towobuilder">
        </command>
        <command
              categoryId="org.objectstyle.wolips.componenteditor.componenteditorcommands"
              description="Rename..."
              id="org.objectstyle.wolips.componenteditor.editors.command.refactorRename"
              name="Rename..."/>
        <command
              categoryId="org.objectstyle.wolips.componenteditor.componenteditorcommands"
              description="Convert Inline to WOD"
              id="org.objectstyle.wolips.componenteditor.editors.command.refactorConvertToWod"
              name="Convert Inline to WOD"/>
        <command
              categoryId="org.objectstyle.wolips.componenteditor.componenteditorcommands"
              description="Format"
              id="org.objectstyle.wolips.componenteditor.editors.command.format"
              name="Format"/>
        <command
              categoryId="org.objectstyle.wolips.componenteditor.componenteditorcommands"
              description="Insert Component"
              id="org.objectstyle.wolips.componenteditor.editors.command.InsertAnyComponentAction"
              name="Insert Component"/>
    </extension>
    <extension point="org.eclipse.ui.bindings">
		<key
        		commandId="org.objectstyle.wolips.componenteditor.editors.tojava"
        		contextId="org.eclipse.ui.contexts.window"
        		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        		sequence="M1+M3+1"/>
		<key
        		commandId="org.objectstyle.wolips.componenteditor.editors.tohtml"
        		contextId="org.eclipse.ui.contexts.window"
        		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        		sequence="M1+M3+2"/>
		<key
        		commandId="org.objectstyle.wolips.componenteditor.editors.towod"
        		contextId="org.eclipse.ui.contexts.window"
        		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        		sequence="M1+M3+3"/>
		<key
        		commandId="org.objectstyle.wolips.componenteditor.editors.topreview"
        		contextId="org.eclipse.ui.contexts.window"
        		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        		sequence="M1+M3+4"/>
		<key
        		commandId="org.objectstyle.wolips.componenteditor.editors.toapi"
        		contextId="org.eclipse.ui.contexts.window"
        		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        		sequence="M1+M3+5"/>
		<key
        		commandId="org.objectstyle.wolips.componenteditor.editors.towobuilder"
        		contextId="org.eclipse.ui.contexts.window"
        		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        		sequence="M1+M3+6"/>
		<key
        		commandId="org.objectstyle.wolips.componenteditor.editors.command.InsertAnyComponentAction"
        		contextId="org.objectstyle.wolips.componenteditor.componentEditorScope"
        		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        		sequence="M1+6"/>
	  <key
	        commandId="org.objectstyle.wolips.componenteditor.editors.command.refactorRename"
	        contextId="org.objectstyle.wolips.componenteditor.componentEditorScope"
	        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
	        sequence="M1+2 R"/>
	  <key
	        commandId="org.objectstyle.wolips.componenteditor.editors.command.refactorConvertToWod"
	        contextId="org.objectstyle.wolips.componenteditor.componentEditorScope"
	        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
	        sequence="M1+2 W"/>
	  <key
	        commandId="org.objectstyle.wolips.componenteditor.editors.command.format"
	        contextId="org.objectstyle.wolips.componenteditor.componentEditorScope"
	        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
	        sequence="M1+M2+F"/>
	</extension>
	
	<extension point = "org.eclipse.ui.editorActions">
      <editorContribution 
         id="org.objectstyle.wolips.componenteditor.editorActionsContribution" 
         targetID="org.objectstyle.wolips.componenteditor.ComponentEditor">        
           <menu id="org.objectstyle.wolips.componenteditor.navigateMenuContribution"
			label="&amp;Component Editor" 
             path="navigate/additions">
 				<separator name="group1"/>
 				<separator name="group2"/>
		  </menu>
         <menu
               id="org.objectstyle.wolips.componenteditor.refactorMenuContribution"
               label="&amp;Refactor"
               path="edit/additions">
            <separator name="group1"/>
            <separator name="group2"/>
         </menu>
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToWOBuilderActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.towobuilder"
               id="org.objectstyle.wolips.componenteditor.editors.switchtowobuilder"
               label="Switch to WOBuilder"
               menubarPath="navigate/org.objectstyle.wolips.componenteditor.navigateMenuContribution/group1"/>
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToApiEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.toapi"
               id="org.objectstyle.wolips.componenteditor.editors.switchtoapi"
               label="Switch to Api Editor"
               menubarPath="navigate/org.objectstyle.wolips.componenteditor.navigateMenuContribution/group1"/>
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToPreviewActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.topreview"
               id="org.objectstyle.wolips.componenteditor.editors.switchtopreview"
               label="Switch to Preview"
               menubarPath="navigate/org.objectstyle.wolips.componenteditor.navigateMenuContribution/group1"/>
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToWodEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.towod"
               id="org.objectstyle.wolips.componenteditor.editors.switchtowod"
               label="Switch to Wod Editor"
               menubarPath="navigate/org.objectstyle.wolips.componenteditor.navigateMenuContribution/group1"/>
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToHtmlEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.tohtml"
               id="org.objectstyle.wolips.componenteditor.editors.switchtohtml"
               label="Switch to Html Editor"
               menubarPath="navigate/org.objectstyle.wolips.componenteditor.navigateMenuContribution/group1"/>
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToJavaEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.tojava"
               id="org.objectstyle.wolips.componenteditor.editors.switchtojava"
               label="Switch to Java Editor"
               menubarPath="navigate/org.objectstyle.wolips.componenteditor.navigateMenuContribution/group1"/>
         <action
               class="org.objectstyle.wolips.componenteditor.actions.FormatAction"
               definitionId="org.objectstyle.wolips.componenteditor.editors.command.format"
               id="org.objectstyle.wolips.componenteditor.editors.action.format"
               label="Format"
               menubarPath="edit/org.objectstyle.wolips.componenteditor.refactorMenuContribution/group1"
               />
         <action
               class="org.objectstyle.wolips.componenteditor.actions.QuickRenameElementAction"
               definitionId="org.objectstyle.wolips.componenteditor.editors.command.refactorRename"
               id="org.objectstyle.wolips.componenteditor.editors.action.refactorRename"
               label="Rename..."
               menubarPath="edit/org.objectstyle.wolips.componenteditor.refactorMenuContribution/group1"
               />
         <action
               class="org.objectstyle.wolips.componenteditor.actions.CleanWOBuilderElementNamesAction"
               definitionId="org.objectstyle.wolips.componenteditor.editors.command.cleanWOBuilderElementNames"
               id="org.objectstyle.wolips.componenteditor.editors.action.cleanWOBuilderElementNames"
               label="Clean WOBuilder Names..."
               menubarPath="edit/org.objectstyle.wolips.componenteditor.refactorMenuContribution/group1"
               />
         <action
               class="org.objectstyle.wolips.componenteditor.actions.ConvertInlineToWodAction"
               definitionId="org.objectstyle.wolips.componenteditor.editors.command.refactorConvertToWod"
               id="org.objectstyle.wolips.componenteditor.editors.action.refactorConvertToWod"
               label="Convert Inline to WOD"
               menubarPath="edit/org.objectstyle.wolips.componenteditor.refactorMenuContribution/group1"
               />
		</editorContribution>
      <editorContribution 
         id="org.objectstyle.wolips.javaeditor.editorActionsContribution" 
         targetID="org.eclipse.jdt.ui.CompilationUnitEditor">        
           <menu id="org.objectstyle.wolips.javaeditor.navigateMenuContribution"
			label="&amp;Component Editor" 
             path="navigate/additions">
 				<separator name="group1"/>
 				<separator name="group2"/>
		  </menu>
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToWOBuilderActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.towobuilder"
               id="org.objectstyle.wolips.javaeditor.editors.switchtowobuilder"
               label="Switch to WOBuilder"
               menubarPath="navigate/org.objectstyle.wolips.javaeditor.navigateMenuContribution/group1"/>
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToApiEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.toapi"
               id="org.objectstyle.wolips.javaeditor.editors.switchtoapi"
               label="Switch to Api Editor"
               menubarPath="navigate/org.objectstyle.wolips.javaeditor.navigateMenuContribution/group1"/>
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToWodEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.towod"
               id="org.objectstyle.wolips.javaeditor.editors.switchtowod"
               label="Switch to Wod Editor"
               menubarPath="navigate/org.objectstyle.wolips.javaeditor.navigateMenuContribution/group1"/>
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToHtmlEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.tohtml"
               id="org.objectstyle.wolips.javaeditor.editors.switchtohtml"
               label="Switch to Html Editor"
               menubarPath="navigate/org.objectstyle.wolips.javaeditor.navigateMenuContribution/group1"/>
         <action
               class="org.objectstyle.wolips.componenteditor.editormenu.SwitchToJavaEditorActionDelegate"
               definitionId="org.objectstyle.wolips.componenteditor.editors.tojava"
               id="org.objectstyle.wolips.componenteditor.editors.switchtojava"
               label="Switch to Java Editor"
               menubarPath="navigate/org.objectstyle.wolips.javaeditor.navigateMenuContribution/group1"/>
		</editorContribution>
	</extension>
	<extension point="org.eclipse.ui.editorActions">
		<editorContribution
			targetID="org.objectstyle.wolips.componenteditor.ComponentEditor"
			id="org.objectstyle.wolips.componenteditor.actionSet">
			<menu
			   id="org.objectstyle.wolips.componenteditor.insertMenuContribution"
			   label="&amp;Insert"
			   path="edit/additions">
				<separator name="group1"/>
				<separator name="group2"/>
			</menu>
			<action
				class="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOStringAction"
				icon="icons/string.png"
				id="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOString"
				label="Insert WOString Component"
				menubarPath="edit/org.objectstyle.wolips.componenteditor.insertMenuContribution/group1"
				style="push"
				toolbarPath="/Normal/additions"
				tooltip="Insert WOString Component">
			</action>
			<action
				class="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOConditionalAction"
				icon="icons/conditional.png"
				id="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOConditional"
				label="Insert WOConditional Component"
				menubarPath="edit/org.objectstyle.wolips.componenteditor.insertMenuContribution/group1"
				style="push"
				toolbarPath="/Normal/additions"
				tooltip="Insert WOConditional Component">
			</action>
			<action
				class="org.objectstyle.wolips.componenteditor.actions.InsertComponentWORepetitionAction"
				icon="icons/repetition.png"
				id="org.objectstyle.wolips.componenteditor.actions.InsertComponentWORepetition"
				label="Insert WORepetition Component"
				menubarPath="edit/org.objectstyle.wolips.componenteditor.insertMenuContribution/group1"
				style="push"
				toolbarPath="/Normal/additions"
				tooltip="Insert WORepetition Component">
			</action>
			<action
				class="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOHyperlinkAction"
				icon="icons/hyperlink.png"
				id="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOHyperlink"
				label="Insert WOHyperlink Component"
				menubarPath="edit/org.objectstyle.wolips.componenteditor.insertMenuContribution/group1"
				style="push"
				toolbarPath="/Normal/additions"
				tooltip="Insert WOHyperlink Component">
			</action>
			<action
				class="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOTextFieldAction"
				icon="icons/textfield.png"
				id="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOTextField"
				label="Insert WOTextField Component"
				menubarPath="edit/org.objectstyle.wolips.componenteditor.insertMenuContribution/group1"
				style="push"
				toolbarPath="/Normal/additions"
				tooltip="Insert WOTextField Component">
			</action>
			<action
				class="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOImageAction"
				icon="icons/image.png"
				id="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOImage"
				label="Insert WOImage Component"
				menubarPath="edit/org.objectstyle.wolips.componenteditor.insertMenuContribution/group1"
				style="push"
				toolbarPath="/Normal/additions"
				tooltip="Insert WOImage Component">
			</action>
			<action
				class="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOSubmitButtonAction"
				icon="icons/submit.png"
				id="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOSubmitButton"
				label="Insert WOSubmitButton Component"
				menubarPath="edit/org.objectstyle.wolips.componenteditor.insertMenuContribution/group1"
				style="push"
				toolbarPath="/Normal/additions"
				tooltip="Insert WOSubmitButton Component">
			</action>
			<action
				class="org.objectstyle.wolips.componenteditor.actions.InsertComponentWORadioButtonAction"
				icon="icons/radio.png"
				id="org.objectstyle.wolips.componenteditor.actions.InsertComponentWORadioButton"
				label="Insert WORadioButton Component"
				menubarPath="edit/org.objectstyle.wolips.componenteditor.insertMenuContribution/group1"
				style="push"
				toolbarPath="/Normal/additions"
				tooltip="Insert WORadioButton Component">
			</action>
			<action
				class="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOCheckBoxAction"
				icon="icons/checkbox.png"
				id="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOCheckBox"
				label="Insert WOCheckBox Component"
				menubarPath="edit/org.objectstyle.wolips.componenteditor.insertMenuContribution/group1"
				style="push"
				toolbarPath="/Normal/additions"
				tooltip="Insert WOCheckBox Component">
			</action>
			<action
				class="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOTextAction"
				icon="icons/textarea.png"
				id="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOText"
				label="Insert WOText Component"
				menubarPath="edit/org.objectstyle.wolips.componenteditor.insertMenuContribution/group1"
				style="push"
				toolbarPath="/Normal/additions"
				tooltip="Insert WOText Component">
			</action>
			<action
				class="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOPopUpButtonAction"
				icon="icons/popup.png"
				id="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOPopUpButton"
				label="Insert WOPopUpButton Component"
				menubarPath="edit/org.objectstyle.wolips.componenteditor.insertMenuContribution/group1"
				style="push"
				toolbarPath="/Normal/additions"
				tooltip="Insert WOPopUpButton Component">
			</action>
			<action
				class="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOBrowserAction"
				icon="icons/browser.png"
				id="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOBrowser"
				label="Insert WOBrowser Component"
				menubarPath="edit/org.objectstyle.wolips.componenteditor.insertMenuContribution/group1"
				style="push"
				toolbarPath="/Normal/additions"
				tooltip="Insert WOBrowser Component">
			</action>
			<action
				class="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOFormAction"
				icon="icons/form.png"
				id="org.objectstyle.wolips.componenteditor.actions.InsertComponentWOForm"
				label="Insert WOForm Component"
				menubarPath="edit/org.objectstyle.wolips.componenteditor.insertMenuContribution/group1"
				style="push"
				toolbarPath="/Normal/additions"
				tooltip="Insert WOForm Component">
			</action>
			<action
				class="org.objectstyle.wolips.componenteditor.actions.InsertAnyComponentAction"
				icon="icons/anycomponent.png"
				id="org.objectstyle.wolips.componenteditor.actions.InsertAnyComponentAction"
				definitionId="org.objectstyle.wolips.componenteditor.editors.command.InsertAnyComponentAction"
				label="Insert Component"
				menubarPath="edit/org.objectstyle.wolips.componenteditor.insertMenuContribution/group1"
				style="push"
				toolbarPath="/Normal/additions"
				tooltip="Insert Component">
			</action>
			<action
				class="org.objectstyle.wolips.componenteditor.actions.InsertHtmlTagAction"
				icon="icons/anybasictag.png"
				id="org.objectstyle.wolips.componenteditor.actions.InsertHtmlTagAction"
				label="Insert Tag"
				menubarPath="edit/org.objectstyle.wolips.componenteditor.insertMenuContribution/group1"
				style="push"
				toolbarPath="/Normal/additions"
				tooltip="Insert Tag">
			</action>
		</editorContribution>
</extension>
 <extension
       point="org.eclipse.ui.contexts">
    <context
          description="Editing Components Context"
          id="org.objectstyle.wolips.componenteditor.componentEditorScope"
          name="Editing Components"
          parentId="org.eclipse.ui.contexts.window"/>
 </extension>
     <extension
         point="org.eclipse.ui.views">
      <view
            name="Bindings Inspector"
            category="org.objectstyle.wolips.ui"
            class="org.objectstyle.wolips.componenteditor.inspector.BindingsInspector"
            id="org.objectstyle.wolips.componenteditor.inspector.BindingsInspector">
      </view>
   	 </extension>

</plugin>
