<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension
         id="entityModeler.eomodelGroupFactory"
         name="Entity Modeler EOModelGroup Factories"
         point="org.objectstyle.wolips.eomodeler.eomodelGroupFactory">
      <modelGroupFactory
            class="org.objectstyle.wolips.eomodeler.factories.BundleEOModelGroupFactory"
            id="entitymodeler.BundleEOModelGroupFactory"
            name="Bundle EOModelGroup Factory"/>
      <modelGroupFactory
            class="org.objectstyle.wolips.eomodeler.factories.SimpleManifestEOModelGroupFactory"
            id="entitymodeler.SimpleManifestEOModelGroupFactory"
            name="Simple Manifest EOModelGroup Factory"/>
      <modelGroupFactory
            class="org.objectstyle.wolips.eomodeler.factories.IDEAProjectEOModelGroupFactory"
            id="entitymodeler.IDEAProjectEOModelGroupFactory"
            name="IDEA Project EOModelGroup Factory"/>
      <modelGroupFactory
            class="org.objectstyle.wolips.eomodeler.factories.EclipseProjectEOModelGroupFactory"
            id="entitymodeler.EclipseProjectEOModelGroupFactory"
            name="Eclipse Project EOModelGroup Factory"/>
   </extension>
   <extension
         id="entityModeler.eoclassLoaderFactory"
         name="Entity Modeler EOClassLoader Factories"
         point="org.objectstyle.wolips.eomodeler.eoclassLoaderFactory">
      <eoclassLoaderFactory
            class="org.objectstyle.wolips.eomodeler.factories.SimpleManifestEOClassLoaderFactory"
            id="entitymodeler.SimpleManifestEOClassLoaderFactory"
            name="Simple Manifest EOClassLoader Factory"/>
      <eoclassLoaderFactory
            class="org.objectstyle.wolips.eomodeler.factories.IDEAProjectEOClassLoaderFactory"
            id="entitymodeler.IDEAProjectEOClassLoaderFactory"
            name="IDEA Project EOClassLoader Factory"/>
   </extension>
</plugin>
