<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


<!-- =================================================================================== -->
<!-- Extension: Project Wizards                                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="WOLips WO 5.1 and 5.2"
            id="org.objectstyle.wolips.wizards">
      </category>
      <wizard
            name="WOComponent"
            icon="icons/wobuilder/wocomponent_wiz.gif"
            category="org.objectstyle.wolips.wizards"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.component">
            <class class="org.objectstyle.wolips.wizards.WOComponentCreationWizard">
              <parameter name="javatype" value="true"/>
            </class>
         <description>
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="WOApplication"
            icon="icons/woproject/woapplication_wiz.gif"
            category="org.objectstyle.wolips.wizards"
            project="true"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.application">
            <class class="org.objectstyle.wolips.wizards.WOApplicationWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
         </description>
      </wizard>
      <wizard
            name="WOnderApplication"
            icon="icons/woproject/woapplication_wiz.gif"
            category="org.objectstyle.wolips.wizards"
            project="true"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.wonderapplication">
            <class class="org.objectstyle.wolips.wizards.WOnderApplicationWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
         </description>
      </wizard>
      <wizard
            name="WOnderD2WApplication"
            icon="icons/woproject/d2wapplication_wiz.gif"
            category="org.objectstyle.wolips.wizards"
            project="true"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.wonderd2wapplication">
            <class class="org.objectstyle.wolips.wizards.WOnderD2WApplicationWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
         </description>
      </wizard>
      <wizard
            name="WOnderFramework"
            icon="icons/woproject/woframework_wiz.gif"
            category="org.objectstyle.wolips.wizards"
            project="true"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.wonderframework">
            <class class="org.objectstyle.wolips.wizards.WOnderFrameworkWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
         </description>
      </wizard>
      <wizard
            name="D2WApplication"
            icon="icons/woproject/d2wapplication_wiz.gif"
            category="org.objectstyle.wolips.wizards"
            project="true"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.d2wapplication">
            <class class="org.objectstyle.wolips.wizards.D2WApplicationWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
         </description>
      </wizard>
      <wizard
            name="WOFramework"
            icon="icons/woproject/woframework_wiz.gif"
            category="org.objectstyle.wolips.wizards"
            project="true"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.framework">
            <class class="org.objectstyle.wolips.wizards.WOFrameworkWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
         </description>
      </wizard>
      <wizard
            name="Jar Project"
            icon="icons/woproject/jar_project_wiz.gif"
            category="org.objectstyle.wolips.wizards"
            project="true"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.jarproject">
            <class class="org.objectstyle.wolips.wizards.JarProjectWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
         </description>
      </wizard>
      <wizard
            name="Subproject"
            icon="icons/woproject/wosubproject_wiz.gif"
            category="org.objectstyle.wolips.wizards"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.subproject">
            <class class="org.objectstyle.wolips.wizards.WOSubprojectCreationWizard">
              <parameter name="wotype" value="true"/>
            </class>
         <description>
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="EOModel"
            icon="icons/woproject/eomodel_wiz.gif"
            category="org.objectstyle.wolips.wizards"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.eomodel">
            <class class="org.objectstyle.wolips.wizards.EOModelCreationWizard">
              <parameter name="eotype" value="true"/>
            </class>
         <description>
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.objectstyle.wolips.wizards"
            icon="icons/woproject/eogenerator_wiz.gif"
            id="org.objectstyle.wolips.wizards.new.eogen"
            name="EOGenerator">
            <class class="org.objectstyle.wolips.wizards.EOGeneratorWizard">
              <parameter name="eotype" value="true"/>
            </class>
         <description/>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      <wizard
            category="org.objectstyle.wolips.wizards"
            icon="icons/woproject/eomodelGroup_wiz.gif"
            id="org.objectstyle.wolips.wizards.new.eomodelgroup"
            name="EOModelGroup">
            <class class="org.objectstyle.wolips.wizards.EOModelGroupWizard">
              <parameter name="eotype" value="true"/>
            </class>
         <description/>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Action set in the perspective                                            -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="WOLips Wizards"
            description="WOLips Wizards"
            visible="false"
            id="org.objectstyle.wolips.wizards.ElementCreationActionSet">
        <action
               id="org.objectstyle.wolips.wizards.actions.NewWODropDown"
               toolbarPath="Normal/WOLipsWizards"
               class="org.objectstyle.wolips.wizards.actions.NewWODropDown"
               icon="icons/wolips/WOLips16-16.png"
               label="WO"
               style="pulldown">
         </action>
        <action
               id="org.objectstyle.wolips.wizards.actions.NewEODropDown"
               toolbarPath="Normal/WOLipsWizards"
               class="org.objectstyle.wolips.wizards.actions.NewEODropDown"
               icon="icons/woproject/eomodelGroup_wiz.gif"
               label="EO"
               style="pulldown">
         </action>
      </actionSet>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Popup menus                                                              -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            nameFilter="build.xml"
            id="org.objectstyle.wolips.wizards.actions.UpgradeBuildXML">
         <action
               label="Replace with latest build.xml"
               icon="icons/action/ant_buildfile.gif"
               class="org.objectstyle.wolips.wizards.actions.UpgradeBuildXML"
               menubarPath="org.objectstyle.wolips.ant.ui.ResourceContributions/group2"
               enablesFor="1"
               id="org.objectstyle.wolips.wizards.actions.UpgradeBuildXML">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.objectstyle.wolips.wizards.actions.UpgradeAllBuildXML">
         <action
               label="Replace with latest build.xml"
               icon="icons/action/ant_buildfile.gif"
               class="org.objectstyle.wolips.wizards.actions.UpgradeAllBuildXML"
               menubarPath="org.objectstyle.wolips.ant.ui.ResourceContributions/group2"
               id="org.objectstyle.wolips.wizards.actions.UpgradeAllBuildXML">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.objectstyle.wolips.wizards.actions.eogenFromEOModel"
            nameFilter="*.eomodeld"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="org.objectstyle.wolips.wizards.actions.CreateEOGenFromEOModelAction"
               icon="icons/woproject/eogenerator_wiz.gif"
               id="org.objectstyle.wolips.wizards.actions.eogenFromEOModel"
               label="Create EOGenerator File"
               menubarPath="org.objectstyle.wolips.ui.ResourceContributions/group0"/>
         <action
               class="org.objectstyle.wolips.wizards.actions.CreateEOModelGroupFromEOModelAction"
               icon="icons/woproject/eomodelGroup_wiz.gif"
               id="org.objectstyle.wolips.wizards.actions.eomodelgroupFromEOModel"
               label="Create EOModelGroup File"
               menubarPath="org.objectstyle.wolips.ui.ResourceContributions/group0"/>
      </objectContribution>
   </extension>
</plugin>
