{
    DYNAMIC_CODE_GEN = YES; 
    English_RESOURCES = {}; 
    FILESTABLE = {
        CLASSES = (  ); 
        OTHER_LINKED = (); 
        OTHER_SOURCES = (); 
        SUBPROJECTS = (); 
        WOAPP_RESOURCES = ( ); 
        WO_COMPONENTS = ( );  
    }; 
    LANGUAGE = English; 
    PROJECTNAME = ${WOLipsContext.getProjectName()}; 
    PROJECTTYPE = JavaWebObjectsSubproject; 
    PROJECTVERSION = 2.8; 
}