<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<!-- =================================================================================== -->
<!-- Extension: WOLips projectbuild problem marker                                       -->
<!-- =================================================================================== -->
   <extension
         id="projectbuild.taskmarker"
         name="WOLips Task Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.taskmarker">
      </super>
   </extension>
   <extension
         id="projectbuild.marker"
         name="WOLips Build Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         id="projectbuild.problem"
         name="WOLips Build Problem Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.objectstyle.wolips.projectbuild.marker">
      </super>
   </extension>
   <extension
         id="projectbuild.duplicate"
         name="WOLips Build Duplicate Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.objectstyle.wolips.projectbuild.marker">
      </super>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Builder                                                                  -->
<!-- =================================================================================== -->  
   <extension point="org.objectstyle.wolips.builders">
	  <builder
		id="org.objectstyle.wolips.builder.dotxcodebuilder"
         name="DotXcode Builder"
         class="org.objectstyle.wolips.builder.internal.DotXcodeBuilder"
         />
     <builder
		id="org.objectstyle.wolips.builder.pbdotprojectbuilder"
         name="PB.project Builder"
         class="org.objectstyle.wolips.builder.internal.PBDotProjectBuilder"/>
	  <builder
		id="org.objectstyle.wolips.projectbuild.builder.antbuilder"
         name="Ant Builder"
         class="org.objectstyle.wolips.builder.internal.WOAntBuilder"
         context="ant"/>
     <builder
		id="org.objectstyle.wolips.projectbuild.builder.incrementalbuilder"
         name="Incremental Builder"
         class="org.objectstyle.wolips.builder.internal.WOIncrementalBuilder"
         context="incremental"/>
   </extension>
   <extension
         point="org.eclipse.ant.core.antProperties">
      <antProperty
            class="org.objectstyle.wolips.builder.internal.WOLipsAntPropertyValueProvider"
            name="org.objectstyle.wolips.builder.ant.wolipsProperties"
            value="wolips.global.properties">
      </antProperty>
   </extension>
</plugin>
