<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.objectstyle.wolips"
   name="%WOLips.pluginName"
   version="1.0.0"
   provider-name="%WOLips.providerName"
   class="org.objectstyle.wolips.core.plugin.WOLipsPlugin">

   <runtime>
      <library name="lib/wolips.jar">
         <export name="*"/>
         <packages prefixes="org.objectstyle.wolips.core"/>
      </library>
      <library name="lib/commons-logging.jar">
         <export name="*"/>
         <packages prefixes="org.apache.commons.logging"/>
      </library>
      <library name="lib/log4j.jar">
         <export name="*"/>
         <packages prefixes="org.apache.log4j"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.search"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jdt.debug.ui"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.apache.ant"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.objectstyle.wolips.cayenne"/>
      <import plugin="org.objectstyle.wolips.cayenne.ant"/>
      <import plugin="org.objectstyle.wolips.woproject"/>
      <import plugin="org.objectstyle.wolips.woproject.ant"/>
   </requires>


<!-- =================================================================================== -->
<!-- Extension: Startup                                                                  -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.startup">
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Team file types                                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="wod">
      </fileTypes>
      <fileTypes
            type="text"
            extension="woo">
      </fileTypes>
      <fileTypes
            type="text"
            extension="plist">
      </fileTypes>
      <fileTypes
            type="text"
            extension="eomodeld">
      </fileTypes>
      <fileTypes
            type="text"
            extension="api">
      </fileTypes>
      <fileTypes
            type="text"
            extension="postamble">
      </fileTypes>
      <fileTypes
            type="text"
            extension="preamble">
      </fileTypes>
      <fileTypes
            type="text"
            extension="d2wmodel">
      </fileTypes>
      <fileTypes
            type="text"
            extension="pbxuser">
      </fileTypes>
      <fileTypes
            type="text"
            extension="pbxproj">
      </fileTypes>
      <fileTypes
            type="text"
            extension="ini">
      </fileTypes>
      <fileTypes
            type="text"
            extension="mappings">
      </fileTypes>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Ignored team file types                                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.team.core.ignore">
      <ignore
            enabled="true"
            pattern="*.woa">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.framework">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.eomodeld~">
      </ignore>
      <ignore
            enabled="true"
            pattern=".DS_Store">
      </ignore>
      <ignore
            enabled="true"
            pattern="ant.frameworks.wo.woroot">
      </ignore>
      <ignore
            enabled="true"
            pattern="ant.frameworks.wo.wolocalroot">
      </ignore>
      <ignore
            enabled="true"
            pattern="ant.frameworks.user.home">
      </ignore>
      <ignore
            enabled="true"
            pattern="ant.classpaths.wo.woroot">
      </ignore>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Resource filter                                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.resourceFilters">
      <filter
            selected="false"
            pattern="*.woa">
      </filter>
      <filter
            selected="false"
            pattern="*.framework">
      </filter>
      <filter
            selected="false"
            pattern="*.java">
      </filter>
      <filter
            selected="false"
            pattern="*.wod">
      </filter>
      <filter
            selected="false"
            pattern="*.woo">
      </filter>
      <filter
            selected="false"
            pattern="*.html">
      </filter>
      <filter
            selected="false"
            pattern="*.api">
      </filter>
      <filter
            selected="false"
            pattern="*.wo">
      </filter>
      <filter
            selected="false"
            pattern="*.plist">
      </filter>
      <filter
            selected="false"
            pattern="*.eomodeld">
      </filter>
      <filter
            selected="false"
            pattern="*.d2wmodel">
      </filter>
      <filter
            selected="false"
            pattern="*.pbxuser">
      </filter>
      <filter
            selected="false"
            pattern="PB.project">
      </filter>
      <filter
            selected="false"
            pattern="*.postamble">
      </filter>
      <filter
            selected="false"
            pattern="*.preamble">
      </filter>
      <filter
            selected="false"
            pattern="makefile">
      </filter>
      <filter
            selected="false"
            pattern="build.xml">
      </filter>
      <filter
            selected="false"
            pattern="*.subproj">
      </filter>
   </extension>

</plugin>
