<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.objectstyle.wolips"
   name="%WOLips.pluginName"
   version="0.9.8"
   provider-name="%WOLips.providerName"
   class="org.objectstyle.wolips.plugin.WOLipsPlugin">

   <runtime>
      <library name="lib/wolips.jar">
         <export name="*"/>
         <packages prefixes="org.objectstyle.wolips.actions,org.objectstyle.wolips.ant,org.objectstyle.wolips.builder,org.objectstyle.wolips.editor,org.objectstyle.wolips.ide,org.objectstyle.wolips.images,org.objectstyle.wolips.io,org.objectstyle.wolips.listener,org.objectstyle.wolips.logging,org.objectstyle.wolips.natures,org.objectstyle.wolips.plugin,org.objectstyle.wolips.preferences,org.objectstyle.wolips.project,org.objectstyle.wolips.resources,org.objectstyle.wolips.ui,org.objectstyle.wolips.utils,org.objectstyle.wolips.wizards,org.objectstyle.wolips.workbench"/>
      </library>
      <library name="lib/woproject.jar">
         <export name="*"/>
         <packages prefixes="org.objectstyle.woproject.ant,org.objectstyle.woproject.env,org.objectstyle.woproject.log4j,org.objectstyle.woproject.pb,org.objectstyle.woproject.util,org.objectstyle.woproject.wo"/>
      </library>
      <library name="lib/cayenne.jar">
         <export name="*"/>
         <packages prefixes="org.objectstyle.cayenne"/>
      </library>
      <library name="lib/commons-logging.jar">
         <export name="*"/>
         <packages prefixes="org.apache.commons.logging"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.search"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jdt.debug.ui"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.apache.ant"/>
   </requires>


<!-- =================================================================================== -->
<!-- Extension: Project Wizards                                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%WOLips.webobjects.5.1.categoryName"
            id="org.objectstyle.wolips.wizards.webobjects.5.1">
      </category>
      <wizard
            name="%WOLips.Component"
            icon="icons/wobuilder/wocomponent_wiz.gif"
            category="org.objectstyle.wolips.wizards.webobjects.5.1"
            class="org.objectstyle.wolips.wizards.WOComponentCreationWizard"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.component">
         <description>
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="%WOLips.Subproject"
            icon="icons/woproject/wosubproject_wiz.gif"
            category="org.objectstyle.wolips.wizards.webobjects.5.1"
            class="org.objectstyle.wolips.wizards.WOSubprojectCreationWizard"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.subproject">
         <description>
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="%WOLips.Application"
            icon="icons/woproject/woapplication_wiz.gif"
            category="org.objectstyle.wolips.wizards.webobjects.5.1"
            class="org.objectstyle.wolips.wizards.WOApplicationCreationWizard"
            project="true"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.application">
         <description>
         </description>
      </wizard>
      <wizard
            name="%WOLips.Framework"
            icon="icons/woproject/woframework_wiz.gif"
            category="org.objectstyle.wolips.wizards.webobjects.5.1"
            class="org.objectstyle.wolips.wizards.WOFrameworkCreationWizard"
            project="true"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.framework">
         <description>
         </description>
      </wizard>
      <wizard
            name="%WOLips.EOModel"
            icon="icons/woproject/eomodel_wiz.gif"
            category="org.objectstyle.wolips.wizards.webobjects.5.1"
            class="org.objectstyle.wolips.wizards.EOModelCreationWizard"
            id="org.objectstyle.wolips.wizards.new.wo.5.1.eomodel">
         <description>
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Action set in the perspective                                            -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%ElementCreationActionSet.label"
            description="%ElementCreationActionSet.description"
            visible="false"
            id="org.objectstyle.wolips.ElementCreationActionSet">
         <action
               label="%EnableWOBuild.label"
               icon="icons/wobuild/enable_build.gif"
               tooltip="%EnableWOBuild.tooltip"
               class="org.objectstyle.wolips.actions.WOBuildEnableAction"
               toolbarPath="Normal/WOLipsWizards"
               id="WOBuild.Enable.ID">
         </action>
         <action
               label="%DisableWOBuild.label"
               icon="icons/wobuild/disable_build.gif"
               tooltip="%DisableWOBuild.tooltip"
               class="org.objectstyle.wolips.actions.WOBuildDisableAction"
               toolbarPath="Normal/WOLipsWizards"
               id="WOBuild.Disable.ID">
         </action>
         <action
               label="%OpenEOModelCreationWizard.label"
               icon="icons/woproject/eomodel_wiz.gif"
               tooltip="%OpenEOModelCreationWizard.tooltip"
               class="org.objectstyle.wolips.actions.OpenEOModelCreationWizard"
               toolbarPath="Normal/WOLipsWizards"
               id="org.objectstyle.wolips.OpenEOModelCreationWizard">
         </action>
         <action
               label="%OpenWOComponentCreationWizard.label"
               icon="icons/wobuilder/wocomponent_wiz.gif"
               tooltip="%OpenWOComponentCreationWizard.tooltip"
               class="org.objectstyle.wolips.actions.OpenWOComponentCreationWizard"
               toolbarPath="Normal/WOLipsWizards"
               id="org.objectstyle.wolips.OpenWOComponentCreationWizard">
         </action>
         <action
               label="%OpenWOSubprojectCreationWizard.label"
               icon="icons/woproject/wosubproject_wiz.gif"
               tooltip="%OpenWOSubprojectCreationWizard.tooltip"
               class="org.objectstyle.wolips.actions.OpenWOSubprojectCreationWizard"
               toolbarPath="Normal/WOLipsWizards"
               id="org.objectstyle.wolips.OpenWOSubprojectCreationWizard">
         </action>
         <action
               label="%OpenWOFrameworkCreationWizard.label"
               icon="icons/woproject/woframework_wiz.gif"
               tooltip="%OpenWOFrameworkCreationWizard.tooltip"
               class="org.objectstyle.wolips.actions.OpenWOFrameworkCreationWizard"
               toolbarPath="Normal/WOLipsWizards"
               id="org.objectstyle.wolips.OpenWOFrameworkCreationWizard">
         </action>
         <action
               label="%OpenWOProjectCreationWizard.label"
               icon="icons/woproject/woapplication_wiz.gif"
               tooltip="%OpenWOProjectCreationWizard.tooltip"
               class="org.objectstyle.wolips.actions.OpenWOProjectCreationWizard"
               toolbarPath="Normal/WOLipsWizards"
               id="org.objectstyle.wolips.OpenWOProjectCreationWizard">
         </action>
      </actionSet>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Project actions                                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
         <menu
               label="&amp;WOLips"
               path="additions"
               id="org.objectstyle.wolips">
            <separator
                  name="project">
            </separator>
            <separator
                  name="wobuilder">
            </separator>
            <separator
                  name="woframeworks">
            </separator>
         </menu>
         <action
               label="%UpdatePB.Project"
               class="org.objectstyle.wolips.actions.PBAction"
               menubarPath="org.objectstyle.wolips/project"
               id="%UpdatePB.Project.ID">
         </action>
         <action
               label="%WOBuilder.Remove"
               class="org.objectstyle.wolips.actions.WOBuilderAction"
               menubarPath="org.objectstyle.wolips/wobuilder"
               id="%WOBuilder.Remove.ID">
         </action>
         <action
               label="%WOApplicationBuilder.Set"
               class="org.objectstyle.wolips.actions.WOBuilderAction"
               menubarPath="org.objectstyle.wolips/wobuilder"
               id="%WOApplicationBuilder.Set.ID">
         </action>
         <action
               label="%WOFrameworkBuilder.Set"
               class="org.objectstyle.wolips.actions.WOBuilderAction"
               menubarPath="org.objectstyle.wolips/wobuilder"
               id="%WOFrameworkBuilder.Set.ID">
         </action>
         <action
               label="%WOSystemFramework.Add"
               class="org.objectstyle.wolips.actions.WOFrameworkAction"
               menubarPath="org.objectstyle.wolips/woframeworks"
               id="%WOSystemFramework.Add.ID">
         </action>
         <action
               label="%WOLocalFramework.Add"
               class="org.objectstyle.wolips.actions.WOFrameworkAction"
               menubarPath="org.objectstyle.wolips/woframeworks"
               id="%WOLocalFramework.Add.ID">
         </action>
      </objectContribution>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: File actions                                                             -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.ICompilationUnit"
            adaptable="true"
            nameFilter="*.java"
            id="org.objectstyle.wolips.actions.OpenComponentAction">
         <action
               label="%WOLips.PopupMenu.OpenComponentAction"
               tooltip="%WOLips.PopupMenu.OpenComponentActionTip"
               class="org.objectstyle.wolips.actions.OpenComponentAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.objectstyle.wolips.actions.OpenComponentAction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            nameFilter="*.wod"
            id="org.objectstyle.wolips.actions.OpenSourceAction">
         <action
               label="%WOLips.PopupMenu.OpenSourceAction"
               tooltip="%WOLips.PopupMenu.OpenSourceActionTip"
               class="org.objectstyle.wolips.actions.OpenSourceAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.objectstyle.wolips.actions.OpenSourceAction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IContainer"
            adaptable="true"
            nameFilter="*.wo"
            id="org.objectstyle.wolips.actions.OpenSourceAction">
         <action
               label="%WOLips.PopupMenu.OpenSourceAction"
               tooltip="%WOLips.PopupMenu.OpenSourceActionTip"
               class="org.objectstyle.wolips.actions.OpenSourceAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.objectstyle.wolips.actions.OpenSourceAction">
         </action>
         <action
               label="%WOLips.PopupMenu.DeleteComponent"
               tooltip="%WOLips.PopupMenu.DeleteComponentTip"
               class="org.objectstyle.wolips.actions.DeleteComponentAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.objectstyle.wolips.actions.DeleteComponentAction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            nameFilter="*.eomodeld"
            id="org.objectstyle.wolips.actions.EnableEOGeneration">
         <action
               label="%WOLips.PopupMenu.EnableEOGeneration.label"
               tooltip="%WOLips.PopupMenu.EnableEOGeneration.tooltip"
               class="org.objectstyle.wolips.actions.EnableEOGeneration"
               menubarPath="additions"
               enablesFor="1"
               id="org.objectstyle.wolips.actions.EnableEOGeneration">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IContainer"
            adaptable="true"
            nameFilter="*.eomodeld"
            id="org.objectstyle.wolips.actions.EnableEOGeneration">
         <action
               label="%WOLips.PopupMenu.EnableEOGeneration.label"
               tooltip="%WOLips.PopupMenu.EnableEOGeneration.tooltip"
               class="org.objectstyle.wolips.actions.EnableEOGeneration"
               menubarPath="additions"
               enablesFor="1"
               id="org.objectstyle.wolips.actions.EnableEOGeneration">
         </action>
      </objectContribution>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Ant                                                                      -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="lib/wolips.jar">
      </extraClasspathEntry>
      <extraClasspathEntry
            library="lib/woproject.jar">
      </extraClasspathEntry>
      <extraClasspathEntry
            library="lib/cayenne.jar">
      </extraClasspathEntry>
      <extraClasspathEntry
            library="lib/commons-logging.jar">
      </extraClasspathEntry>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            library="lib/woproject.jar"
            name="woapplication"
            class="org.objectstyle.woproject.ant.WOApplication">
      </antTask>
      <antTask
            library="lib/woproject.jar"
            name="woframework"
            class="org.objectstyle.woproject.ant.WOFramework">
      </antTask>
      <antTask
            library="lib/woproject.jar"
            name="wogen"
            class="org.objectstyle.woproject.ant.WOGenerator">
      </antTask>
      <antTask
            library="lib/wolips.jar"
            name="updateframeworksets"
            class="org.objectstyle.wolips.ant.UpdateFrameworkIncludeFiles">
      </antTask>
      <antTask
            library="lib/wolips.jar"
            name="refreshview"
            class="org.objectstyle.wolips.ant.RefreshEclipse">
      </antTask>
      <antTask
            library="lib/wolips.jar"
            name="updateotherclasspaths"
            class="org.objectstyle.wolips.ant.UpdateOtherClasspathIncludeFiles">
      </antTask>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: WOGenerator                                                              -->
<!-- =================================================================================== -->
   <extension
         id="wogenerator"
         name="%WOGenerator.Name"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.objectstyle.wolips.builder.WOGenerator">
         </run>
      </builder>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: WOFramework Builder                                                      -->
<!-- =================================================================================== -->
   <extension
         id="woframeworkbuilder"
         name="%WOFrameworkBuilderName"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.objectstyle.wolips.builder.WOFrameworkBuilder">
         </run>
      </builder>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: WOApplication Builder                                                    -->
<!-- =================================================================================== -->
   <extension
         id="woapplicationbuilder"
         name="%WOApplicationBuilderName"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.objectstyle.wolips.builder.WOApplicationBuilder">
         </run>
      </builder>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Editors                                                                  -->
<!-- =================================================================================== -->
   <extension
         id="org.objectstyle.wolips.editors"
         point="org.eclipse.ui.editors">
      <editor
            name="WOComponent Builder"
            default="true"
            icon="icons/wobuilder/webobjects_builder.gif"
            extensions="wod"
            launcher="org.objectstyle.wolips.editor.OpenSystemEditor"
            id="org.objectstyle.wolips.external.wod.editor">
      </editor>
      <editor
            name="EOModeler"
            default="true"
            icon="icons/eomodeler/webobjects_eomodeler.gif"
            extensions="eomodeld"
            launcher="org.objectstyle.wolips.editor.OpenSystemEditor"
            id="org.objectstyle.wolips.external.eomodeld.editor">
      </editor>
      <editor
            name="ProjectBuilderWO"
            default="false"
            icon="icons/projectbuilder/projectbuilderwo.gif"
            extensions="project"
            launcher="org.objectstyle.wolips.editor.OpenSystemEditor"
            id="org.objectstyle.wolips.external.projectbuilder.wo">
      </editor>
      <editor
            name="RuleEditor"
            default="true"
            icon="icons/eomodeler/webobjects_eomodeler.gif"
            extensions="d2wmodel"
            launcher="org.objectstyle.wolips.editor.OpenSystemEditor"
            id="org.objectstyle.wolips.external.d2w.model">
      </editor>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Project Natures                                                          -->
<!-- =================================================================================== -->
   <extension
         id="applicationnature"
         name="org.objectstyle.wolips.applicationnature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.objectstyle.wolips.natures.WOApplicationNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         id="frameworknature"
         name="org.objectstyle.wolips.frameworknature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.objectstyle.wolips.natures.WOFrameworkNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Perspective                                                              -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="WOLips"
            icon="icons/wolips/WOLips-icon.gif"
            class="org.objectstyle.wolips.ui.PerspectiveFactory"
            id="org.objectstyle.wolips.ui.Perspective">
      </perspective>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Startup                                                                  -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.startup">
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Decorators                                                               -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            objectClass="org.eclipse.core.resources.IFolder"
            label="WebObjects"
            state="true"
            class="org.objectstyle.wolips.utils.WOLabelDecorator"
            id="org.objectstyle.wolips.utils.decorator">
      </decorator>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: View                                                                     -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%WOLips.View.Category.Name"
            id="org.objectstyle.wolips.ui">
      </category>
      <view
            name="%WOLips.NavigatorViewName"
            icon="icons/wolips/WOLips-icon.gif"
            category="org.objectstyle.wolips.ui"
            class="org.objectstyle.wolips.ui.Navigator"
            id="org.objectstyle.wolips.ui.Navigator">
      </view>
      <view
            name="%WOLips.WONavigatorViewName"
            icon="icons/wolips/WOLips-icon.gif"
            category="org.objectstyle.wolips.ui"
            class="org.objectstyle.wolips.ui.WONavigator"
            id="org.objectstyle.wolips.ui.WONavigator">
      </view>
      <view
            name="%WOLips.ModelNavigatorViewName"
            icon="icons/wolips/WOLips-icon.gif"
            category="org.objectstyle.wolips.ui"
            class="org.objectstyle.wolips.ui.ModelNavigator"
            id="org.objectstyle.wolips.ui.ModelNavigator">
      </view>
      <view
            name="%WOLips.ProductNavigatorViewName"
            icon="icons/wolips/WOLips-icon.gif"
            category="org.objectstyle.wolips.ui"
            class="org.objectstyle.wolips.ui.ProductNavigator"
            id="org.objectstyle.wolips.ui.ProductNavigator">
      </view>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Preferences                                                              -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%WOLips.preferences.viewName"
            class="org.objectstyle.wolips.preferences.PreferencesPage"
            id="org.objectstyle.wolips.preferences.PreferencesPage">
      </page>
      <page
            name="%WOLips.preferences.build.viewName"
            category="org.objectstyle.wolips.preferences.PreferencesPage"
            class="org.objectstyle.wolips.preferences.BuildPreferencesPage"
            id="org.objectstyle.wolips.preferences.BuildPreferencesPage">
      </page>
      <page
            name="%WOLips.preferences.ui.viewName"
            category="org.objectstyle.wolips.preferences.PreferencesPage"
            class="org.objectstyle.wolips.preferences.UIPreferencesPage"
            id="org.objectstyle.wolips.preferences.UIPreferencesPage">
      </page>
      <page
            name="%WOLips.preferences.log.viewName"
            category="org.objectstyle.wolips.preferences.PreferencesPage"
            class="org.objectstyle.wolips.preferences.LogPreferencesPage"
            id="org.objectstyle.wolips.preferences.LogPreferencesPage">
      </page>
      <page
            name="%WOLips.preferences.launch.viewName"
            category="org.objectstyle.wolips.preferences.PreferencesPage"
            class="org.objectstyle.wolips.preferences.LaunchPreferencesPage"
            id="org.objectstyle.wolips.preferences.LaunchPreferencesPage">
      </page>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Team file types                                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="wod">
      </fileTypes>
      <fileTypes
            type="text"
            extension="woo">
      </fileTypes>
      <fileTypes
            type="text"
            extension="plist">
      </fileTypes>
      <fileTypes
            type="text"
            extension="eomodeld">
      </fileTypes>
      <fileTypes
            type="text"
            extension="api">
      </fileTypes>
      <fileTypes
            type="text"
            extension="postamble">
      </fileTypes>
      <fileTypes
            type="text"
            extension="preamble">
      </fileTypes>
      <fileTypes
            type="text"
            extension="d2wmodel">
      </fileTypes>
      <fileTypes
            type="text"
            extension="pbxuser">
      </fileTypes>
      <fileTypes
            type="text"
            extension="pbxproj">
      </fileTypes>
      <fileTypes
            type="text"
            extension="ini">
      </fileTypes>
      <fileTypes
            type="text"
            extension="mappings">
      </fileTypes>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Ignored team file types                                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.team.core.ignore">
      <ignore
            selected="true"
            pattern=".DS_Store">
      </ignore>
      <ignore
            selected="true"
            pattern="ant.frameworks.wo.woroot">
      </ignore>
      <ignore
            selected="true"
            pattern="ant.frameworks.wo.wolocalroot">
      </ignore>
      <ignore
            selected="true"
            pattern="ant.frameworks.user.home">
      </ignore>
      <ignore
            selected="true"
            pattern="ant.classpaths.wo.woroot">
      </ignore>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Resource filter                                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.resourceFilters">
      <filter
            selected="false"
            pattern="*.woa">
      </filter>
      <filter
            selected="false"
            pattern="*.framework">
      </filter>
      <filter
            selected="false"
            pattern="*.java">
      </filter>
      <filter
            selected="false"
            pattern="*.wod">
      </filter>
      <filter
            selected="false"
            pattern="*.woo">
      </filter>
      <filter
            selected="false"
            pattern="*.html">
      </filter>
      <filter
            selected="false"
            pattern="*.api">
      </filter>
      <filter
            selected="false"
            pattern="*.wo">
      </filter>
      <filter
            selected="false"
            pattern="*.plist">
      </filter>
      <filter
            selected="false"
            pattern="*.eomodeld">
      </filter>
      <filter
            selected="false"
            pattern="*.d2wmodel">
      </filter>
      <filter
            selected="false"
            pattern="*.pbxuser">
      </filter>
      <filter
            selected="false"
            pattern="PB.project">
      </filter>
      <filter
            selected="false"
            pattern="*.postamble">
      </filter>
      <filter
            selected="false"
            pattern="*.preamble">
      </filter>
      <filter
            selected="false"
            pattern="makefile">
      </filter>
      <filter
            selected="false"
            pattern="build.xml">
      </filter>
      <filter
            selected="false"
            pattern="*.subproj">
      </filter>
   </extension>

</plugin>
