<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.objectstyle.wolips"
   name="%WOLips.pluginName"
   version="0.8.8"
   provider-name="%WOLips.providerName"
   class="org.objectstyle.wolips.WOLipsPlugin">

   <runtime>
      <library name="lib/wolips.jar">
      	<export name="*"/>
      </library>
      <library name="lib/woproject.jar">
      	<export name="*"/>
      </library>
      <library name="lib/cayenne.jar">
      	<export name="*"/>
      </library>
   </runtime>
   
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.apache.ant"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.apache.xerces"/>
   </requires>

   <!-- help -->
   <extension point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

 	<!-- Project Wizard -->
	<extension 
		point="org.eclipse.ui.newWizards">
		<category
	   		id = "org.objectstyle.wolips.wizards.webobjects.5.1"
	   		name="%WOLips.webobjects.5.1.categoryName">
		</category>
		<wizard
            		name="%WOLips.Component"
            		icon="icons/wobuilder/wocomponent_wiz.gif"
            		category="org.objectstyle.wolips.wizards.webobjects.5.1"
            		class="org.objectstyle.wolips.wizards.NewWO51ComponentWizard"
            		id="org.objectstyle.wolips.wizards.new.wo.5.1.component">
      		</wizard>
      		<wizard
            		name="%WOLips.Application"
            		icon="icons/woproject/woproject_wiz.gif"
            		category="org.objectstyle.wolips.wizards.webobjects.5.1"
            		class="org.objectstyle.wolips.wizards.NewWO51ApplicationWizard"
            		id="org.objectstyle.wolips.wizards.new.wo.5.1.application">
         	<description>
         	</description>
      		</wizard>
			<wizard
            		name="%WOLips.Framework"
            		icon="icons/woproject/woproject_wiz.gif"
            		category="org.objectstyle.wolips.wizards.webobjects.5.1"
            		class="org.objectstyle.wolips.wizards.NewWO51FrameworkWizard"
            		id="org.objectstyle.wolips.wizards.new.wo.5.1.framework">
         	<description>
         	</description>
   			</wizard>
		
  	</extension>  

	<!-- ant -->
     
	<extension point="org.eclipse.ant.core.extraClasspathEntries">
		<extraClasspathEntry library="lib/woproject.jar">
		</extraClasspathEntry>
		<extraClasspathEntry library="lib/cayenne.jar">
		</extraClasspathEntry>
		<extraClasspathEntry library="lib/log4j-1.2beta4.jar">
		</extraClasspathEntry>
	</extension>
	
   	<extension point="org.eclipse.ant.core.antTasks">
      	<antTask
         	name="woapplication"
         	class="org.objectstyle.woproject.ant.WOApplication"
         	library="lib/woproject.jar">
      	</antTask>
      	
     	<antTask
         	name="woframework"
         	class="org.objectstyle.woproject.ant.WOFramework"
         	library="lib/woproject.jar">
      	</antTask>

      	<antTask
         	name="wogenerator"
         	class="org.objectstyle.woproject.ant.WOGenerator"
         	library="lib/woproject.jar">
      	</antTask>
   	</extension>

<!-- =================================================================================== -->
<!-- Extension: WOFramework Builder                                                      -->
<!-- =================================================================================== -->

<extension 
	point="org.eclipse.core.resources.builders" 
	id="woframeworkbuilder"
	name="%WOFrameworkBuilderName">
	<builder>
		<run class="org.objectstyle.wolips.builder.WOFrameworkBuilder">
		</run>
	</builder>
</extension>

<!-- =================================================================================== -->
<!-- Extension: WOApplication Builder                                                      -->
<!-- =================================================================================== -->

<extension 
	point="org.eclipse.core.resources.builders" 
	id="woapplicationbuilder"
	name="%WOApplicationBuilderName">
	<builder>
		<run class="org.objectstyle.wolips.builder.WOApplicationBuilder">
		</run>
	</builder>
</extension>

<!-- project actions -->
<extension
    point="org.eclipse.ui.popupMenus">
    <objectContribution
        objectClass="org.eclipse.core.resources.IProject"
        adaptable="true">
        <filter
            name="nature"
            value="org.eclipse.jdt.core.javanature">
        </filter>
        <menu
            label="&amp;WOLips"
            path="additions"
            id="org.objectstyle.wolips">
            <separator
                name="wobuilder">
            </separator>
        </menu>
        <action
            label="%WOBuilder.Remove"
            class="org.objectstyle.wolips.actions.WOBuilderAction"
            menubarPath="org.objectstyle.wolips/wobuilder"
            id="%WOBuilder.Remove.ID">
        </action>
        <action
            label="%WOApplicationBuilder.Set"
            class="org.objectstyle.wolips.actions.WOBuilderAction"
            menubarPath="org.objectstyle.wolips/wobuilder"
            id="%WOApplicationBuilder.Set.ID">
        </action>
        <action
            label="%WOFrameworkBuilder.Set"
            class="org.objectstyle.wolips.actions.WOBuilderAction"
            menubarPath="org.objectstyle.wolips/wobuilder"
            id="%WOFrameworkBuilder.Set.ID">
        </action>
        <action
            label="%UpdatePB.Project.Set"
            class="org.objectstyle.wolips.actions.PBAction"
            menubarPath="org.objectstyle.wolips/wobuilder"
            id="%UpdatePB.Project.Set.ID">
        </action>
	</objectContribution>
</extension>

<extension
         id="org.objectstyle.wolips.editors"
         point="org.eclipse.ui.editors">
      <editor
            name="WOComponent Builder"
            default="true"
            icon="icons/wobuilder/webobjects_builder.gif"
            extensions="wod"
            launcher="org.objectstyle.wolips.editor.OpenSystemEditor"
            id="org.objectstyle.wolips.external.wod.editor">
      </editor>
      <editor
            name="EOModeler"
            default="true"
            icon="icons/eomodeler/webobjects_eomodeler.gif"
            extensions="eomodeld"
            launcher="org.objectstyle.wolips.editor.OpenSystemEditor"
            id="org.objectstyle.wolips.external.eomodeld.editor">
      </editor>
      <editor
            name="ProjectBuilderWO"
            default="false"
            icon="icons/projectbuilder/projectbuilderwo.gif"
            extensions="project"
            launcher="org.objectstyle.wolips.editor.OpenSystemEditor"
            id="org.objectstyle.wolips.external.eomodeld.projectbuilderwo">
      </editor>
   </extension>

	<extension point="org.eclipse.ui.importWizards">
		<wizard
		   id="org.objectstyle.wolips.wizards.ImportApplicationWizard"
		   name="%ApplicationImportWizard.label"
		   class="org.objectstyle.wolips.wizards.ImportApplicationWizard"
		   icon="icons/full/ctool16/exportjar_wiz.gif">
		   <description>%ApplicationImportWizard..description</description>
		</wizard>
		<wizard
		   id="org.objectstyle.wolips.wizards.ImportFrameworkWizard"
		   name="%FrameworkImportWizard.label"
		   class="org.objectstyle.wolips.wizards.ImportFrameworkWizard"
		   icon="icons/full/ctool16/exportjar_wiz.gif">
		   <description>%FrameworkImportWizard..description</description>
		</wizard>
	</extension>
	
</plugin>
