body {
	font-family: Helvetica;
	font-size: 1em;
}

a {
  color: rgb(100, 100, 155);
	text-decoration: none;
}

h1 {
	font-size: 1.4em;
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 5px;
}

h2 {
	margin: 0px;
	padding: 0px;
	font-size: 1.2em;
	padding-top: 15px;
}

h3 {
	font-size: 1em;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 5px;
}

h4 {
	font-size: 1em;
	margin: 0px;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul li {
	margin-left: 0px;
}

div.documentation {
	font-size: 1.0em;
}

li.nonClassProperty {
	color: rgb(100, 100, 100);
}

li.nonClassProperty div.documentation {
	color: rgb(100, 100, 100);
}

div.section {
	padding: 0px;
	margin-top: 15px;
}

div.section div.name {
	font-weight: bold;
}

div.actions {
	font-size: 0.8em;
	padding: 0px;
	margin: 0px;
	margin-bottom: 3px;
	margin-left: 1px;
}

div.actions a {
  text-decoration: none;
  margin-right: 20px;
  color: rgb(100, 100, 155);
}

div.section > ul {
  border: 1px solid rgb(125, 125, 180);
  border-bottom: none;
}

div.section > ul > li {
  margin: 0px;
  border-bottom: 1px solid rgb(125, 125, 180);
  padding-bottom: 5px;
}

div.section > ul > li.nonClassProperty {
  color: rgb(150, 150, 150);
}

div.section > ul > li.nonClassProperty div.name {
}

div.section > ul > li div.name {
  background-color: rgb(220, 220, 255);
  padding: 3px;
  padding-bottom: 3px;
}

div.section > ul > li div.mainDetail {
  padding: 3px;
  font-size: 0.8em;
}

table.details {
	font-size: 0.8em;
	padding: 0px;
	margin: 0px;
	color: rgb(175, 175, 175);
}

table.details th {
	text-align: left;
	font-weight: normal;
	text-transform: lowercase;
	padding: 0px;
	margin: 0px;
	padding-right: 5px;
}

table.details td {
	color: rgb(0, 0, 0);
	padding: 0px;
	margin: 0px;
}

table.details td a {
	text-decoration: none;
}

div.section > ul > li table.details {
	margin-left: 2px;
}

/* Entities */
div.section.entity div.parentEntity {
	font-size: 0.60em;
	display: inline;
}

div.section.entity div.childrenEntities {
	font-size: 0.60em;
}

.entity.abstract {
	font-style: italic;
}

/* Attributes */
div.section.attributes {
	float: left;
	width: 48%;
}

/* Relationships */
div.section.relationships {
  float: left;
	margin-left: 10px;
	width: 48%;
}

/* Fetch Specs */
div.section.fetchSpecs {
	clear: both;
}

ol.sortOrderings {
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0px;
}

ol.sortOrderings li {
	padding-left: 0px;
	margin-left: 0px;
}

/* Entity Indexes */
div.section.entityIndexes > ul li.entityIndex {
	margin-bottom: 10px;
}
