body {
	font-family: Helvetica;
	font-size: 1em;
}

h1 {
	font-size: 1.4em;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

h1 span.parent {
	font-size: 80%;
}

h2 {
	font-size: 1.2em;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

h3 {
	font-size: 1em;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 5px;
}

h4 {
	font-size: 1em;
	margin: 0px;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul li {
	margin-left: 20px;
}

div.documentation {
	font-size: 1.0em;
}

li.nonClassProperty {
	color: rgb(175, 175, 175);
}

li.nonClassProperty div.documentation {
	color: rgb(175, 175, 175);
}

div.section {
	padding: 0px;
	margin-top: 15px;
}

div.section h2 {
	margin: 0px;
	padding: 3px;
	margin-bottom: 0px;
}

div.section div.name {
	font-weight: bold;
}

div.section div.destination {
	font-size: 0.8em;
}

div.section div.documentation {
}

div.section a.entity {
	font-size: 0.8em;
	text-decoration: none;
	margin-left: 20px;
}

div.section.entity div.parentEntity {
	font-size: 0.60em;
	display: inline;
}

div.section.entity div.childrenEntities {
	font-size: 0.60em;
}

span.entity.abstract {
	font-style: italic;
}

div.section.attributes div.name {
}

div.section.attributes div.externalType {
	font-size: 0.8em;
}

div.section a.attributes {
	font-size: 0.8em;
	text-decoration: none;
	margin-left: 20px;
}

div.section a.relationships {
	font-size: 0.8em;
	text-decoration: none;
	margin-left: 20px;
}

div.section a.fetchSpecs {
	font-size: 0.8em;
	text-decoration: none;
	margin-left: 20px;
}

ol.sortOrderings {
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0px;
}

ol.sortOrderings li {
	padding-left: 0px;
	margin-left: 0px;
}

div.section.attributes {
	border-style: 1px solid red;
	float: left;
	width: 50%;
}

div.section.relationships {
	border-style: 1px solid blue;
	float: right;
	width: 50%;
}

div.section.fetchSpecs {
	clear: both;
}

ul.attributes li.attribute {
	margin-bottom: 10px;
}

ul.relationships li.relationship {
	margin-bottom: 10px;
}

ul.fetchSpecs li.fetchSpec {
	margin-bottom: 10px;
}

ul.entityIndexes li.entityIndex {
	margin-bottom: 10px;
}

table.details {
	margin-left: 20px;
	font-size: 0.8em;
	padding: 0px;
	color: rgb(175, 175, 175);
}

table.details th {
	text-align: left;
	font-weight: normal;
	text-transform: lowercase;
	padding: 0px;
	padding-right: 5px;
}

table.details td {
	padding: 0px;
	color: rgb(0, 0, 0);
}

table.details td a {
	text-decoration: none;
}