<html>
<head>
	<title>...</title>
	<link href = "eomodeldoc.css" rel = "stylesheet" type = "text/css">
	<script src = "prototype.js"/>
</head>
<body>

<h1>All Entities</h1>
<ul>
	#foreach($entity in $modelGroup.sortedEntities)
	#if ($entity.abstractEntity)
	<li class = "entity abstract"><a href = "$entity.model.name/entities/${entity.name}.html" target = "content">$entity.name</a></li>
	#else
	<li><a href = "$entity.model.name/entities/${entity.name}.html" target = "content">$entity.name</a></li>
	#end
	#end
</ul>

</body>
</html>