<html>
<head>
	<title>$model.name</title>
	<link href = "../eomodeldoc.css" rel = "stylesheet" type = "text/css">
	<script src = "../prototype.js"/>
</head>
<body>

<h1>$model.name</h1>
<h3><a href = "../content.html">All Models</a></h3>

#if (!$model.sortedEntities.empty)
<h2>Entities</h2>
<table class = "summary">
	#foreach($entity in $model.sortedEntities)
	<tr>
		<th><a href = "entities/${entity.name}.html">$entity.name</a></th>
		<td>
		#if ($entity.documentation)
		$entity.documentation
		#else
		No documentation available for ${entity.name}.
		#end
		</td>
	</tr>
	#end
</table>
#end

#if (!$model.sortedStoredProcedures.empty)
<h2>Stored Procedures</h2>
<table class = "summary">
	#foreach($storedProcedure in $model.sortedStoredProcedures)
	<tr>
		<th><a href = "storedProcedures/${storedProcedure.name}.html">$storedProcedure.name</a></th>
		<td>
		#if ($storedProcedure.documentation)
		$storedProcedure.documentation
		#end
		</td>
	</tr>
	#end
</table>
#end

</body>
</html>