<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.objectstyle.wolips.eogenerator.ui.editors.EOGeneratorEditor"
            contributorClass="org.objectstyle.wolips.eogenerator.ui.editors.EOGeneratorEditorContributor"
            default="true"
            extensions="eogen"
            icon="icons/eogenerator_wiz.gif"
            id="org.objectstyle.wolips.eogenerator.ui.editors.EOGeneratorEditor"
            name="EOGenerator Editor">
      </editor>
      <editor
            class="org.objectstyle.wolips.eogenerator.ui.editors.EOGeneratorEditor"
            default="true"
            extensions="eomodelgroup"
            icon="icons/eomodelGroup.gif"
            id="org.objectstyle.wolips.eogenerator.ui.editors.EOModelGroupEditor"
            name="EOModelGroup Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.objectstyle.wolips.eogenerator.ui.contribution1"
            nameFilter="*.eogen"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.objectstyle.wolips.eogenerator.ui.actions.GenerateAction"
               enablesFor="1"
               icon="icons/eogenerator_wiz.gif"
               id="org.objectstyle.wolips.eogenerator.ui.generateAction"
               label="EOGenerate ..."
               menubarPath="additions"/>
      </objectContribution>
   </extension>

</plugin>
