<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.objectstyle.wolips.woproject"
   name="%WOLips.woproject.pluginName"
   version="1.0.3"
   provider-name="%WOLips.providerName">

   <runtime>
      <library name="lib/woproject.jar">
         <export name="*"/>
         <packages prefixes="org.objectstyle.woproject"/>
      </library>
   </runtime>

<!-- =================================================================================== -->
<!-- Required Plugins                                                                    -->
<!-- =================================================================================== -->   
   <requires>
      <import plugin="org.objectstyle.wolips.cayenne"/>
      <import plugin="org.objectstyle.wolips.logging"/>
   </requires>


</plugin>
