<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.objectstyle.wolips.woproject"
   name="%WOLips.woproject.pluginName"
   version="1.0.6"
   provider-name="%WOLips.providerName">

   <runtime>
      <library name="lib/woproject.jar">
         <export name="*"/>
         <packages prefixes="org.objectstyle.woenvironment"/>
      </library>
   </runtime>

</plugin>
