<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
 	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.objectstyle.wolips.wodclipse.editor.WodEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            icon="icons/WODEditor.gif"
            id="org.objectstyle.wolips.wodclipse.WodEditor"
            name="Wod Editor">
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.wod"
            /> 
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Editing Wod Files Context"
            id="org.objectstyle.wolips.wodclipse.wodEditorScope"
            name="Editing Wod Files"
            parentId="org.eclipse.ui.textEditorScope"/>
   </extension>
		
 <extension
       point="org.eclipse.ui.popupMenus">
    <objectContribution
          adaptable="false"
          id="org.objectstyle.wolips.wodclipse.generateAPI.woContribution"
          nameFilter="*.wo"
          objectClass="org.eclipse.core.resources.IFolder">
       <action
             class="org.objectstyle.wolips.wodclipse.action.GenerateAPIAction"
             enablesFor="*"
             icon="icons/BindingOutline.gif"
             id="org.objectstyle.wolips.wodclipse.generateAPIActionForWO"
             label="Generate API File"
             menubarPath="additions"/>
    </objectContribution>
    <objectContribution
          adaptable="false"
          id="org.objectstyle.wolips.wodclipse.generateAPI.javaContribution"
          objectClass="org.eclipse.jdt.core.ICompilationUnit">
       <action
             class="org.objectstyle.wolips.wodclipse.action.GenerateAPIAction"
             enablesFor="*"
             icon="icons/BindingOutline.gif"
             id="org.objectstyle.wolips.wodclipse.generateAPIActionForJava"
             label="Generate API File"
             menubarPath="additions"/>
    </objectContribution>
 </extension>
 <extension
       point="org.eclipse.ui.editorActions">
    <editorContribution
          id="org.objectstyle.wolips.wodclipse.editorContribution3"
          targetID="org.objectstyle.wolips.componenteditor.ComponentEditor">
       <action
             class="org.objectstyle.wolips.wodclipse.action.OpenDeclarationAction"
             definitionId="org.objectstyle.wolips.wodclipse.openDeclaration"
             id="org.objectstyle.wolips.wodclipse.action.openDeclaration"
             label="Open WO Declaration"
             menubarPath="navigate/org.objectstyle.wolips.componenteditor.navigateMenuContribution/group1"/>
    </editorContribution>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          categoryId="org.objectstyle.wolips.wodclipse.category"
          description="Open WO Declaration"
          id="org.objectstyle.wolips.wodclipse.action.openDeclaration"
          name="Open WO Declaration"/>
    <category
          id="org.objectstyle.wolips.wodclipse.category"
          name="WOD Editor"/>
 </extension>
</plugin>
