<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


<!-- =================================================================================== -->
<!-- Extension: TargetBuilder                                                      -->
<!-- =================================================================================== -->
   <extension
         id="targetbuilder"
         name="Target Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.objectstyle.wolips.target.TargetBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="targetbuildernature"
         name="TargetBuilderNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.objectstyle.wolips.target.TargetBuilderNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>

</plugin>
