<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.objectstyle.wolips.workbenchutilities"
   name="WOLips Workbench Utilities Plug-in"
   version="1.0.6"
   provider-name="objectstyle.org"
   class="org.objectstyle.wolips.workbenchutilities.WorkbenchUtilitiesPlugin">

   <runtime>
      <library name="lib/wolips-workbenchutilities.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
   </requires>


</plugin>
