<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<!-- =================================================================================== -->
<!-- Extension: Editors                                                                  -->
<!-- =================================================================================== -->   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.objectstyle.wolips.ruleeditor.editor.RuleEditorPart"
            default="false"
            icon="icons/editors/ruleeditor.gif"
            id="org.objectstyle.wolips.ruleeditor"
            name="RuleEditor (in place)">
			<contentTypeBinding
               contentTypeId="org.objectstyle.wolips.editors.d2wmodel"
            />
      </editor>
   </extension>
</plugin>
