<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.objectstyle.wolips.builders">
      <builder
            class="org.objectstyle.wolips.eogenerator.core.builder.EOGeneratorBuilder"
            id="org.objectstyle.wolips.eogenerator.core.builder.EOGeneratorBuilder"
            name="EOGenerator Builder"/>
   </extension>

</plugin>
