                <dict>
                        <key>Class</key>
                        <string>LineGraphic</string>
                        <key>Head</key>
                        <dict>
                                <key>ID</key>
                                <integer>$toID</integer>
                        </dict>
                        <key>ID</key>
                        <integer>$id</integer>
                        <key>OrthogonalBarAutomatic</key>
                        <true/>
                        <key>OrthogonalBarPosition</key>
                        <real>-1</real>
                        <!--
                        <key>Points</key>
                        <array>
                                <string>{383, 290}</string>
                                <string>{231.416, 390.843}</string>
                        </array>
                        -->
                        <key>Style</key>
                        <dict>
                                <key>stroke</key>
                                <dict>
                                        <key>HeadArrow</key>
                                        <string>DoubleStickArrow</string>
                                        <key>LineType</key>
                                        <integer>2</integer>
                                        <key>TailArrow</key>
                                        <string>0</string>
                                </dict>
                        </dict>
                        <key>Tail</key>
                        <dict>
                                <key>ID</key>
                                <integer>$fromID</integer>
                                <key>Info</key>
                                <integer>2</integer>
                        </dict>
                </dict>
