<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


<!-- =================================================================================== -->
<!-- Extension: Team file types                                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="wod">
      </fileTypes>
      <fileTypes
            type="text"
            extension="woo">
      </fileTypes>
      <fileTypes
            type="text"
            extension="plist">
      </fileTypes>
      <fileTypes
            type="text"
            extension="eomodeld">
      </fileTypes>
      <fileTypes
            type="text"
            extension="fspec">
      </fileTypes>
      <fileTypes
            type="text"
            extension="api">
      </fileTypes>
      <fileTypes
            type="text"
            extension="postamble">
      </fileTypes>
      <fileTypes
            type="text"
            extension="preamble">
      </fileTypes>
      <fileTypes
            type="text"
            extension="makefile">
      </fileTypes>
      <fileTypes
            type="text"
            extension="d2wmodel">
      </fileTypes>
      <fileTypes
            type="text"
            extension="pbxuser">
      </fileTypes>
      <fileTypes
            type="text"
            extension="pbxproj">
      </fileTypes>
      <fileTypes
            type="text"
            extension="ini">
      </fileTypes>
      <fileTypes
            type="text"
            extension="mappings">
      </fileTypes>
      <fileTypes
            type="text"
            extension="ant.classpaths.user.home">
      </fileTypes>
      <fileTypes
            type="text"
            extension="ant.classpaths.wo.wolocalroot">
      </fileTypes>
      <fileTypes
            type="text"
            extension="ant.classpaths.wo.wosystemwoot">
      </fileTypes>
      <fileTypes
            type="text"
            extension="ant.frameworks.user.home">
      </fileTypes>
      <fileTypes
            type="text"
            extension="ant.frameworks.wo.wolocalroot">
      </fileTypes>
      <fileTypes
            type="text"
            extension="ant.frameworks.wo.wosystemroot">
      </fileTypes>
      <fileTypes
            type="text"
            extension="resources.include.patternset">
      </fileTypes>
      <fileTypes
            type="text"
            extension="resources.exclude.patternset">
      </fileTypes>
      <fileTypes
            type="text"
            extension="wsresources.include.patternset">
      </fileTypes>
      <fileTypes
            type="text"
            extension="wsresources.exclude.patternset">
      </fileTypes>
      <fileTypes
            type="text"
            extension="build.launch">
      </fileTypes>
      <fileTypes
            type="text"
            extension="wolips">
      </fileTypes>
      <fileTypes
            type="text"
            extension="wotaglib">
      </fileTypes>
   </extension>
<!-- =================================================================================== -->
<!-- Extension: Ignored team file types                                                          -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.team.core.ignore">
      <ignore
            enabled="true"
            pattern="*.woa">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.framework">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.eomodeld~">
      </ignore>
      <ignore
            enabled="false"
            pattern=".woo">
      </ignore>
      <ignore
            enabled="false"
            pattern=".api">
      </ignore>
      <ignore
            enabled="false"
            pattern="PB.project">
      </ignore>
   </extension>

</plugin>
