<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.zeroturnaround.eclipse.plugins">
      <plugin
            class="org.objectstyle.wolips.jrebel.WOJRebelPluginProvider"
            name="WOLips JRebel Plugin">
      </plugin>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="org.zeroturnaround.eclipse.ui.tabs.JRebelTab"
            group="org.objectstyle.wolips.launching.WOLocalJavaApplicationTabGroup"
            id="org.zeroturnaround.eclipse.launch.localJavaApplication"
            name="JRebel">
         <placement
               after="org.eclipse.debug.ui.CommonTab">
         </placement>
      </tab>
   </extension>
   <extension
         point="org.zeroturnaround.eclipse.rebelLaunchConfigurationAdaptor">
      <rebelLaunchConfigurationAdaptor
            class="org.objectstyle.wolips.jrebel.WOJRebelLaunchConfigProvider">
      </rebelLaunchConfigurationAdaptor>
   </extension>
</plugin>
